<footer>
    <div class="container container-custom">
        <div class="row">
            <div class="col-xl-9 col-lg-8 col-12">
                <div class="footer-plashka">
                    <div class="row">
                        <div class="col-xl-5 col-lg-6 col-12">
                            <p class="footer-title">Меню</p>
                            <div class="footer-list-wrp">
                                <ul class="footer-list">
                                    <li>
                                        <a href="https://romura.space/vancouver/pages/output/news.html">Новости</a>
                                    </li>
                                    <li>
                                        <a href="https://romura.space/vancouver/pages/output/blog.html">Блоги</a>
                                    </li>
                                    <li>
                                        <a href="#">Недвижимость</a>
                                    </li>
                                    <li>
                                        <a href="https://romura.space/vancouver/pages/output/business.html">Справочник</a>
                                    </li>
                                </ul>
                                <ul class="footer-list">
                                    <li>
                                        <a href="https://romura.space/vancouver/pages/output/vacancy.html">Работа</a>
                                    </li>
                                    <li>
                                        <a href="#">Афиша</a>
                                    </li>
                                    <li>
                                        <a href="#">Знакомства</a>
                                    </li>
                                    <li>
                                        <a href="#">Видео/Фото</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-xl-5 offset-xl-1 offset-0 col-lg-6 col-12">
                            <p class="footer-title">Полезные ссылки</p>
                            <div class="footer-list-wrp">
                                <ul class="footer-list">
                                    <li>
                                        <a href="#">Погода</a>
                                    </li>
                                    <li>
                                        <a href="#">Юмор</a>
                                    </li>
                                    <li>
                                        <a href="#">Опросы</a>
                                    </li>
                                    <li>
                                        <a href="#">Форум</a>
                                    </li>
                                    <li>
                                        <a href="#">О Проекте</a>
                                    </li>
                                </ul>
                                <ul class="footer-list">
                                    <li>
                                        <a href="https://romura.space/vancouver/pages/output/policy.html">Privacy Policy</a>
                                    </li>
                                    <li>
                                        <a href="#">Партнеры</a>
                                    </li>
                                    <li>
                                        <a href="#">Связь с нами</a>
                                    </li>
                                    <li>
                                        <a href="#">Рекламодателям</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-12">
                <div class="footer-red">
                    <div>
                        <p class="footer-title">Еженедельная рассылка</p>
                        <p class="one-letter">Одно письмо с лучшим за неделю</p>
                        <form id="form1" action="#">
                            <div class="red-input-wrp">
                                <div class="input-style">
                                    <input class="input-form input-valid input-plane" type="email" data-input="email" name="email" placeholder="E-mail">
                                    <p class="input-error">Ошибка ввода</p>
                                </div>
                                <!-- <input class="input-plane" type="text" placeholder="Ваш e-mail"> -->
                                <button class="send-btn-plane" type="button" name="button">
                                    <img src="../../build/img/send-telega-plane.svg" alt="">
                                </button>
                            </div>
                        </form>
                    </div>
                    <ul class="footer-list-acc">
                        <li>
                            <a href="#">
                                <img src="../../build/img/fb.svg" alt="">
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="../../build/img/insta.svg" alt="">
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="../../build/img/youtube.svg" alt="">
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="../../build/img/telegram.svg" alt="">
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="../../build/img/vk.svg" alt="">
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <p>Наш Ванкувер ©. 2016 - 2020 All Rights Reserved.</p>
            <p>Website Development by EFC Marketing</p>
        </div>
    </div>
</footer>
