<main class="vacancy-page vacancyPaid-page">
    <div class="container container-custom">
        <section class="banner-main">
            <div class="row">
                <div class="col-xl-3 col-lg-4 col-md-5">
                    <div class="banner-img">
                        <img src="../../build/img/banner1.png" alt="">
                    </div>
                </div>
                <div class="col-xl-9 col-lg-8 col-md-7 col-12 d-md-block d-none">
                    <div class="banner-img">
                        <img src="../../build/img/banner2.png" alt="">
                    </div>
                </div>
            </div>
        </section>
        <!-- 2 block  -->
        <div class="open-cat-btn" data-hot="hotNews4">
            <img src="../../build/img/voronka.svg" alt="">
            <p>Все объявления</p>
        </div>
        <div class="block-vac-btn-wrp block-vac-btn-wrp-mob">
            <div class="block-vac-btn" onclick="javascript:location.href='https://romura.space/vancouver/pages/output/vacancyCreate.html'">
                <img src="../../build/img/write.svg" alt="">
                <p>Добавить бизнес или услугу</p>
            </div>
            <div class="block-vac-btn">
                <img src="../../build/img/user.svg" alt="">
                <p class="logIn-btn">Войти в личный кабинет</p>
            </div>
        </div>
        <section class="readable-section">
            <div class="row">
                <div class="col-xl-9 col-lg-8 col-12">
                    <div class="row row-height">
                        <div class="col-xl-3 col-md-4 col-12 col-inner-3">
                            <div class="plashka-sticky plashka-sticky-buss">
                                <div class="plashka-sticky-content-wrp">
                                    <p class="vacancy-title-link">Справочник</p>
                                    <p class="vacancy-title-count">Всего опубликовано (1484)</p>
                                    <div class="input-buss-search-wrp">
                                        <input type="text" class="input-buss-search" placeholder="Поиск...">
                                        <div class="input-buss-search-btn">
                                            <img src="../../build/img/search.svg" alt="">
                                        </div>
                                    </div>
                                    <div class="vibor-wrp">
                                        <label class="radio">
                                            <input type="radio" name="buss" checked="">
                                            <div class="radio__text">Название</div>
                                        </label>
                                        <label class="radio">
                                            <input type="radio" name="buss">
                                            <div class="radio__text">Тел.</div>
                                        </label>
                                    </div>
                                    <p class="classic-link">
                                        <a href="#">Автомобили</a>
                                    </p>
                                    <p class="classic-link">
                                        <a href="#">Астрологи, ясновидцы</a>
                                    </p>
                                    <p class="classic-link">
                                        <a href="#">Дети</a>
                                    </p>
                                    <p class="classic-link">
                                        <a href="#">Домашние животные</a>
                                    </p>
                                    <p class="classic-link">
                                        <a href="#">Компьютеры</a>
                                    </p>
                                    <p class="classic-link">
                                        <a href="#">Культура</a>
                                    </p>
                                    <p class="classic-link">
                                        <a href="#">Автомобили</a>
                                    </p>
                                    <p class="classic-link">
                                        <a href="#">Астрологи, ясновидцы</a>
                                    </p>
                                    <p class="classic-link">
                                        <a href="#">Дети</a>
                                    </p>
                                    <p class="classic-link">
                                        <a href="#">Домашние животные</a>
                                    </p>
                                    <p class="classic-link">
                                        <a href="#">Компьютеры</a>
                                    </p>
                                    <p class="classic-link">
                                        <a href="#">Культура</a>
                                    </p>
                                    <p class="classic-link">
                                        <a href="#">Автомобили</a>
                                    </p>
                                    <p class="classic-link">
                                        <a href="#">Астрологи, ясновидцы</a>
                                    </p>
                                    <p class="classic-link">
                                        <a href="#">Дети</a>
                                    </p>
                                    <p class="classic-link">
                                        <a href="#">Домашние животные</a>
                                    </p>
                                    <p class="classic-link">
                                        <a href="#">Компьютеры</a>
                                    </p>
                                    <p class="classic-link">
                                        <a href="#">Культура</a>
                                    </p>

                                </div>
                                <div class="block-vac-btn-wrp">
                                    <div class="block-vac-btn">
                                        <img src="../../build/img/write.svg" alt="">
                                        <p>Добавить бизнес или услугу</p>
                                    </div>
                                    <div class="block-vac-btn">
                                        <img src="../../build/img/user.svg" alt="">
                                        <p class="logIn-btn">Войти в личный кабинет</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-9 col-md-8 col-12 col-inner-9">
                            <div class="plashka-news-wrp">
                                <div class="vacancyPaid-block tag-block" data-color="green">
                                    <div class="tag-vip-wrapper">
                                        <div class="announcment-tag">Маркетинг</div>
                                    </div>
                                    <p class="vacancyPaid-title businessPaid-title">EFC Marketing - Эффективно, быстро, надежно.</p>
                                    <div class="vacancyPaid-text businessPaid-text-count">
                                        <p>➡️ Goole отзывы — исправляем репутацию!</p>
                                        <p>➡️ Разработка сайтов от 999 до 1400$.</p>
                                        <p>➡️ Сайты компании на 15-</p>
                                    </div>
                                    <div class="vacancyPaid-plashka vacancyPaid-plashka-busi">
                                        <div class="row">
                                            <div class="col-lg-4 col-12">
                                                <p class="vacancyPaid-property">Контактное имя:</p>
                                                <p class="vacancyPaid-value">Артём</p>
                                            </div>
                                            <div class="col-lg-4 col-12">
                                                <p class="vacancyPaid-property">Номер телефона:</p>
                                                <p class="vacancyPaid-value"><a href="tel:(416) 938-3727">(416) 938-3727</a></p>
                                                <p class="vacancyPaid-value"><a href="tel:(416) 938-3727">(416) 938-3727</a></p>
                                            </div>
                                            <div class="col-lg-4 col-12">
                                                <p class="vacancyPaid-property">Соцсети</p>
                                                <ul class="busi-soc">
                                                    <li>
                                                        <a href="#">
                                                            <img src="../../build/img/fb-color.svg" alt="">
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#">
                                                            <img src="../../build/img/insta-color.svg" alt="">
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#">
                                                            <img src="../../build/img/youtube-color.svg" alt="">
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#">
                                                            <img src="../../build/img/twitter-color.svg" alt="">
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#">
                                                            <img src="../../build/img/tiktok-color.svg" alt="">
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="col-lg-4 col-12">
                                                <p class="vacancyPaid-property">Вебсайт:</p>
                                                <p class="vacancyPaid-value">
                                                    <a href="https://efcmarketing.com/" target="_blank">
                                                        efcmarketing.com
                                                    </a>
                                                </p>
                                            </div>
                                        </div>
                                        <div class="row business-paid-row">
                                            <div class="col-lg-7 col-12">
                                                <p class="vacancyPaid-property">Адрес:</p>
                                                <p class="vacancyPaid-value vacancyPaid-value-map"><a href="https://yandex.ru/maps/?text=2101 Lahb Ave., Vancouver, BC V6L 0B9, Канада" target="_blank">4328 Main St, Vancouver, BC V5V 3P9</a></p>
                                            </div>
                                            <div class="col-lg-5 col-12">
                                                <div class="write-messaga-btn write-us-btn">Написать сообщение</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="acc-article-line">
                                        <div class="flex-vertical">
                                            <p>Поделиться:</p>
                                            <ul class="list-article-line">
                                                <li>
                                                    <a href="#">
                                                        <img src="../../build/img/fb-color.svg" alt="">
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <img src="../../build/img/mes-color.svg" alt="">
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <img src="../../build/img/whatsapp-color.svg" alt="">
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <img src="../../build/img/telegram-color.svg" alt="">
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <img src="../../build/img/e-mail-color.svg" alt="">
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="attention-btn complaint-btn">
                                            <img src="../../build/img/attention.svg" alt="">
                                            <p>Пожаловаться</p>
                                        </div>
                                    </div>
                                </div>
                                <p class="more-vac">Другие бизнесы и услуги по теме:</p>
                                <div class="announcment-block announcment-block-simple bus-simple">
                                    <div class="announcment-block-inner">
                                        <div class="announcment-block-content">
                                            <div>
                                                <p class="announcment-name">Противоположная точка зрения подразумевает.</p>
                                                <a href="https://yandex.ru/maps/?text=2101 Lahb Ave., Vancouver, BC V6L 0B9, Канада" target="_blank" class="bus-map">
                                                    <img src="../../build/img/bus-map.svg" alt="">
                                                    <span>4328 Main St, Vancouver, BC V5V 3P9</span>
                                                </a>
                                            </div>
                                            <div class="announcment-tag">Автосервисы, автотехцентры</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="announcment-block announcment-block-simple bus-simple">
                                    <div class="announcment-block-inner">
                                        <div class="announcment-block-content">
                                            <div>
                                                <p class="announcment-name">С другой стороны, начало повседневной работы.</p>
                                                <a href="https://yandex.ru/maps/?text=2101 Lahb Ave., Vancouver, BC V6L 0B9, Канада" target="_blank" class="bus-map">
                                                    <img src="../../build/img/bus-map.svg" alt="">
                                                    <span>ул. Тракторостроителей, цех номер 5, Ванкувер</span>
                                                </a>
                                            </div>
                                            <div class="announcment-tag">Автосервисы, автотехцентры</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="announcment-block announcment-block-simple bus-simple">
                                    <div class="announcment-block-inner">
                                        <div class="announcment-block-content">
                                            <div>
                                                <p class="announcment-name">Но активно развивающиеся страны третьего мира приз</p>
                                                <a href="https://yandex.ru/maps/?text=2101 Lahb Ave., Vancouver, BC V6L 0B9, Канада" target="_blank" class="bus-map">
                                                    <img src="../../build/img/bus-map.svg" alt="">
                                                    <span>ул. Тракторостроителей, цех номер 5, Ванкувер</span>
                                                </a>
                                            </div>
                                            <div class="announcment-tag">Автосервисы, автотехцентры</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-12">
                    <div class="banner-news-wrp">
                        <div class="banner-news">
                            <img src="../../build/img/afisha-banner1.png" alt="">
                        </div>
                    </div>
                    <div class="banner-news-wrp">
                        <div class="banner-news">
                            <img src="../../build/img/afisha-banner2.png" alt="">
                        </div>
                    </div>
                    <div class="main-news-small-sticky">
                        <div class="main-news-small">
                            <ul class="small-tabs really-small">
                                <li class="active" data-tab="tab1">Последние статьи</li>
                                <li data-tab="tab2">Последние комментарии</li>
                                <li data-tab="tab3">Популярные статьи</li>
                            </ul>
                            <div class="more-read-news-wrp">
                                <div id="tab1" class="more-read-news-blocks active">
                                    <a href="#" class="more-read-news-block">
                                        <img src="../../build/img/mini-news1.png" alt="">
                                        <p>Въезд в центр Ванкувера станет платным</p>
                                    </a>
                                    <a href="#" class="more-read-news-block">
                                        <img src="../../build/img/mini-news2.png" alt="">
                                        <p>В Ванкувере женщина плюнула в пассажира автобуса и получила за это</p>
                                    </a>
                                    <a href="#" class="more-read-news-block">
                                        <img src="../../build/img/mini-news3.png" alt="">
                                        <p>Пособия на ребенка в Канаде: Особенности и размер выплат</p>
                                    </a>
                                    <a href="#" class="more-read-news-block">
                                        <img src="../../build/img/mini-news4.png" alt="">
                                        <p>Один дома: с какого возраста ребенка в Канаде можно оставить без присмотра</p>
                                    </a>
                                    <a href="#" class="more-read-news-block">
                                        <img src="../../build/img/mini-news3.png" alt="">
                                        <p>Пособия на ребенка в Канаде: Особенности и размер выплат</p>
                                    </a>
                                    <a href="#" class="more-read-news-block">
                                        <img src="../../build/img/mini-news4.png" alt="">
                                        <p>Один дома: с какого возраста ребенка в Канаде можно оставить без присмотра</p>
                                    </a>
                                </div>
                                <div id="tab2" class="more-read-news-blocks">
                                    <a href="#" class="more-read-comm-block">
                                        <img src="../../build/img/mini-news1.png" alt="">
                                        <div>
                                            <p class="author-comm">Иван Иванов на:</p>
                                            <p>Въезд в центр Ванкувера станет платным</p>
                                        </div>
                                    </a>
                                    <a href="#" class="more-read-comm-block">
                                        <img src="../../build/img/mini-news2.png" alt="">
                                        <div>
                                            <p class="author-comm">Иван Иванов на:</p>
                                            <p>В Ванкувере женщина плюнула в пассажира автобуса и получила за это</p>
                                        </div>
                                    </a>
                                </div>
                                <div id="tab3" class="more-read-news-blocks">
                                    <a href="#" class="more-read-news-block">
                                        <img src="../../build/img/mini-news4.png" alt="">
                                        <p>Один дома: с какого возраста ребенка в Канаде можно оставить без присмотра</p>
                                    </a>
                                    <a href="#" class="more-read-news-block">
                                        <img src="../../build/img/mini-news3.png" alt="">
                                        <p>Пособия на ребенка в Канаде: Особенности и размер выплат</p>
                                    </a>
                                    <a href="#" class="more-read-news-block">
                                        <img src="../../build/img/mini-news4.png" alt="">
                                        <p>Один дома: с какого возраста ребенка в Канаде можно оставить без присмотра</p>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="section-banner-slider">
            <div class="banner-slider-wrp">
                <div class="banner-slider">
                    <div>
                        <div class="banner-slider-img">
                            <img src="../../build/img/banner-slider1.png" alt="">
                        </div>
                    </div>
                    <div>
                        <div class="banner-slider-img">
                            <img src="../../build/img/banner-slider2.png" alt="">
                        </div>
                    </div>
                    <div>
                        <div class="banner-slider-img">
                            <img src="../../build/img/banner-slider3.png" alt="">
                        </div>
                    </div>
                    <div>
                        <div class="banner-slider-img">
                            <img src="../../build/img/banner-slider4.png" alt="">
                        </div>
                    </div>
                    <div>
                        <div class="banner-slider-img">
                            <img src="../../build/img/banner-slider5.png" alt="">
                        </div>
                    </div>
                    <div>
                        <div class="banner-slider-img">
                            <img src="../../build/img/banner-slider1.png" alt="">
                        </div>
                    </div>
                    <div>
                        <div class="banner-slider-img">
                            <img src="../../build/img/banner-slider3.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="main-dots-arrows-wrp">
                    <div class="slider-arrow prev-bunner-arrow">
                        <img src="../../build/img/prev.svg" alt="">
                    </div>
                    <div class="main-dots-wrp"></div>
                    <div class="slider-arrow next-bunner-arrow">
                        <img src="../../build/img/next.svg" alt="">
                    </div>
                </div>
            </div>
        </section>
        <section class="section-announcment">
            <div class="row">
                <div class="col-lg-6 col-12">
                    <div class="plashka-announcment">
                        <div>
                            <div class="general-line-title">
                                <p>Работа в Ванкувере</p>
                                <a href="https://romura.space/vancouver/pages/output/vacancy.html">Все вакансии</a>
                            </div>
                            <a href="#" class="announcment-block tag-block" data-color="blue">
                                <div>
                                    <p class="announcment-name">Установщик окон в районе Бернаби. Машина обязательна. Зарплата от 5000 CAD в месяц</p>
                                    <p class="announcment-data">17.11.2020</p>
                                </div>
                                <div class="announcment-tag">Требуются работники</div>
                            </a>
                            <a href="#" class="announcment-block tag-block" data-color="blue">
                                <div>
                                    <p class="announcment-name">Установщик окон в районе Бернаби. Машина обязательна. Зарплата от 5000 CAD в месяц</p>
                                    <p class="announcment-data">17.11.2020</p>
                                </div>
                                <div class="announcment-tag">Требуются работники</div>
                            </a>
                            <a href="#" class="announcment-block tag-block" data-color="blue">
                                <div>
                                    <p class="announcment-name">Установщик окон в районе Бернаби. Машина обязательна. Зарплата от 5000 CAD в месяц</p>
                                    <p class="announcment-data">17.11.2020</p>
                                </div>
                                <div class="announcment-tag">Требуются работники</div>
                            </a>
                            <a href="#" class="announcment-block tag-block" data-color="blue">
                                <div>
                                    <p class="announcment-name">Установщик окон в районе Бернаби. Машина обязательна. Зарплата от 5000 CAD в месяц</p>
                                    <p class="announcment-data">17.11.2020</p>
                                </div>
                                <div class="announcment-tag">Требуются работники</div>
                            </a>
                            <a href="#" class="announcment-block tag-block" data-color="orange">
                                <div>
                                    <p class="announcment-name">Смешно, но склады ломятся от зерна</p>
                                    <p class="announcment-data">17.11.2020</p>
                                </div>
                                <div class="announcment-tag">Ищу работу</div>
                            </a>
                            <a href="#" class="announcment-block tag-block" data-color="orange">
                                <div>
                                    <p class="announcment-name">Сложно сказать, почему прототип - не панацея</p>
                                    <p class="announcment-data">17.11.2020</p>
                                </div>
                                <div class="announcment-tag">Ищу работу</div>
                            </a>
                            <a class="mob-all-link" href="https://romura.space/vancouver/pages/output/vacancy.html">Все вакансии</a>
                        </div>
                        <div class="btn-place" onclick="javascript:location.href='https://romura.space/vancouver/pages/output/vacancyCreate.html'">
                            <img src="../../build/img/add.svg" alt="">
                            <span>Разместить новое объявление</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-12">
                    <div class="plashka-afisha">
                        <div class="general-line-title">
                            <p>Афиша</p>
                            <a href="#">Все мероприятия</a>
                        </div>
                        <a href="#" class="afisha-block tag-block" data-color="violet">
                            <div>
                                <img src="../../build/img/afisha1.jpg" alt="">
                                <div class="afisha-text">
                                    <p class="afisha-name">Анжелика Вариум и Леонид Агутин (Большой концерт</p>
                                    <p class="afisha-data">
                                        <span>Ванкувер</span>
                                        <span>10.12.2020</span>
                                    </p>
                                </div>
                            </div>
                            <div class="announcment-tag">Концерт</div>
                        </a>
                        <a href="#" class="afisha-block tag-block" data-color="violet">
                            <div>
                                <img src="../../build/img/afisha1.jpg" alt="">
                                <div class="afisha-text">
                                    <p class="afisha-name">Анжелика Вариум и Леонид Агутин (Большой концерт и Леонид Агутин (Большой концерт</p>
                                    <p class="afisha-data">
                                        <span>Ванкувер</span>
                                        <span>10.12.2020</span>
                                    </p>
                                </div>
                            </div>
                            <div class="announcment-tag">Мероприятие</div>
                        </a>
                        <a href="#" class="afisha-block tag-block" data-color="violet">
                            <div>
                                <img src="../../build/img/afisha1.jpg" alt="">
                                <div class="afisha-text">
                                    <p class="afisha-name">Анжелика Вариум и Леонид Агутин (Большой концерт</p>
                                    <p class="afisha-data">
                                        <span>Ванкувер</span>
                                        <span>10.12.2020</span>
                                    </p>
                                </div>
                            </div>
                            <div class="announcment-tag">Вебинар</div>
                        </a>
                        <a href="#" class="afisha-block tag-block" data-color="violet">
                            <div>
                                <img src="../../build/img/afisha1.jpg" alt="">
                                <div class="afisha-text">
                                    <p class="afisha-name">Анжелика Вариум и Леонид</p>
                                    <p class="afisha-data">
                                        <span>Ванкувер</span>
                                        <span>10.12.2020</span>
                                    </p>
                                </div>
                            </div>
                            <div class="announcment-tag">Концерт</div>
                        </a>
                        <a href="#" class="afisha-block tag-block" data-color="violet">
                            <div>
                                <img src="../../build/img/afisha1.jpg" alt="">
                                <div class="afisha-text">
                                    <p class="afisha-name">Анжелика Вариум и Леонид Агутин (Большой концерт</p>
                                    <p class="afisha-data">
                                        <span>Ванкувер</span>
                                        <span>10.12.2020</span>
                                    </p>
                                </div>
                            </div>
                            <div class="announcment-tag">Мероприятие</div>
                        </a>
                        <a href="#" class="afisha-block tag-block" data-color="violet">
                            <div>
                                <img src="../../build/img/afisha1.jpg" alt="">
                                <div class="afisha-text">
                                    <p class="afisha-name">Анжелика Вариум и Леонид Агутин (Большой концерт</p>
                                    <p class="afisha-data">
                                        <span>Ванкувер</span>
                                        <span>10.12.2020</span>
                                    </p>
                                </div>
                            </div>
                            <div class="announcment-tag">Вебинар</div>
                        </a>
                        <a href="#" class="afisha-block tag-block" data-color="violet">
                            <div>
                                <img src="../../build/img/afisha1.jpg" alt="">
                                <div class="afisha-text">
                                    <p class="afisha-name">Анжелика Вариум и Леонид Агутин (Большой концерт</p>
                                    <p class="afisha-data">
                                        <span>Ванкувер</span>
                                        <span>10.12.2020</span>
                                    </p>
                                </div>
                            </div>
                            <div class="announcment-tag">Вебинар</div>
                        </a>
                        <a class="mob-all-link" href="#">Все мероприятия</a>
                    </div>
                </div>
            </div>
        </section>
    </div>
</main>
