<main class="news-page">
    <div class="container container-custom">
        <section class="banner-main">
            <div class="row">
                <div class="col-xl-3 col-lg-4 col-md-5">
                    <div class="banner-img">
                        <img src="../../build/img/banner1.png" alt="">
                    </div>
                </div>
                <div class="col-xl-9 col-lg-8 col-md-7 col-12 d-md-block d-none">
                    <div class="banner-img">
                        <img src="../../build/img/banner2.png" alt="">
                    </div>
                </div>
            </div>
        </section>
        <!-- 2 block  -->
        <ul class="link-to-article">
            <li class="active"  data-hot="hotNews1">
                <a href="#">Статьи от сайта Наш Ванкувер</a>
            </li>
            <li  data-hot="hotNews2">
                <a href="#">Лента горячих новостей 24/7</a>
            </li>
        </ul>
        <div class="open-cat-btn">
            <img src="../../build/img/voronka.svg" alt="">
            <p>Выберите категорию</p>
        </div>
        <section class="readable-section">
            <div class="row">
                <div class="col-xl-9 col-lg-8 col-12">
                    <ul class="hot-tabs">
                        <li class="active" data-hot="hotNews1">Статьи от сайта Наш Ванкувер</li>
                        <li data-hot="hotNews2">Лента горячих новостей 24/7</li>
                    </ul>
                    <div class="row row-height">
                        <div class="col-xl-3 col-md-4 col-12 col-inner-3">
                            <div class="plashka-sticky">
                                <div class="plashka-sticky-content-wrp">
                                    <div class="plashka-sticky-content hot-switch active" data-hot="hotNews1">
                                        <div>
                                            <p class="classic-link">
                                                <a href="#">Все статьи</a>
                                            </p>
                                            <p class="classic-link">
                                                <a href="#">Новости Ванкувера</a>
                                            </p>
                                            <p class="classic-link">
                                                <a href="#">Новости Канады</a>
                                            </p>
                                            <p class="classic-link">
                                                <a href="#">Covid-19</a>
                                            </p>
                                            <p class="classic-link">
                                                <a href="#">Технологии</a>
                                            </p>
                                            <p class="classic-link">
                                                <a href="#">Фото/Видео</a>
                                            </p>
                                            <p class="classic-link">
                                                <a href="#">Путешествия</a>
                                            </p>
                                            <p class="classic-link">
                                                <a href="#">О Ванкувере</a>
                                            </p>
                                            <p class="classic-link">
                                                <a href="#">О Канаде</a>
                                            </p>
                                        </div>
                                        <div>
                                            <p class="title-link">
                                                <a href="#">Блоги/Мнения</a>
                                            </p>
                                            <p class="classic-link">
                                                <a href="#">Все записи</a>
                                            </p>
                                            <p class="classic-link">
                                                <a href="#">Авторы</a>
                                            </p>
                                            <p class="classic-link">
                                                <a href="#">Интервью</a>
                                            </p>
                                            <p class="classic-link">
                                                <a href="#">Жители Ванкувера</a>
                                            </p>
                                            <p class="classic-link">
                                                <a href="#">Партнёрский материал</a>
                                            </p>
                                        </div>
                                        <div>
                                            <p class="title-link">
                                                <a href="#">Иммиграция</a>
                                            </p>
                                            <p class="classic-link">
                                                <a href="#">Новости иммиграции</a>
                                            </p>
                                            <p class="classic-link">
                                                <a href="#">Иммиграционные программы</a>
                                            </p>
                                            <p class="classic-link">
                                                <a href="#">Статьи об иммиграции</a>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="plashka-sticky-content hot-switch" data-hot="hotNews2">
                                        <div>
                                            <p class="classic-link">
                                                <a href="#">Вся лента</a>
                                            </p>
                                        </div>
                                        <div>
                                            <p class="title-link hover">
                                                <a href="#">Российские СМИ</a>
                                            </p>
                                            <p class="classic-link">
                                                <a href="#">Meduza.io</a>
                                            </p>
                                            <p class="classic-link">
                                                <a href="#">Lenta.ru</a>
                                            </p>
                                            <p class="classic-link">
                                                <a href="#">Rbc.ru</a>
                                            </p>
                                        </div>
                                        <div>
                                            <p class="title-link hover">
                                                <a href="#">Украинские СМИ</a>
                                            </p>
                                            <p class="classic-link">
                                                <a href="#">Korrespondent.net</a>
                                            </p>
                                            <p class="classic-link">
                                                <a href="#">Pravda.com.ua</a>
                                            </p>
                                            <p class="classic-link">
                                                <a href="#">Rbc.ua</a>
                                            </p>
                                        </div>
                                        <div>
                                            <p class="title-link hover">
                                                <a href="#">Международные СМИ</a>
                                            </p>
                                            <p class="classic-link">
                                                <a href="#">Голос Америки</a>
                                            </p>
                                            <p class="classic-link">
                                                <a href="#">BBC News Russian</a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="plashki-acc">
                                    <div class="plashka-acc plashka-acc-fb">
                                        <img src="../../build/img/fb-plashka.svg" alt="">
                                        <p>Подписаться</p>
                                    </div>
                                    <div class="plashka-acc plashka-acc-telega">
                                        <img src="../../build/img/telegram-plashka.svg" alt="">
                                        <p>Подписаться</p>
                                    </div>
                                    <div class="plashki-form">
                                        <p>Одно письмо с лучшим за&nbsp;неделю</p>
                                        <form id="form2" action="#">
                                            <div class="red-input-wrp">
                                                <div class="input-style">
                                                    <input class="input-form input-valid input-plane" type="email" data-input="email" name="email" placeholder="E-mail">
                                                    <p class="input-error">Ошибка ввода</p>
                                                </div>
                                                <button class="send-btn-plane" type="button" name="button">
                                                    <img src="../../build/img/send-telega-plane.svg" alt="">
                                                </button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- new blog -->
                        <div class="col-xl-9 col-md-8 col-12 col-inner-9">
                            <div class="plashka-blogs-wrp">
                                <div>
                                    <p class="blog-privet">Текст-приветствие от сайта Наш Ванкувер</p>
                                    <div class="blog-vstup">
                                        А также сделанные на базе интернет-аналитики выводы, которые представляют собой яркий пример континентально-европейского типа политической культуры, будут своевременно верифицированы.
                                    </div>
                                    <div class="row row-blogs">
                                        <div class="col-xl-4 col-lg-12 col-md-6 col-12">
                                            <a href="https://romura.space/vancouver/pages/output/authors.html" class="blog-block">
                                                <div class="blog-block-top">
                                                    <img src="../../build/img/photo1.jpg" alt="">
                                                    <p>Александра Булавина</p>
                                                </div>
                                                <p class="blog-val">Пишет на тему:</p>
                                                <p class="blog-name">Покупка недвижимости в Канаде</p>
                                            </a>
                                        </div>
                                        <div class="col-xl-4 col-lg-12 col-md-6 col-12">
                                            <a href="https://romura.space/vancouver/pages/output/authors.html" class="blog-block">
                                                <div class="blog-block-top">
                                                    <img src="../../build/img/photo2.png" alt="">
                                                    <p>Marvin McKinney</p>
                                                </div>
                                                <p class="blog-val">Пишет на тему:</p>
                                                <p class="blog-name">А также непосредственные.</p>
                                            </a>
                                        </div>
                                        <div class="col-xl-4 col-lg-12 col-md-6 col-12">
                                            <a href="https://romura.space/vancouver/pages/output/authors.html" class="blog-block">
                                                <div class="blog-block-top">
                                                    <img src="../../build/img/photo3.png" alt="">
                                                    <p>Ralph Edwards</p>
                                                </div>
                                                <p class="blog-val">Пишет на тему:</p>
                                                <p class="blog-name">Внезапно, активно развивающиеся страны.</p>
                                            </a>
                                        </div>
                                        <div class="col-xl-4 col-lg-12 col-md-6 col-12">
                                            <a href="https://romura.space/vancouver/pages/output/authors.html" class="blog-block">
                                                <div class="blog-block-top">
                                                    <img src="../../build/img/photo4.png" alt="">
                                                    <p>Guy Hawkins</p>
                                                </div>
                                                <p class="blog-val">Пишет на тему:</p>
                                                <p class="blog-name">Задача организации</p>
                                            </a>
                                        </div>
                                        <div class="col-xl-4 col-lg-12 col-md-6 col-12">
                                            <a href="https://romura.space/vancouver/pages/output/authors.html" class="blog-block">
                                                <div class="blog-block-top">
                                                    <img src="../../build/img/photo1.jpg" alt="">
                                                    <p>Александра Булавина</p>
                                                </div>
                                                <p class="blog-val">Пишет на тему:</p>
                                                <p class="blog-name">Покупка недвижимости в Канаде</p>
                                            </a>
                                        </div>
                                        <div class="col-xl-4 col-lg-12 col-md-6 col-12">
                                            <a href="https://romura.space/vancouver/pages/output/authors.html" class="blog-block">
                                                <div class="blog-block-top">
                                                    <img src="../../build/img/photo2.png" alt="">
                                                    <p>Marvin McKinney</p>
                                                </div>
                                                <p class="blog-val">Пишет на тему:</p>
                                                <p class="blog-name">А также непосредственные.</p>
                                            </a>
                                        </div>
                                        <div class="col-xl-4 col-lg-12 col-md-6 col-12">
                                            <a href="https://romura.space/vancouver/pages/output/authors.html" class="blog-block">
                                                <div class="blog-block-top">
                                                    <img src="../../build/img/photo3.png" alt="">
                                                    <p>Ralph Edwards</p>
                                                </div>
                                                <p class="blog-val">Пишет на тему:</p>
                                                <p class="blog-name">Внезапно, активно развивающиеся страны.</p>
                                            </a>
                                        </div>
                                        <div class="col-xl-4 col-lg-12 col-md-6 col-12">
                                            <a href="https://romura.space/vancouver/pages/output/authors.html" class="blog-block">
                                                <div class="blog-block-top">
                                                    <img src="../../build/img/photo4.png" alt="">
                                                    <p>Guy Hawkins</p>
                                                </div>
                                                <p class="blog-val">Пишет на тему:</p>
                                                <p class="blog-name">Задача организации</p>
                                            </a>
                                        </div>
                                        <div class="col-xl-4 col-lg-12 col-md-6 col-12">
                                            <a href="https://romura.space/vancouver/pages/output/authors.html" class="blog-block">
                                                <div class="blog-block-top">
                                                    <img src="../../build/img/photo1.jpg" alt="">
                                                    <p>Александра Булавина</p>
                                                </div>
                                                <p class="blog-val">Пишет на тему:</p>
                                                <p class="blog-name">Покупка недвижимости в Канаде</p>
                                            </a>
                                        </div>
                                        <div class="col-xl-4 col-lg-12 col-md-6 col-12">
                                            <a href="https://romura.space/vancouver/pages/output/authors.html" class="blog-block">
                                                <div class="blog-block-top">
                                                    <img src="../../build/img/photo2.png" alt="">
                                                    <p>Marvin McKinney</p>
                                                </div>
                                                <p class="blog-val">Пишет на тему:</p>
                                                <p class="blog-name">А также непосредственные.</p>
                                            </a>
                                        </div>
                                        <div class="col-xl-4 col-lg-12 col-md-6 col-12">
                                            <a href="https://romura.space/vancouver/pages/output/authors.html" class="blog-block">
                                                <div class="blog-block-top">
                                                    <img src="../../build/img/photo3.png" alt="">
                                                    <p>Ralph Edwards</p>
                                                </div>
                                                <p class="blog-val">Пишет на тему:</p>
                                                <p class="blog-name">Внезапно, активно развивающиеся страны.</p>
                                            </a>
                                        </div>
                                        <div class="col-xl-4 col-lg-12 col-md-6 col-12">
                                            <a href="https://romura.space/vancouver/pages/output/authors.html" class="blog-block">
                                                <div class="blog-block-top">
                                                    <img src="../../build/img/photo4.png" alt="">
                                                    <p>Guy Hawkins</p>
                                                </div>
                                                <p class="blog-val">Пишет на тему:</p>
                                                <p class="blog-name">Задача организации</p>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="pagination-container-wrp">
                                    <div class="pagination-container"></div>
                                </div>
                            </div>
                        </div>
                        <!-- new blog end-->
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-12">
                    <div class="banner-news-wrp">
                        <div class="banner-news">
                            <img src="../../build/img/afisha-banner1.png" alt="">
                        </div>
                    </div>
                    <div class="banner-news-wrp">
                        <div class="banner-news">
                            <img src="../../build/img/afisha-banner2.png" alt="">
                        </div>
                    </div>
                    <div class="main-news-small-sticky">
                        <div class="main-news-small">
                            <ul class="small-tabs really-small">
                                <li class="active" data-tab="tab1">Последние статьи</li>
                                <li data-tab="tab2">Последние комментарии</li>
                                <li data-tab="tab3">Популярные статьи</li>
                            </ul>
                            <div class="more-read-news-wrp">
                                <div id="tab1" class="more-read-news-blocks active">
                                    <a href="#" class="more-read-news-block">
                                        <img src="../../build/img/mini-news1.png" alt="">
                                        <p>Въезд в центр Ванкувера станет платным</p>
                                    </a>
                                    <a href="#" class="more-read-news-block">
                                        <img src="../../build/img/mini-news2.png" alt="">
                                        <p>В Ванкувере женщина плюнула в пассажира автобуса и получила за это</p>
                                    </a>
                                    <a href="#" class="more-read-news-block">
                                        <img src="../../build/img/mini-news3.png" alt="">
                                        <p>Пособия на ребенка в Канаде: Особенности и размер выплат</p>
                                    </a>
                                    <a href="#" class="more-read-news-block">
                                        <img src="../../build/img/mini-news4.png" alt="">
                                        <p>Один дома: с какого возраста ребенка в Канаде можно оставить без присмотра</p>
                                    </a>
                                    <a href="#" class="more-read-news-block">
                                        <img src="../../build/img/mini-news3.png" alt="">
                                        <p>Пособия на ребенка в Канаде: Особенности и размер выплат</p>
                                    </a>
                                    <a href="#" class="more-read-news-block">
                                        <img src="../../build/img/mini-news4.png" alt="">
                                        <p>Один дома: с какого возраста ребенка в Канаде можно оставить без присмотра</p>
                                    </a>
                                </div>
                                <div id="tab2" class="more-read-news-blocks">
                                    <a href="#" class="more-read-comm-block">
                                        <img src="../../build/img/mini-news1.png" alt="">
                                        <div>
                                            <p class="author-comm">Иван Иванов на:</p>
                                            <p>Въезд в центр Ванкувера станет платным</p>
                                        </div>
                                    </a>
                                    <a href="#" class="more-read-comm-block">
                                        <img src="../../build/img/mini-news2.png" alt="">
                                        <div>
                                            <p class="author-comm">Иван Иванов на:</p>
                                            <p>В Ванкувере женщина плюнула в пассажира автобуса и получила за это</p>
                                        </div>
                                    </a>
                                </div>
                                <div id="tab3" class="more-read-news-blocks">
                                    <a href="#" class="more-read-news-block">
                                        <img src="../../build/img/mini-news4.png" alt="">
                                        <p>Один дома: с какого возраста ребенка в Канаде можно оставить без присмотра</p>
                                    </a>
                                    <a href="#" class="more-read-news-block">
                                        <img src="../../build/img/mini-news3.png" alt="">
                                        <p>Пособия на ребенка в Канаде: Особенности и размер выплат</p>
                                    </a>
                                    <a href="#" class="more-read-news-block">
                                        <img src="../../build/img/mini-news4.png" alt="">
                                        <p>Один дома: с какого возраста ребенка в Канаде можно оставить без присмотра</p>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <!-- TradingView Widget BEGIN -->
    <!-- <div class="tradingview-widget-container">
      <div class="tradingview-widget-container__widget"></div>
      <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-ticker-tape.js" async>
      {
      "symbols": [
        {
          "proName": "BITSTAMP:BTCUSD",
          "title": "BTC/USD"
        },
        {
          "proName": "BITSTAMP:ETHUSD",
          "title": "ETH/USD"
        },
        {
          "description": "RUB",
          "proName": "FX_IDC:RUBUSD"
        }
      ],
      "showSymbolLogo": false,
      "colorTheme": "light",
      "isTransparent": false,
      "displayMode": "adaptive",
      "locale": "ru"
    }
      </script>
    </div> -->
    <!-- TradingView Widget END -->

</main>
