<div class="search">
    <div class="search-input-wrp-mob">
        <img src="../../build/img/search.svg" alt="" class="search-mob">
        <input type="text" class="search-input-mob">
        <div class="btn-mob-search-close"></div>
    </div>
    <div class="search-input-result-mob">
        <ul>
            <li><a href="#">Введите запрос</a></li>
            <li><a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nisi, ipsum lacus nec dictum sit vitae adipiscing a.</a></li>
            <li><a href="#">Integer posuere tincidunt sed pellentesque.</a></li>
            <li><a href="#">Justo est elementum dictum blandit id eget feugiat sociis. Sed sagittis, lacus, nec eros, dui est.</a></li>
        </ul>
    </div>
</div>
