<main class="vacancy-page news-page polls-page">
    <div class="container container-custom">
        <section class="banner-main">
            <div class="row">
                <div class="col-xl-3 col-lg-4 col-md-5">
                    <div class="banner-img">
                        <img src="../../build/img/banner1.png" alt="">
                    </div>
                </div>
                <div class="col-xl-9 col-lg-8 col-md-7 col-12 d-md-block d-none">
                    <div class="banner-img">
                        <img src="../../build/img/banner2.png" alt="">
                    </div>
                </div>
            </div>
        </section>
        <!-- 2 block  -->
        <section class="readable-section">
            <div class="row">
                <div class="col-xl-9 col-lg-8 col-12">
                    <div class="polls-section">
                        <div>
                            <p class="result-title">Опросы</p>
                            <div class="block-poll block-poll-js">
                                <div class="block-poll-img">
                                    <img src="../../build/img/mini-news1.png" alt="">
                                    <p>
                                        <a href="#">Страница опроса</a>
                                    </p>
                                </div>
                                <div class="block-poll-content">
                                    <p class="poll-title">Поддерживаете ли вы введение локдауна в Украине с 8 по 24 января?</p>
                                    <div class="data-poll-flex">
                                        <p class="poll-data">Дата проведения: с 18.01.2021 по 25.01.2021</p>
                                        <p class="poll-status active">Активное голосование</p>
                                    </div>
                                    <div class="poll-questions">
                                        <ul class="section-polls-answer polls-answer">
                                            <li>
                                                <label class="radio">
                                                    <input class="radio-polls-input radio-polls-input-js" type="radio" name="polls" checked>
                                                    <div class="radio__text">Допустим, преступность никогда не была такой неорганизованной</div>
                                                </label>
                                            </li>
                                            <li>
                                                <label class="radio">
                                                    <input class="radio-polls-input radio-polls-input-js" type="radio" name="polls">
                                                    <div class="radio__text">Оказывается, объемы выросли</div>
                                                </label>
                                            </li>
                                            <li>
                                                <label class="radio">
                                                    <input class="radio-polls-input radio-polls-input-js" type="radio" name="polls">
                                                    <div class="radio__text">Выбранный нами инновационный путь попахивает безумием</div>
                                                </label>
                                            </li>
                                        </ul>
                                        <div class="flex-vote-btn">
                                            <div class="vote-btn vote-btn-start">Проголосовать</div>
                                            <p>Проголосуйте, чтобы <br>увидеть результаты</p>
                                        </div>
                                    </div>
                                    <div class="poll-results hidden">
                                        <div class="poll-result">
                                            <p class="poll-result-title">Допустим, преступность никогда не была такой неорганизованной</p>
                                            <div class="poll-result-wrp">
                                                <div class="poll-result-bar">
                                                    <div class="poll-result-line most"></div>
                                                </div>
                                                <p class="poll-result-percent-wrp">
                                                    <span class="poll-result-percent">0%</span>
                                                    <span class="poll-result-count">(0)</span>
                                                </p>
                                            </div>
                                        </div>
                                        <div class="poll-result">
                                            <p class="poll-result-title">Оказывается, объемы выросли</p>
                                            <div class="poll-result-wrp">
                                                <div class="poll-result-bar">
                                                    <div class="poll-result-line most"></div>
                                                </div>
                                                <p class="poll-result-percent-wrp">
                                                    <span class="poll-result-percent">0%</span>
                                                    <span class="poll-result-count">(0)</span>
                                                </p>
                                            </div>
                                        </div>
                                        <div class="poll-result">
                                            <p class="poll-result-title">Выбранный нами инновационный путь попахивает безумием</p>
                                            <div class="poll-result-wrp">
                                                <div class="poll-result-bar">
                                                    <div class="poll-result-line most"></div>
                                                </div>
                                                <p class="poll-result-percent-wrp">
                                                    <span class="poll-result-percent">0%</span>
                                                    <span class="poll-result-count">(0)</span>
                                                </p>
                                            </div>
                                        </div>
                                        <p class="poll-final">Проголосовало: <span>0</span></p>
                                    </div>
                                </div>
                            </div>
                            <div class="block-poll block-poll-js">
                                <div class="block-poll-img">
                                    <img src="../../build/img/mini-news1.png" alt="">
                                    <p>
                                        <a href="#">Страница опроса</a>
                                    </p>
                                </div>
                                <div class="block-poll-content">
                                    <p class="poll-title">Поддерживаете ли вы введение локдауна в Украине с 8 по 24 января?</p>
                                    <div class="data-poll-flex">
                                        <p class="poll-data">Дата проведения: с 18.01.2021 по 25.01.2021</p>
                                        <p class="poll-status">Завершенное голосование</p>
                                    </div>
                                    <div class="poll-questions hidden">
                                        <ul class="section-polls-answer polls-answer">
                                            <li>
                                                <label class="radio">
                                                    <input class="radio-polls-input radio-polls-input-js" type="radio" name="polls" checked>
                                                    <div class="radio__text">Да, коронавирус никуда не делся</div>
                                                </label>
                                            </li>
                                            <li>
                                                <label class="radio">
                                                    <input class="radio-polls-input radio-polls-input-js" type="radio" name="polls">
                                                    <div class="radio__text">Нет, это только вредит экономике</div>
                                                </label>
                                            </li>
                                            <li>
                                                <label class="radio">
                                                    <input class="radio-polls-input radio-polls-input-js" type="radio" name="polls">
                                                    <div class="radio__text">Мне все равно, никакого локдауна не замечаю</div>
                                                </label>
                                            </li>
                                        </ul>
                                        <div class="flex-vote-btn">
                                            <div class="vote-btn vote-btn-start">Проголосовать</div>
                                            <p>Проголосуйте, чтобы <br>увидеть результаты</p>
                                        </div>
                                    </div>
                                    <div class="poll-results">
                                        <div class="poll-result">
                                            <p class="poll-result-title">Да, коронавирус никуда не делся</p>
                                            <div class="poll-result-wrp">
                                                <div class="poll-result-bar">
                                                    <div class="poll-result-line most" style="width: 90%;"></div>
                                                </div>
                                                <p class="poll-result-percent-wrp">
                                                    <span class="poll-result-percent">90%</span>
                                                    <span class="poll-result-count">(180)</span>
                                                </p>
                                            </div>
                                        </div>
                                        <div class="poll-result">
                                            <p class="poll-result-title">Нет, это только вредит экономике</p>
                                            <div class="poll-result-wrp">
                                                <div class="poll-result-bar">
                                                    <div class="poll-result-line"></div>
                                                </div>
                                                <p class="poll-result-percent-wrp">
                                                    <span class="poll-result-percent">0%</span>
                                                    <span class="poll-result-count">(0)</span>
                                                </p>
                                            </div>
                                        </div>
                                        <div class="poll-result">
                                            <p class="poll-result-title">Мне все равно, никакого локдауна не замечаю</p>
                                            <div class="poll-result-wrp">
                                                <div class="poll-result-bar">
                                                    <div class="poll-result-line" style="width: 10%;"></div>
                                                </div>
                                                <p class="poll-result-percent-wrp">
                                                    <span class="poll-result-percent">10%</span>
                                                    <span class="poll-result-count">(20)</span>
                                                </p>
                                            </div>
                                        </div>
                                        <p class="poll-final">Проголосовало: <span>200</span></p>
                                    </div>
                                </div>
                            </div>
                            <div class="block-poll block-poll-js">
                                <div class="block-poll-img">
                                    <img src="../../build/img/mini-news1.png" alt="">
                                    <p>
                                        <a href="#">Страница опроса</a>
                                    </p>
                                </div>
                                <div class="block-poll-content">
                                    <p class="poll-title">Поддерживаете ли вы введение локдауна в Украине с 8 по 24 января?</p>
                                    <div class="data-poll-flex">
                                        <p class="poll-data">Дата проведения: с 18.01.2021 по 25.01.2021</p>
                                        <p class="poll-status">Завершенное голосование</p>
                                    </div>
                                    <div class="poll-questions hidden">
                                        <ul class="section-polls-answer polls-answer">
                                            <li>
                                                <label class="radio">
                                                    <input class="radio-polls-input radio-polls-input-js" type="radio" name="polls" checked>
                                                    <div class="radio__text">Да, коронавирус никуда не делся</div>
                                                </label>
                                            </li>
                                            <li>
                                                <label class="radio">
                                                    <input class="radio-polls-input radio-polls-input-js" type="radio" name="polls">
                                                    <div class="radio__text">Нет, это только вредит экономике</div>
                                                </label>
                                            </li>
                                            <li>
                                                <label class="radio">
                                                    <input class="radio-polls-input radio-polls-input-js" type="radio" name="polls">
                                                    <div class="radio__text">Мне все равно, никакого локдауна не замечаю</div>
                                                </label>
                                            </li>
                                        </ul>
                                        <div class="flex-vote-btn">
                                            <div class="vote-btn vote-btn-start">Проголосовать</div>
                                            <p>Проголосуйте, чтобы <br>увидеть результаты</p>
                                        </div>
                                    </div>
                                    <div class="poll-results">
                                        <div class="poll-result">
                                            <p class="poll-result-title">Да, коронавирус никуда не делся</p>
                                            <div class="poll-result-wrp">
                                                <div class="poll-result-bar">
                                                    <div class="poll-result-line most" style="width: 90%;"></div>
                                                </div>
                                                <p class="poll-result-percent-wrp">
                                                    <span class="poll-result-percent">90%</span>
                                                    <span class="poll-result-count">(180)</span>
                                                </p>
                                            </div>
                                        </div>
                                        <div class="poll-result">
                                            <p class="poll-result-title">Нет, это только вредит экономике</p>
                                            <div class="poll-result-wrp">
                                                <div class="poll-result-bar">
                                                    <div class="poll-result-line"></div>
                                                </div>
                                                <p class="poll-result-percent-wrp">
                                                    <span class="poll-result-percent">0%</span>
                                                    <span class="poll-result-count">(0)</span>
                                                </p>
                                            </div>
                                        </div>
                                        <div class="poll-result">
                                            <p class="poll-result-title">Мне все равно, никакого локдауна не замечаю</p>
                                            <div class="poll-result-wrp">
                                                <div class="poll-result-bar">
                                                    <div class="poll-result-line" style="width: 10%;"></div>
                                                </div>
                                                <p class="poll-result-percent-wrp">
                                                    <span class="poll-result-percent">10%</span>
                                                    <span class="poll-result-count">(20)</span>
                                                </p>
                                            </div>
                                        </div>
                                        <p class="poll-final">Проголосовало: <span>200</span></p>
                                    </div>
                                </div>
                            </div>
                            <div class="block-poll block-poll-js">
                                <div class="block-poll-img">
                                    <img src="../../build/img/mini-news1.png" alt="">
                                    <p>
                                        <a href="#">Страница опроса</a>
                                    </p>
                                </div>
                                <div class="block-poll-content">
                                    <p class="poll-title">Поддерживаете ли вы введение локдауна в Украине с 8 по 24 января?</p>
                                    <div class="data-poll-flex">
                                        <p class="poll-data">Дата проведения: с 18.01.2021 по 25.01.2021</p>
                                        <p class="poll-status">Завершенное голосование</p>
                                    </div>
                                    <div class="poll-questions hidden">
                                        <ul class="section-polls-answer polls-answer">
                                            <li>
                                                <label class="radio">
                                                    <input class="radio-polls-input radio-polls-input-js" type="radio" name="polls" checked>
                                                    <div class="radio__text">Да, коронавирус никуда не делся</div>
                                                </label>
                                            </li>
                                            <li>
                                                <label class="radio">
                                                    <input class="radio-polls-input radio-polls-input-js" type="radio" name="polls">
                                                    <div class="radio__text">Нет, это только вредит экономике</div>
                                                </label>
                                            </li>
                                            <li>
                                                <label class="radio">
                                                    <input class="radio-polls-input radio-polls-input-js" type="radio" name="polls">
                                                    <div class="radio__text">Мне все равно, никакого локдауна не замечаю</div>
                                                </label>
                                            </li>
                                        </ul>
                                        <div class="flex-vote-btn">
                                            <div class="vote-btn vote-btn-start">Проголосовать</div>
                                            <p>Проголосуйте, чтобы <br>увидеть результаты</p>
                                        </div>
                                    </div>
                                    <div class="poll-results">
                                        <div class="poll-result">
                                            <p class="poll-result-title">Да, коронавирус никуда не делся</p>
                                            <div class="poll-result-wrp">
                                                <div class="poll-result-bar">
                                                    <div class="poll-result-line most" style="width: 90%;"></div>
                                                </div>
                                                <p class="poll-result-percent-wrp">
                                                    <span class="poll-result-percent">90%</span>
                                                    <span class="poll-result-count">(180)</span>
                                                </p>
                                            </div>
                                        </div>
                                        <div class="poll-result">
                                            <p class="poll-result-title">Нет, это только вредит экономике</p>
                                            <div class="poll-result-wrp">
                                                <div class="poll-result-bar">
                                                    <div class="poll-result-line"></div>
                                                </div>
                                                <p class="poll-result-percent-wrp">
                                                    <span class="poll-result-percent">0%</span>
                                                    <span class="poll-result-count">(0)</span>
                                                </p>
                                            </div>
                                        </div>
                                        <div class="poll-result">
                                            <p class="poll-result-title">Мне все равно, никакого локдауна не замечаю</p>
                                            <div class="poll-result-wrp">
                                                <div class="poll-result-bar">
                                                    <div class="poll-result-line" style="width: 10%;"></div>
                                                </div>
                                                <p class="poll-result-percent-wrp">
                                                    <span class="poll-result-percent">10%</span>
                                                    <span class="poll-result-count">(20)</span>
                                                </p>
                                            </div>
                                        </div>
                                        <p class="poll-final">Проголосовало: <span>200</span></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="pagination-container-wrp">
                            <div class="pagination-container"></div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-12">
                    <div class="banner-news-wrp">
                        <div class="banner-news">
                            <img src="../../build/img/afisha-banner1.png" alt="">
                        </div>
                    </div>
                    <div class="banner-news-wrp">
                        <div class="banner-news">
                            <img src="../../build/img/afisha-banner2.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="section-banner-slider">
            <div class="banner-slider-wrp">
                <div class="banner-slider">
                    <div>
                        <div class="banner-slider-img">
                            <img src="../../build/img/banner-slider1.png" alt="">
                        </div>
                    </div>
                    <div>
                        <div class="banner-slider-img">
                            <img src="../../build/img/banner-slider2.png" alt="">
                        </div>
                    </div>
                    <div>
                        <div class="banner-slider-img">
                            <img src="../../build/img/banner-slider3.png" alt="">
                        </div>
                    </div>
                    <div>
                        <div class="banner-slider-img">
                            <img src="../../build/img/banner-slider4.png" alt="">
                        </div>
                    </div>
                    <div>
                        <div class="banner-slider-img">
                            <img src="../../build/img/banner-slider5.png" alt="">
                        </div>
                    </div>
                    <div>
                        <div class="banner-slider-img">
                            <img src="../../build/img/banner-slider1.png" alt="">
                        </div>
                    </div>
                    <div>
                        <div class="banner-slider-img">
                            <img src="../../build/img/banner-slider3.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="main-dots-arrows-wrp">
                    <div class="slider-arrow prev-bunner-arrow">
                        <img src="../../build/img/prev.svg" alt="">
                    </div>
                    <div class="main-dots-wrp"></div>
                    <div class="slider-arrow next-bunner-arrow">
                        <img src="../../build/img/next.svg" alt="">
                    </div>
                </div>
            </div>
        </section>
    </div>
</main>
