<div class="menu">
    <div>
        <ul class="menu-list">
            <li class="link-li">
                <p>
                    <a href="https://romura.space/vancouver/pages/output/news.html">Новости</a>
                </p>
            </li>
            <li class="link-li">
                <p>
                    <a href="https://romura.space/vancouver/pages/output/blog.html">Блоги</a>
                </p>
            </li>
            <li class="link-li">
                <p>
                    <a href="#">Недвижимость</a>
                </p>
            </li>
            <li class="link-li">
                <p>
                    <a href="https://romura.space/vancouver/pages/output/business.html">Справочник</a>
                </p>
            </li>
            <li class="link-li">
                <p>
                    <a href="https://romura.space/vancouver/pages/output/vacancy.html">Работа</a>
                </p>
            </li>
            <li class="link-li">
                <p>
                    <a href="#">Афиша</a>
                </p>
            </li>
            <li class="collaps-card">
                <p class="collaps-top">
                    <a href="#">Переезд и иммиграция</a>
                </p>
                <ul class="collaps-body inner-menu">
                    <li>
                        <a href="#">Пункт первый</a>
                    </li>
                    <li>
                        <a href="#">Пункт второй</a>
                    </li>
                </ul>
            </li>
            <li class="collaps-card">
                <p class="collaps-top">
                    <a href="#">О Канаде</a>
                </p>
                <ul class="collaps-body inner-menu">
                    <li class="collaps-card">
                        <p class="collaps-top">
                            <a href="#">Пункт первый</a>
                        </p>
                        <ul class="collaps-body inner-menu">
                            <li>
                                <a href="#">Подпункт первый</a>
                            </li>
                            <li>
                                <a href="#">Подпункт второй</a>
                            </li>
                        </ul>
                    </li>
                    <li class="collaps-card">
                        <p class="collaps-top">
                            <a href="#">Пункт второй</a>
                        </p>
                        <ul class="collaps-body inner-menu">
                            <li>
                                <a href="#">Подпункт первый</a>
                            </li>
                            <li>
                                <a href="#">Подпункт второй</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li class="link-li">
                <p>
                    <a href="#">Знакомства</a>
                </p>
            </li>
            <li class="collaps-card">
                <p class="collaps-top">
                    <a href="#">О Ванкувере</a>
                </p>
                <ul class="collaps-body inner-menu">
                    <li>
                        <a href="#">Пункт первый</a>
                    </li>
                    <li class="collaps-card">
                        <p class="collaps-top">
                            <a href="#">Пункт второй</a>
                        </p>
                        <ul class="collaps-body inner-menu">
                            <li>
                                <a href="#">Подпункт первый</a>
                            </li>
                            <li>
                                <a href="#">Подпункт второй</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
        <ul class="menu-list-snmall">
            <li>
                <a href="#">Погода</a>
            </li>
            <li>
                <a href="#">Юмор</a>
            </li>
            <li>
                <a href="#">Опросы</a>
            </li>
            <li>
                <a href="#">Форум</a>
            </li>
            <li>
                <a href="#">Видео/Фото</a>
            </li>
        </ul>
    </div>
    <ul class="menu-soc-ac">
        <li>
            <a href="#">
                <img src="../../build/img/fb1.svg" alt="">
            </a>
        </li>
        <li>
            <a href="#">
                <img src="../../build/img/insta1.svg" alt="">
            </a>
        </li>
        <li>
            <a href="#">
                <img src="../../build/img/youtube1.svg" alt="">
            </a>
        </li>
        <li>
            <a href="#">
                <img src="../../build/img/telegram1.svg" alt="">
            </a>
        </li>
        <li>
            <a href="#">
                <img src="../../build/img/vk1.svg" alt="">
            </a>
        </li>
    </ul>
</div>
<div class="menu-desctop">
    <div class="menu-desctop-inner">
        <div class="container">
            <div class="menu-column">
                <div class="menu-desctop-list-wrp">
                    <ul class="menu-desctop-list">
                        <li class="link-li-desc parent-link" data-parent="none">
                            <a href="https://romura.space/vancouver/pages/output/news.html">Новости</a>
                        </li>
                        <li class="link-li-desc parent-link" data-parent="none">
                            <a href="https://romura.space/vancouver/pages/output/blog.html">Блоги</a>
                        </li>
                        <li class="link-li-desc parent-link" data-parent="none">
                            <a href="#">Недвижимость</a>
                        </li>
                        <li class="link-li-desc parent-link" data-parent="none">
                            <a href="https://romura.space/vancouver/pages/output/business.html">Справочник</a>
                        </li>
                        <li class="link-li-desc parent-link" data-parent="none">
                            <a href="https://romura.space/vancouver/pages/output/vacancy.html">Работа</a>
                        </li>
                        <li class="link-li-desc parent-link" data-parent="none">
                            <a href="#">Афиша</a>
                        </li>
                        <li class="link-li-desc parent-li parent-link" data-parent="parent1">
                            <a href="#">Переезд и иммиграция</a>
                        </li>
                        <li class="link-li-desc parent-li parent-link" data-parent="parent2">
                            <a href="#">О Канаде</a>
                        </li>
                        <li class="link-li-desc parent-link" data-parent="none">
                            <a href="#">Знакомства</a>
                        </li>
                        <li class="link-li-desc parent-li parent-link" data-parent="parent3">
                            <a href="#">О Ванкувере</a>
                        </li>
                    </ul>
                    <ul class="menu-desctop-list-bottom">
                        <li class="link-li-desc parent-link" data-parent="none">
                            <a href="#">Погода</a>
                        </li>
                        <li class="link-li-desc parent-link" data-parent="none">
                            <a href="#">Юмор</a>
                        </li>
                        <li class="link-li-desc parent-link" data-parent="none">
                            <a href="#">Опросы</a>
                        </li>
                        <li class="link-li-desc parent-link" data-parent="none">
                            <a href="#">Форум</a>
                        </li>
                        <li class="link-li-desc parent-link" data-parent="none">
                            <a href="#">Видео/Фото</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="menu-column2">
                <ul class="menu-column2-list menu-column2-sub" data-parent="parent1">
                    <li class="parent-link parent-li" data-parent="parent11">
                        <a href="#">Пункт 1-1</a>
                    </li>
                    <li class="parent-link" data-parent="none">
                        <a href="#">Пункт 1-2</a>
                    </li>
                    <li class="parent-link" data-parent="none">
                        <a href="#">Пункт 1-3</a>
                    </li>
                </ul>
                <ul class="menu-column2-list menu-column2-sub" data-parent="parent2">
                    <li class="parent-link" data-parent="none">
                        <a href="#">Пункт 2-1</a>
                    </li>
                    <li class="parent-link parent-li" data-parent="parent21">
                        <a href="#">Пункт 2-2</a>
                    </li>
                    <li class="parent-link" data-parent="none">
                        <a href="#">Пункт 2-3</a>
                    </li>
                </ul>
                <ul class="menu-column2-list menu-column2-sub" data-parent="parent3">
                    <li class="parent-link parent-li" data-parent="parent31">
                        <a href="#">Пункт 3-1</a>
                    </li>
                    <li class="parent-link" data-parent="none">
                        <a href="#">Пункт 3-2</a>
                    </li>
                    <li class="parent-link parent-li" data-parent="parent32">
                        <a href="#">Пункт 3-3</a>
                    </li>
                    <li class="parent-link" data-parent="none">
                        <a href="#">Пункт 3-4</a>
                    </li>
                </ul>
            </div>
            <div class="menu-column3">
                <ul class="menu-column2-list menu-column3-sub" data-parent="parent11">
                    <li>
                        <a href="#">Пункт 11-1</a>
                    </li>
                    <li>
                        <a href="#">Пункт 11-2</a>
                    </li>
                    <li>
                        <a href="#">Пункт 11-3</a>
                    </li>
                    <li>
                        <a href="#">Пункт 11-4</a>
                    </li>
                    <li>
                        <a href="#">Пункт 11-5</a>
                    </li>
                </ul>
                <ul class="menu-column2-list menu-column3-sub" data-parent="parent21">
                    <li>
                        <a href="#">Пункт 21-1</a>
                    </li>
                    <li>
                        <a href="#">Пункт 21-2</a>
                    </li>
                </ul>
                <ul class="menu-column2-list menu-column3-sub" data-parent="parent31">
                    <li>
                        <a href="#">Пункт 31-1</a>
                    </li>
                    <li>
                        <a href="#">Пункт 31-2</a>
                    </li>
                </ul>
                <ul class="menu-column2-list menu-column3-sub" data-parent="parent32">
                    <li>
                        <a href="#">Пункт 32-1</a>
                    </li>
                    <li>
                        <a href="#">Пункт 32-2</a>
                    </li>
                    <li>
                        <a href="#">Пункт 32-3 Пункт второй в две строки у шамана три руки</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
