<div class="menu">
    <div>
        <ul class="menu-list">
            <li class="link-li">
                <p>
                    <a href="https://romura.space/vancouver/pages/output/news.html">Новости</a>
                </p>
            </li>
            <li class="link-li">
                <p>
                    <a href="https://romura.space/vancouver/pages/output/blog.html">Блоги</a>
                </p>
            </li>
            <li class="link-li">
                <p>
                    <a href="#">Недвижимость</a>
                </p>
            </li>
            <li class="link-li">
                <p>
                    <a href="https://romura.space/vancouver/pages/output/business.html">Справочник</a>
                </p>
            </li>
            <li class="link-li">
                <p>
                    <a href="https://romura.space/vancouver/pages/output/vacancy.html">Работа</a>
                </p>
            </li>
            <li class="link-li">
                <p>
                    <a href="#">Афиша</a>
                </p>
            </li>
            <li class="collaps-card">
                <p class="collaps-top">
                    <a href="#">Переезд и иммиграция</a>
                </p>
                <ul class="collaps-body inner-menu">
                    <li>
                        <a href="#">Пункт первый</a>
                    </li>
                    <li>
                        <a href="#">Пункт первый</a>
                    </li>
                </ul>
            </li>
            <li class="collaps-card">
                <p class="collaps-top">
                    <a href="#">О Канаде</a>
                </p>
                <ul class="collaps-body inner-menu">
                    <li>
                        <a href="#">Пункт первый</a>
                    </li>
                    <li>
                        <a href="#">Пункт первый</a>
                    </li>
                </ul>
            </li>
            <li class="link-li">
                <p>
                    <a href="#">Знакомства</a>
                </p>
            </li>
            <li class="collaps-card">
                <p class="collaps-top">
                    <a href="#">О Ванкувере</a>
                </p>
                <ul class="collaps-body inner-menu">
                    <li>
                        <a href="#">Пункт первый</a>
                    </li>
                    <li>
                        <a href="#">Пункт первый</a>
                    </li>
                </ul>
            </li>
        </ul>
        <ul class="menu-list-snmall">
            <li>
                <a href="#">Погода</a>
            </li>
            <li>
                <a href="#">Юмор</a>
            </li>
            <li>
                <a href="#">Опросы</a>
            </li>
            <li>
                <a href="#">Форум</a>
            </li>
            <li>
                <a href="#">Видео/Фото</a>
            </li>
        </ul>
    </div>
    <ul class="menu-soc-ac">
        <li>
            <a href="#">
                <img src="../../build/img/fb1.svg" alt="">
            </a>
        </li>
        <li>
            <a href="#">
                <img src="../../build/img/insta1.svg" alt="">
            </a>
        </li>
        <li>
            <a href="#">
                <img src="../../build/img/youtube1.svg" alt="">
            </a>
        </li>
        <li>
            <a href="#">
                <img src="../../build/img/telegram1.svg" alt="">
            </a>
        </li>
        <li>
            <a href="#">
                <img src="../../build/img/vk1.svg" alt="">
            </a>
        </li>
    </ul>
</div>
