<main class="vacancy-page polls-page">
    <div class="container container-custom">
        <section class="banner-main">
            <div class="row">
                <div class="col-xl-3 col-lg-4 col-md-5">
                    <div class="banner-img">
                        <img src="../../build/img/banner1.png" alt="">
                    </div>
                </div>
                <div class="col-xl-9 col-lg-8 col-md-7 col-12 d-md-block d-none">
                    <div class="banner-img">
                        <img src="../../build/img/banner2.png" alt="">
                    </div>
                </div>
            </div>
        </section>
        <!-- 2 block  -->
        <section class="readable-section">
            <div class="row">
                <div class="col-xl-9 col-lg-8 col-12">
                    <div class="polls-section poll-one">
                        <div>
                            <div class="block-poll block-poll-js">
                                <div class="block-poll-img">
                                    <img src="../../build/img/mini-news1.png" alt="">
                                    <p>
                                        <a href="#">Вернуться списку опросов</a>
                                    </p>
                                </div>
                                <div class="block-poll-content">
                                    <p class="result-title">Поддерживаете ли вы введение локдауна в Украине с 8 по 24 января?</p>
                                    <div class="data-poll-flex">
                                        <p class="poll-data">Дата проведения: с 18.01.2021 по 25.01.2021</p>
                                        <p class="poll-status active">Активное голосование</p>
                                    </div>
                                    <div class="poll-questions">
                                        <ul class="section-polls-answer polls-answer">
                                            <li>
                                                <label class="radio">
                                                    <input class="radio-polls-input radio-polls-input-js" type="radio" name="polls" checked>
                                                    <div class="radio__text">Допустим, преступность никогда не была такой неорганизованной</div>
                                                </label>
                                            </li>
                                            <li>
                                                <label class="radio">
                                                    <input class="radio-polls-input radio-polls-input-js" type="radio" name="polls">
                                                    <div class="radio__text">Оказывается, объемы выросли</div>
                                                </label>
                                            </li>
                                            <li>
                                                <label class="radio">
                                                    <input class="radio-polls-input radio-polls-input-js" type="radio" name="polls">
                                                    <div class="radio__text">Выбранный нами инновационный путь попахивает безумием</div>
                                                </label>
                                            </li>
                                        </ul>
                                        <div class="flex-vote-btn">
                                            <div class="vote-btn vote-btn-start">Проголосовать</div>
                                            <p>Проголосуйте, чтобы <br>увидеть результаты</p>
                                        </div>
                                    </div>
                                    <div class="poll-results hidden">
                                        <div class="poll-result">
                                            <p class="poll-result-title">Допустим, преступность никогда не была такой неорганизованной</p>
                                            <div class="poll-result-wrp">
                                                <div class="poll-result-bar">
                                                    <div class="poll-result-line most"></div>
                                                </div>
                                                <p class="poll-result-percent-wrp">
                                                    <span class="poll-result-percent">0%</span>
                                                    <span class="poll-result-count">(0)</span>
                                                </p>
                                            </div>
                                        </div>
                                        <div class="poll-result">
                                            <p class="poll-result-title">Оказывается, объемы выросли</p>
                                            <div class="poll-result-wrp">
                                                <div class="poll-result-bar">
                                                    <div class="poll-result-line most"></div>
                                                </div>
                                                <p class="poll-result-percent-wrp">
                                                    <span class="poll-result-percent">0%</span>
                                                    <span class="poll-result-count">(0)</span>
                                                </p>
                                            </div>
                                        </div>
                                        <div class="poll-result">
                                            <p class="poll-result-title">Выбранный нами инновационный путь попахивает безумием</p>
                                            <div class="poll-result-wrp">
                                                <div class="poll-result-bar">
                                                    <div class="poll-result-line most"></div>
                                                </div>
                                                <p class="poll-result-percent-wrp">
                                                    <span class="poll-result-percent">0%</span>
                                                    <span class="poll-result-count">(0)</span>
                                                </p>
                                            </div>
                                        </div>
                                        <p class="poll-final">Проголосовало: <span>0</span></p>
                                    </div>
                                </div>
                            </div>
                            <div class="acc-article-line">
                                <div class="flex-vertical">
                                    <p>Поделиться:</p>
                                    <ul class="poll-article-line">
                                        <li>
                                            <a href="#">
                                                <img src="../../build/img/fb-color.svg" alt="">
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <img src="../../build/img/vk-color.svg" alt="">
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <img src="../../build/img/twitter-color.svg" alt="">
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <img src="../../build/img/mes-color.svg" alt="">
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <img src="../../build/img/whatsapp-color.svg" alt="">
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <img src="../../build/img/telegram-color.svg" alt="">
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <img src="../../build/img/e-mail-color.svg" alt="">
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <img src="../../build/img/ok-color.svg" alt="">
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <img src="../../build/img/grommet-color.svg" alt="">
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="write-us-btn">
                                    <img src="../../build/img/logo-mob.svg" alt="">
                                    <p>Напишите нам</p>
                                </div>
                            </div>

                            <div class="poll-page-comment">
                                <div class="show-comment-btn">Комментарии  (4)</div>
                                <div class="comment-pole-wrp">
                                    <div class="pole-title-wrp">
                                        <p class="pole-title">Добавить комментарий</p>
                                        <p class="comment-hidden-btn">Скрыть комментарии</p>
                                    </div>
                                    <form id="form3" action="#">
                                        <div class="input-style">
                                            <textarea class="comment-input textarea-comment input-valid" name="name" placeholder="Комментарий"></textarea>
                                            <p class="input-error">Ошибка ввода</p>
                                        </div>
                                        <div class="input-style-flex">
                                            <div class="input-style">
                                                <input class="comment-input input-valid comment-input-name" type="text" name="name" data-input="name" placeholder="Ваше имя">
                                                <p class="input-error">Ошибка ввода</p>
                                            </div>
                                            <div class="input-style">
                                                <input class="comment-input input-valid comment-input-name" type="email" name="email" data-input="email" placeholder="Ваш e-mail">
                                                <p class="input-error">Ошибка ввода</p>
                                            </div>
                                        </div>
                                        <label class="checkbox">
                                            <input type="checkbox" checked/>
                                            <div class="checkbox__text">Сохранить моё имя, email и адрес сайта в этом браузере для последующих моих комментариев</div>
                                        </label>
                                        <div class="flex-capcha-wrp">
                                            <div class="flex-vertical">
                                                <div class="capcha-place"></div>
                                                <input class="comment-input input-valid input-number capcha-input" type="tel" name="capcha" placeholder="Введите цифры с картинки">
                                            </div>
                                            <input type="submit" class="send-capcha-btn" value="Отправить комментарий">
                                        </div>
                                    </form>
                                    <div class="article-comments-wrp">
                                        <div class="article-comments-block">
                                            <div class="article-comments-flex">
                                                <p class="article-comments-name">Артём, очевидец</p>
                                                <p class="article-comments-data">Вчера</p>
                                            </div>
                                            <div class="article-comments-text">
                                                А ещё акционеры крупнейших компаний набирают популярность среди определенных слоев населения, а значит, должны быть своевременно верифицированы. Прежде всего, семантический разбор внешних противодействий однозначно определяет каждого участника как способного принимать собственные решения касаемо распределения внутренних резервов и ресурсов.
                                            </div>
                                        </div>
                                        <div class="article-comments-block">
                                            <div class="article-comments-flex">
                                                <p class="article-comments-name">Артём, очевидец</p>
                                                <p class="article-comments-data">17.11.2020</p>
                                            </div>
                                            <div class="article-comments-text">
                                                Разнообразный и богатый опыт говорит нам, что внедрение современных методик, в своём классическом представлении, допускает внедрение приоритизации.
                                            </div>
                                        </div>
                                        <div class="article-comments-block">
                                            <div class="article-comments-flex">
                                                <p class="article-comments-name">Ольга Дизайнер</p>
                                                <p class="article-comments-data">17.11.2020</p>
                                            </div>
                                            <div class="article-comments-text">
                                                Как принято считать, представители современных социальных резервов призваны к ответу. Сложно сказать, почему акционеры крупнейших компаний освещают.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-12">
                    <div class="banner-news-wrp">
                        <div class="banner-news">
                            <img src="../../build/img/afisha-banner1.png" alt="">
                        </div>
                    </div>
                    <div class="banner-news-wrp">
                        <div class="banner-news">
                            <img src="../../build/img/afisha-banner2.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="section-banner-slider">
            <div class="banner-slider-wrp">
                <div class="banner-slider">
                    <div>
                        <div class="banner-slider-img">
                            <img src="../../build/img/banner-slider1.png" alt="">
                        </div>
                    </div>
                    <div>
                        <div class="banner-slider-img">
                            <img src="../../build/img/banner-slider2.png" alt="">
                        </div>
                    </div>
                    <div>
                        <div class="banner-slider-img">
                            <img src="../../build/img/banner-slider3.png" alt="">
                        </div>
                    </div>
                    <div>
                        <div class="banner-slider-img">
                            <img src="../../build/img/banner-slider4.png" alt="">
                        </div>
                    </div>
                    <div>
                        <div class="banner-slider-img">
                            <img src="../../build/img/banner-slider5.png" alt="">
                        </div>
                    </div>
                    <div>
                        <div class="banner-slider-img">
                            <img src="../../build/img/banner-slider1.png" alt="">
                        </div>
                    </div>
                    <div>
                        <div class="banner-slider-img">
                            <img src="../../build/img/banner-slider3.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="main-dots-arrows-wrp">
                    <div class="slider-arrow prev-bunner-arrow">
                        <img src="../../build/img/prev.svg" alt="">
                    </div>
                    <div class="main-dots-wrp"></div>
                    <div class="slider-arrow next-bunner-arrow">
                        <img src="../../build/img/next.svg" alt="">
                    </div>
                </div>
            </div>
        </section>
    </div>
</main>
