

.banner-news-wrp.banner-news-wrp-top {
    margin-bottom: 0;
    & + .banner-news-wrp.banner-news-wrp-top {
        margin-top: 20px;
    }
}
.vacancy-title-link-lk {
    position: relative;
    padding-bottom: 10px;
    margin-bottom: 16px;
    &::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 2px;
        background-color: #222222;
        border-radius: 4px;
    }
}
.plashka-sticky-lk {
    min-height: 455px;
}
.plashka-questions {
    height: 32px;
    display: flex;
    align-items: center;
    padding: 6px 6px 6px 8px;
    background: rgba(208, 232, 255, 0.5);
    border: 1px solid #D0E8FF;
    border-radius: 6px;
    cursor: pointer;
    p {
        font-weight: bold;
        font-size: 14px;
        line-height: 1.1;
        color: #148CFE;
        margin-left: 8px;
        padding-left: 15px;
        position: relative;
        &::before {
            content: '';
            position: absolute;
            top: -1px;
            left: 0;
            width: 1px;
            height: 20px;
            background-color: #D0E8FF;
        }
    }
}
.lk-section {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding-top: 16px;
    &.active {
        display: flex;
    }
}
.ava-drop-wrp {
    display: flex;
    align-items: flex-start;
    margin-top: 24px;
    margin-bottom: 24px;
}
.input-images-lk-template {
    position: relative;
    width: 100px;
    height: 100px;
    border-radius: 4px;
    overflow: hidden;
    flex-shrink: 0;
    margin-right: 25px;
    background: #F2F2F2;
    border: 1px solid #E0E0E0;
    cursor: pointer;
    .image-uploader {
        width: 100px;
        height: 100px;
        min-height: 100px;
        border: none;
        .uploaded {
            width: 100%;
            height: 100%;
            padding: 0;
            .uploaded-image {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                height: 100%;
                padding: 0;
                margin: 0;
            }
        }
    }
    .upload-text {
        display: none;
    }
    &::before {
        content: url('../img/camera.svg');
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -14px;
        margin-left: -12px;
    }
}
.ava-drop-name {
    font-weight: bold;
    font-size: 18px;
    line-height: 120%;
}
.ava-drop-text {
    font-size: 14px;
    line-height: 1.1;
    margin-top: 8px;
}
.describe-section {
    margin-bottom: 8px;
}
.save-btn-wrp {
    display: flex;
    align-items: center;
}
.save-btn-lk {
    @extend %BTN;
    width: 106px;
}
.saved-success {
    display: flex;
    align-items: center;
    margin-left: 29px;
    img {
        width: 16px;
        margin-right: 7px;
    }
    p {
        line-height: 1.1;
        color: #949494;
    }
}
// 2 part
.title-lk-wrp {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 24px;
    padding-bottom: 16px;
    .result-title {
        margin-bottom: 0;
        padding-bottom: 0;
        &::after {
            display: none;
        }
    }
    &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        height: 3px;
        width: 100%;
        -webkit-border-radius: 4px;
        border-radius: 4px;
        background-color: #222222;
    }
    img {
        width: 16px;
        margin-right: 4px;
    }
    a {
        display: flex;
        align-items: center;
        span {
            font-weight: 600;
            font-size: 14px;
            line-height: 1.5;
            letter-spacing: 0.02em;
            color: #148CFE;
        }
    }
}
.lk-your-articles-wrp {
    padding-top: 24px;
    .metka {
        margin-left: 0;
    }
}
.lk-verif-article {
    position: relative;
    pointer-events: none;
    .hot-news-title {
        padding-right: 50px;
        color: #949494;
    }
    .trash {
        display: block;
        pointer-events: auto;
    }
    &:hover {
        .hot-news-title {
            color: #949494;
        }
    }
}
.trash {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
}
.verif-warning {
    font-size: 14px;
    color: #949494;
}
.lk-title-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 13px;
    .announcment-name {
        margin-bottom: 0;
    }
}
.lk-address-wrp {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .bus-map {
        margin-top: 0;
    }
}
.announcment-block-simple.lk-vac-block {
    .announcment-name {
        font-size: 18px;
        font-weight: bold;
        line-height: 1.2;
    }
    &.verif-time {
        .announcment-name {
            color: #949494;
        }
    }
}
.lk-data {
    font-size: 14px;
    color: #949494;
}
.lk-your-busy-wrp {
    padding-top: 24px;
    .announcment-block {
        border: none;
    }
    .announcment-block.announcment-block-simple {
        padding: 0 0 16px;
    }
}
.lk-block-line {
    padding: 11px 16px 0;
    border-top: 1px solid #D0E8FF;
    border-bottom: 1px solid #D0E8FF;
    background-color: rgba(208, 232, 255, 0.3);
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 19px;
}
.tarif-wrp {
    display: flex;
    align-items: center;
    margin-bottom: 11px;
    p {
        font-size: 14px;
        & + p {
            margin-left: 12px;
            span {
                color: #949494;
            }
        }
    }
}
.tooltip-inner {
    max-width: 302px;
    padding: 10px 9px;
    background: #FFFFFF;
    border: 1px solid #D0E8FF;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
    border-radius: 8px;
    color: #4F4F4F;
    font-size: 12px;
    text-align: left;
    line-height: 1;
}
.tooltip .arrow::before {
    display: none;
}
.lk-line-list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-right: -5px;
    margin-left: -5px;
    li {
        margin: 0 10px 11px;
        img {
            margin-right: 8px;
        }
        span {
            font-weight: 600;
            font-size: 14px;
            color: #148CFE;
        }
        &.tooltip-disable {
            img {
                opacity: .5;
            }
            span {
                opacity: .5;
            }

        }
    }
}

.block-lk-content {
    width: 100%;
    .announcment-block-content {
        & > div {
            width: 100%;
        }
    }
}
.tooltip.show {
    opacity: 1;
}
.lk-plashka-top {
    padding-top: 32px;
    .create-title {
        margin-bottom: 0;
        line-height: 1.2;
        span {
            color: #148CFE;
        }
        & + p {
            margin-top: 8px;
            margin-bottom: 24px;
            font-size: 14px;
            line-height: 1.4;
        }
    }
    .example-img {
        margin-top: 24px;
    }
}
.tarif-blocks-wrap {
    margin-right: -8px;
    margin-left: -8px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 24px;
    margin-bottom: 32px;
}
.tarif-block {
    position: relative;
    margin: 0 8px 8px;
    padding: 16px 24px;
    background: rgba(208, 232, 255, 0.5);
    border: 1px solid #D0E8FF;
    border-radius: 10px;
    flex: 1;
    &:first-child {
        flex: 2;
    }
    p {
        &:first-child {
            font-size: 14px;
            line-height: 1.1;
            color: #828282;
        }
        & + p {
            margin-top: 3px;
            font-weight: bold;
            line-height: 1.2;
        }
    }
    img {
        position: absolute;
        top: 8px;
        right: 8px;
    }
}
.comment-input {
    font-size: 14px;
}
textarea.comment-input {
    line-height: 1.4;
}
.result-title {
    & + .create-title {
        margin-top: 32px;
    }
}
.create-btn {
    &.create-btn-disabled {
        opacity: .3;
        pointer-events: none;
    }
}
.tooltip-img {
    cursor: pointer;
}
.shapka-blue-wrp {
    text-align: right;
    .shapka-blue {
        & + p {
            font-size: 14px;
            line-height: 1.1;
            margin-top: 4px;
            font-weight: normal;
        }
    }
}
.lk-afisha-block {
    .lk-title-flex {
        margin-bottom: 6px;
    }
    .lk-block-line {
        margin-top: 9px;
    }
}
.table-bus-wrp-afisha {
    margin-top: 24px;
}
.mob-var-business-lk {
    margin-top: 24px;
}
.businessAllNotFound-block {
    &.lk {
        margin-bottom: 24px;
        img {
            width: 155px;
            margin-right: 38px;
        }
        p:first-child {
            font-size: 32px;
        }
    }
}
.this-deleted-block {
    &.remove {
        display: none;
    }
}
// media
@media (max-width: 1365px) {
    .lk-block-line {
        display: block;
    }
    .lk-line-list {
        margin-top: 10px;
    }
}
@media (max-width: 1199px) {
    .lk-your-articles-wrp .partner-tag-wrp {
        & + .metka {
            margin-top: 10px;
            margin-left: 0;
        }
    }
    .title-lk-wrp {
        display: block;
        .result-title {
            margin-bottom: 10px;
        }
    }
    .lk-title-flex, .lk-address-wrp {
        display: block;
    }
    .lk-data {
        margin-top: 10px;
    }

}
@media (max-width: 767px) {
    .businessAllNotFound-block.lk {
        img {
            margin: 0 auto 20px;
        }
        p:first-child {
            font-size: 28px;
        }
    }
    .save-btn-wrp {
        display: block;
    }
    .saved-success {
        margin-left: 0;
        margin-top: 10px;
    }
    .lk-afisha-block {
        .lk-title-flex {
            margin-bottom: 13px;
        }
        .lk-block-line {
            margin-top: 12px;
        }
        .lk-data {
            margin-top: 4px;
        }
    }
    .shapka-blue-wrp {
        text-align: left;
    }
    .lk-your-busy-wrp .announcment-block.announcment-block-simple {
        padding: 0 0 26px;
    }
    .input-images-lk-template {
        margin-right: 20px;
    }
    .lk-your-articles-wrp {
        .metka {
            margin-top: 10px;
        }
    }
    .lk-verif-article .hot-news-title {
        padding-right: 23px;
    }
}
