<main class="vacancy-page news-page">
    <div class="container container-custom">
        <section class="banner-main">
            <div class="row">
                <div class="col-xl-3 col-lg-4 col-md-5">
                    <div class="banner-img">
                        <img src="../../build/img/banner1.png" alt="">
                    </div>
                </div>
                <div class="col-xl-9 col-lg-8 col-md-7 col-12 d-md-block d-none">
                    <div class="banner-img">
                        <img src="../../build/img/banner2.png" alt="">
                    </div>
                </div>
            </div>
        </section>
        <!-- 2 block  -->
        <div class="open-cat-btn" data-hot="hotNews7">
            <img src="../../build/img/voronka.svg" alt="">
            <p>Все города</p>
        </div>

        <section class="readable-section weather-readable-section">
            <div class="row">
                <div class="col-xl-9 col-lg-8 col-12">
                    <div class="row row-height">
                        <div class="col-xl-3 col-md-4 col-12 col-inner-3">
                            <div class="plashka-sticky plashka-sticky-weather">
                                <div class="plashka-sticky-content-wrp">
                                    <p class="vacancy-title-link">Погода в Канаде</p>
                                    <div class="input-buss-search-wrp">
                                        <input type="text" class="input-buss-search" placeholder="Поиск...">
                                        <div class="input-buss-search-btn">
                                            <img src="../../build/img/search.svg" alt="">
                                        </div>
                                    </div>
                                    <p class="weather-classic-link">Города большого Ванкувера</p>
                                    <p class="classic-link">
                                        <a href="#">Vancouver</a>
                                    </p>
                                    <p class="classic-link">
                                        <a href="#">North Vancouver</a>
                                    </p>
                                    <p class="classic-link">
                                        <a href="#">West Vancouver</a>
                                    </p>
                                    <p class="classic-link">
                                        <a href="#">Richmond</a>
                                    </p>
                                    <p class="classic-link">
                                        <a href="#">Burnaby</a>
                                    </p>
                                    <p class="classic-link">
                                        <a href="#">New Westminster</a>
                                    </p>
                                    <p class="classic-link">
                                        <a href="#">Port Moody</a>
                                    </p>
                                    <p class="classic-link">
                                        <a href="#">Coquitlam</a>
                                    </p>
                                    <p class="classic-link">
                                        <a href="#">Port Coquitlam</a>
                                    </p>
                                    <p class="classic-link">
                                        <a href="#">Pitt Meadows</a>
                                    </p>
                                    <p class="classic-link">
                                        <a href="#">Surrey</a>
                                    </p>
                                    <p class="classic-link">
                                        <a href="#">Langley</a>
                                    </p>
                                    <p class="classic-link">
                                        <a href="#">Delta</a>
                                    </p>
                                    <p class="classic-link">
                                        <a href="#">Maple Ridge</a>
                                    </p>
                                    <p class="classic-link">
                                        <a href="#">Tsawwassen</a>
                                    </p>
                                    <p class="weather-classic-link">Города большого Ванкувера</p>
                                    <p class="classic-link">
                                        <a href="#">Ванкувер</a>
                                    </p>
                                    <p class="classic-link">
                                        <a href="#">Торонто</a>
                                    </p>
                                    <p class="classic-link">
                                        <a href="#">Монреаль</a>
                                    </p>
                                    <p class="classic-link">
                                        <a href="#">Калгари</a>
                                    </p>
                                    <p class="classic-link">
                                        <a href="#">Оттава</a>
                                    </p>
                                    <p class="classic-link">
                                        <a href="#">Эдмонтон</a>
                                    </p>
                                    <p class="classic-link">
                                        <a href="#">Виннипег</a>
                                    </p>
                                    <p class="classic-link">
                                        <a href="#">Квебек сити</a>
                                    </p>
                                </div>
                                <div class="plashki-acc">
                                    <div class="plashka-acc plashka-acc-fb">
                                        <img src="../../build/img/fb-plashka.svg" alt="">
                                        <p>Подписаться</p>
                                    </div>
                                    <div class="plashka-acc plashka-acc-telega">
                                        <img src="../../build/img/telegram-plashka.svg" alt="">
                                        <p>Подписаться</p>
                                    </div>
                                    <div class="plashki-form">
                                        <p>Одно письмо с лучшим за&nbsp;неделю</p>
                                        <form id="form2" action="#">
                                            <div class="red-input-wrp">
                                                <div class="input-style">
                                                    <input class="input-form input-valid input-plane" type="email" data-input="email" name="email" placeholder="E-mail">
                                                    <p class="input-error">Ошибка ввода</p>
                                                </div>
                                                <button class="send-btn-plane" type="button" name="button">
                                                    <img src="../../build/img/send-telega-plane.svg" alt="">
                                                </button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-9 col-md-8 col-12 col-inner-9">
                            <div class="plashka-news-wrp lk-plashka-top">
                                <p class="result-title">Погода в Vancouver</p>
                                <p class="weather-subtitle">Прогноз на 36 часов</p>
                                <div class="weather-plashka-big">
                                    <div class="weather-plashka-part weather-plashka-days">
                                        <p>Ночь</p>
                                        <p>Пон</p>
                                    </div>
                                    <div class="weather-plashka-part weather-plashka-grad">
                                        <p>6°</p>
                                    </div>
                                    <div class="weather-plashka-part weather-plashka-img">
                                        <img src="../../build/img/rainy.svg" alt="">
                                        <p>Дождь</p>
                                    </div>
                                    <div class="weather-plashka-part weather-plashka-other">
                                        <p>Ощущается</p>
                                        <p>4°</p>
                                    </div>
                                    <div class="weather-plashka-part weather-plashka-other">
                                        <p>Осадки</p>
                                        <p>20%</p>
                                    </div>
                                    <div class="weather-plashka-part weather-plashka-other">
                                        <p>Дождь</p>
                                        <p>-</p>
                                    </div>
                                    <div class="weather-plashka-part weather-plashka-other">
                                        <p>Ветер, км/ч</p>
                                        <p>10 юз</p>
                                    </div>
                                    <div class="weather-plashka-part weather-plashka-other">
                                        <p>Влажность</p>
                                        <p>82%</p>
                                    </div>
                                </div>
                                <div class="weather-plashka-big">
                                    <div class="weather-plashka-part weather-plashka-days">
                                        <p>Утро</p>
                                        <p>Пон</p>
                                    </div>
                                    <div class="weather-plashka-part weather-plashka-grad">
                                        <p>6°</p>
                                    </div>
                                    <div class="weather-plashka-part weather-plashka-img">
                                        <img src="../../build/img/windy.svg" alt="">
                                        <p>Ветренно</p>
                                    </div>
                                    <div class="weather-plashka-part weather-plashka-other">
                                        <p>Ощущается</p>
                                        <p>4°</p>
                                    </div>
                                    <div class="weather-plashka-part weather-plashka-other">
                                        <p>Осадки</p>
                                        <p>20%</p>
                                    </div>
                                    <div class="weather-plashka-part weather-plashka-other">
                                        <p>Дождь</p>
                                        <p>-</p>
                                    </div>
                                    <div class="weather-plashka-part weather-plashka-other">
                                        <p>Ветер, км/ч</p>
                                        <p>10 юз</p>
                                    </div>
                                    <div class="weather-plashka-part weather-plashka-other">
                                        <p>Влажность</p>
                                        <p>82%</p>
                                    </div>
                                </div>
                                <div class="weather-plashka-big">
                                    <div class="weather-plashka-part weather-plashka-days">
                                        <p>День</p>
                                        <p>Пон</p>
                                    </div>
                                    <div class="weather-plashka-part weather-plashka-grad">
                                        <p>6°</p>
                                    </div>
                                    <div class="weather-plashka-part weather-plashka-img">
                                        <img src="../../build/img/sunny.svg" alt="">
                                        <p>Ясно</p>
                                    </div>
                                    <div class="weather-plashka-part weather-plashka-other">
                                        <p>Ощущается</p>
                                        <p>4°</p>
                                    </div>
                                    <div class="weather-plashka-part weather-plashka-other">
                                        <p>Осадки</p>
                                        <p>20%</p>
                                    </div>
                                    <div class="weather-plashka-part weather-plashka-other">
                                        <p>Дождь</p>
                                        <p>-</p>
                                    </div>
                                    <div class="weather-plashka-part weather-plashka-other">
                                        <p>Ветер, км/ч</p>
                                        <p>10 юз</p>
                                    </div>
                                    <div class="weather-plashka-part weather-plashka-other">
                                        <p>Влажность</p>
                                        <p>82%</p>
                                    </div>
                                </div>
                                <div class="weather-plashka-big">
                                    <div class="weather-plashka-part weather-plashka-days">
                                        <p>Вечер</p>
                                        <p>Пон</p>
                                    </div>
                                    <div class="weather-plashka-part weather-plashka-grad">
                                        <p>6°</p>
                                    </div>
                                    <div class="weather-plashka-part weather-plashka-img">
                                        <img src="../../build/img/cloudy.svg" alt="">
                                        <p>Пасмурно</p>
                                    </div>
                                    <div class="weather-plashka-part weather-plashka-other">
                                        <p>Ощущается</p>
                                        <p>4°</p>
                                    </div>
                                    <div class="weather-plashka-part weather-plashka-other">
                                        <p>Осадки</p>
                                        <p>20%</p>
                                    </div>
                                    <div class="weather-plashka-part weather-plashka-other">
                                        <p>Дождь</p>
                                        <p>-</p>
                                    </div>
                                    <div class="weather-plashka-part weather-plashka-other">
                                        <p>Ветер, км/ч</p>
                                        <p>10 юз</p>
                                    </div>
                                    <div class="weather-plashka-part weather-plashka-other">
                                        <p>Влажность</p>
                                        <p>82%</p>
                                    </div>
                                </div>
                                <div class="weather-plashka-big">
                                    <div class="weather-plashka-part weather-plashka-days">
                                        <p>Ночь</p>
                                        <p>Пон</p>
                                    </div>
                                    <div class="weather-plashka-part weather-plashka-grad">
                                        <p>6°</p>
                                    </div>
                                    <div class="weather-plashka-part weather-plashka-img">
                                        <img src="../../build/img/half-sun.svg" alt="">
                                        <p>Облачно</p>
                                    </div>
                                    <div class="weather-plashka-part weather-plashka-other">
                                        <p>Ощущается</p>
                                        <p>4°</p>
                                    </div>
                                    <div class="weather-plashka-part weather-plashka-other">
                                        <p>Осадки</p>
                                        <p>20%</p>
                                    </div>
                                    <div class="weather-plashka-part weather-plashka-other">
                                        <p>Дождь</p>
                                        <p>-</p>
                                    </div>
                                    <div class="weather-plashka-part weather-plashka-other">
                                        <p>Ветер, км/ч</p>
                                        <p>10 юз</p>
                                    </div>
                                    <div class="weather-plashka-part weather-plashka-other">
                                        <p>Влажность</p>
                                        <p>82%</p>
                                    </div>
                                </div>
                                <div class="weather-plashka-big">
                                    <div class="weather-plashka-part weather-plashka-days">
                                        <p>Утро</p>
                                        <p>Пон</p>
                                    </div>
                                    <div class="weather-plashka-part weather-plashka-grad">
                                        <p>6°</p>
                                    </div>
                                    <div class="weather-plashka-part weather-plashka-img">
                                        <img src="../../build/img/snowy.svg" alt="">
                                        <p>Снег</p>
                                    </div>
                                    <div class="weather-plashka-part weather-plashka-other">
                                        <p>Ощущается</p>
                                        <p>4°</p>
                                    </div>
                                    <div class="weather-plashka-part weather-plashka-other">
                                        <p>Осадки</p>
                                        <p>20%</p>
                                    </div>
                                    <div class="weather-plashka-part weather-plashka-other">
                                        <p>Дождь</p>
                                        <p>-</p>
                                    </div>
                                    <div class="weather-plashka-part weather-plashka-other">
                                        <p>Ветер, км/ч</p>
                                        <p>10 юз</p>
                                    </div>
                                    <div class="weather-plashka-part weather-plashka-other">
                                        <p>Влажность</p>
                                        <p>82%</p>
                                    </div>
                                </div>
                                <p class="weather-subtitle">Погода на 7 дней</p>
                                <div class="row row-weather">
                                    <div class="col-xl-6 col-12">
                                        <div class="weather-plashka-big weather-plashka-small pasted-day">
                                            <div class="weather-plashka-part weather-plashka-days">
                                                <p>02.02</p>
                                                <p>Пон</p>
                                            </div>
                                            <div class="weather-plashka-part weather-plashka-grad">
                                                <p>6°</p>
                                            </div>
                                            <div class="weather-plashka-part weather-plashka-img">
                                                <img src="../../build/img/rainy.svg" alt="">
                                                <p>Дождь</p>
                                            </div>
                                            <div class="weather-plashka-part weather-plashka-last">
                                                <img src="../../build/img/wind.svg" alt="">
                                                <p>ЮЗ 10 км/ч</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-6 col-12">
                                        <div class="weather-plashka-big weather-plashka-small night">
                                            <div class="weather-plashka-part weather-plashka-days">
                                                <p>Эта ночь</p>
                                            </div>
                                            <div class="weather-plashka-part weather-plashka-grad">
                                                <p>-20°</p>
                                            </div>
                                            <div class="weather-plashka-part weather-plashka-img">
                                                <img src="../../build/img/windy-2.svg" alt="">
                                                <p>Ветренно</p>
                                            </div>
                                            <div class="weather-plashka-part weather-plashka-last">
                                                <img src="../../build/img/wind.svg" alt="">
                                                <p>ЮЗ 10 км/ч</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-6 col-12">
                                        <div class="weather-plashka-big weather-plashka-small">
                                            <div class="weather-plashka-part weather-plashka-days">
                                                <p>03.02</p>
                                                <p>Вт</p>
                                            </div>
                                            <div class="weather-plashka-part weather-plashka-grad">
                                                <p>6°</p>
                                            </div>
                                            <div class="weather-plashka-part weather-plashka-img">
                                                <img src="../../build/img/snowy.svg" alt="">
                                                <p>Пасмурно</p>
                                            </div>
                                            <div class="weather-plashka-part weather-plashka-last">
                                                <img src="../../build/img/wind.svg" alt="">
                                                <p>ЮЗ 10 км/ч</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-6 col-12">
                                        <div class="weather-plashka-big weather-plashka-small night">
                                            <div class="weather-plashka-part weather-plashka-days">
                                                <p>Ночь</p>
                                                <p>03.02</p>
                                            </div>
                                            <div class="weather-plashka-part weather-plashka-grad">
                                                <p>-3°</p>
                                            </div>
                                            <div class="weather-plashka-part weather-plashka-img">
                                                <img src="../../build/img/night.svg" alt="">
                                                <p>Ясно</p>
                                            </div>
                                            <div class="weather-plashka-part weather-plashka-last">
                                                <img src="../../build/img/wind.svg" alt="">
                                                <p>ЮЗ 10 км/ч</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-6 col-12">
                                        <div class="weather-plashka-big weather-plashka-small">
                                            <div class="weather-plashka-part weather-plashka-days">
                                                <p>04.02</p>
                                                <p>Ср</p>
                                            </div>
                                            <div class="weather-plashka-part weather-plashka-grad">
                                                <p>6°</p>
                                            </div>
                                            <div class="weather-plashka-part weather-plashka-img">
                                                <img src="../../build/img/rainy.svg" alt="">
                                                <p>Дождь</p>
                                            </div>
                                            <div class="weather-plashka-part weather-plashka-last">
                                                <img src="../../build/img/wind.svg" alt="">
                                                <p>ЮЗ 10 км/ч</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-6 col-12">
                                        <div class="weather-plashka-big weather-plashka-small night">
                                            <div class="weather-plashka-part weather-plashka-days">
                                                <p>Ночь</p>
                                                <p>04.02</p>
                                            </div>
                                            <div class="weather-plashka-part weather-plashka-grad">
                                                <p>-20°</p>
                                            </div>
                                            <div class="weather-plashka-part weather-plashka-img">
                                                <img src="../../build/img/windy-2.svg" alt="">
                                                <p>Ветренно</p>
                                            </div>
                                            <div class="weather-plashka-part weather-plashka-last">
                                                <img src="../../build/img/wind.svg" alt="">
                                                <p>ЮЗ 10 км/ч</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-6 col-12">
                                        <div class="weather-plashka-big weather-plashka-small">
                                            <div class="weather-plashka-part weather-plashka-days">
                                                <p>05.02</p>
                                                <p>Чт</p>
                                            </div>
                                            <div class="weather-plashka-part weather-plashka-grad">
                                                <p>6°</p>
                                            </div>
                                            <div class="weather-plashka-part weather-plashka-img">
                                                <img src="../../build/img/snowy.svg" alt="">
                                                <p>Пасмурно</p>
                                            </div>
                                            <div class="weather-plashka-part weather-plashka-last">
                                                <img src="../../build/img/wind.svg" alt="">
                                                <p>ЮЗ 10 км/ч</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-6 col-12">
                                        <div class="weather-plashka-big weather-plashka-small night">
                                            <div class="weather-plashka-part weather-plashka-days">
                                                <p>Ночь</p>
                                                <p>05.02</p>
                                            </div>
                                            <div class="weather-plashka-part weather-plashka-grad">
                                                <p>-3°</p>
                                            </div>
                                            <div class="weather-plashka-part weather-plashka-img">
                                                <img src="../../build/img/night.svg" alt="">
                                                <p>Ясно</p>
                                            </div>
                                            <div class="weather-plashka-part weather-plashka-last">
                                                <img src="../../build/img/wind.svg" alt="">
                                                <p>ЮЗ 10 км/ч</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-6 col-12">
                                        <div class="weather-plashka-big weather-plashka-small">
                                            <div class="weather-plashka-part weather-plashka-days">
                                                <p>06.02</p>
                                                <p>Пт</p>
                                            </div>
                                            <div class="weather-plashka-part weather-plashka-grad">
                                                <p>6°</p>
                                            </div>
                                            <div class="weather-plashka-part weather-plashka-img">
                                                <img src="../../build/img/snowy.svg" alt="">
                                                <p>Пасмурно</p>
                                            </div>
                                            <div class="weather-plashka-part weather-plashka-last">
                                                <img src="../../build/img/wind.svg" alt="">
                                                <p>ЮЗ 10 км/ч</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-6 col-12">
                                        <div class="weather-plashka-big weather-plashka-small night">
                                            <div class="weather-plashka-part weather-plashka-days">
                                                <p>Ночь</p>
                                                <p>06.02</p>
                                            </div>
                                            <div class="weather-plashka-part weather-plashka-grad">
                                                <p>-3°</p>
                                            </div>
                                            <div class="weather-plashka-part weather-plashka-img">
                                                <img src="../../build/img/night.svg" alt="">
                                                <p>Ясно</p>
                                            </div>
                                            <div class="weather-plashka-part weather-plashka-last">
                                                <img src="../../build/img/wind.svg" alt="">
                                                <p>ЮЗ 10 км/ч</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-6 col-12">
                                        <div class="weather-plashka-big weather-plashka-small">
                                            <div class="weather-plashka-part weather-plashka-days">
                                                <p>07.02</p>
                                                <p>Сб</p>
                                            </div>
                                            <div class="weather-plashka-part weather-plashka-grad">
                                                <p>6°</p>
                                            </div>
                                            <div class="weather-plashka-part weather-plashka-img">
                                                <img src="../../build/img/snowy.svg" alt="">
                                                <p>Пасмурно</p>
                                            </div>
                                            <div class="weather-plashka-part weather-plashka-last">
                                                <img src="../../build/img/wind.svg" alt="">
                                                <p>ЮЗ 10 км/ч</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-6 col-12">
                                        <div class="weather-plashka-big weather-plashka-small night">
                                            <div class="weather-plashka-part weather-plashka-days">
                                                <p>Ночь</p>
                                                <p>07.02</p>
                                            </div>
                                            <div class="weather-plashka-part weather-plashka-grad">
                                                <p>-3°</p>
                                            </div>
                                            <div class="weather-plashka-part weather-plashka-img">
                                                <img src="../../build/img/night.svg" alt="">
                                                <p>Ясно</p>
                                            </div>
                                            <div class="weather-plashka-part weather-plashka-last">
                                                <img src="../../build/img/wind.svg" alt="">
                                                <p>ЮЗ 10 км/ч</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-6 col-12">
                                        <div class="weather-plashka-big weather-plashka-small">
                                            <div class="weather-plashka-part weather-plashka-days">
                                                <p>08.02</p>
                                                <p>Вс</p>
                                            </div>
                                            <div class="weather-plashka-part weather-plashka-grad">
                                                <p>6°</p>
                                            </div>
                                            <div class="weather-plashka-part weather-plashka-img">
                                                <img src="../../build/img/snowy.svg" alt="">
                                                <p>Пасмурно</p>
                                            </div>
                                            <div class="weather-plashka-part weather-plashka-last">
                                                <img src="../../build/img/wind.svg" alt="">
                                                <p>ЮЗ 10 км/ч</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-6 col-12">
                                        <div class="weather-plashka-big weather-plashka-small night">
                                            <div class="weather-plashka-part weather-plashka-days">
                                                <p>Ночь</p>
                                                <p>08.02</p>
                                            </div>
                                            <div class="weather-plashka-part weather-plashka-grad">
                                                <p>-3°</p>
                                            </div>
                                            <div class="weather-plashka-part weather-plashka-img">
                                                <img src="../../build/img/night.svg" alt="">
                                                <p>Ясно</p>
                                            </div>
                                            <div class="weather-plashka-part weather-plashka-last">
                                                <img src="../../build/img/wind.svg" alt="">
                                                <p>ЮЗ 10 км/ч</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-12">
                    <div class="banner-news-wrp">
                        <div class="banner-news">
                            <img src="../../build/img/afisha-banner1.png" alt="">
                        </div>
                    </div>
                    <div class="banner-news-wrp">
                        <div class="banner-news">
                            <img src="../../build/img/afisha-banner2.png" alt="">
                        </div>
                    </div>
                 </div>
            </div>
        </section>
    </div>
</main>
