.menu {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    top: 56px;
    right: 0;
    z-index: 5;
    width: 100%;
    height: 100vh;
    height: calc((var(--vhMenu, 1vh) * 100) - 56px);
    transition: height .2s;
    background-color: #ffffff;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 12px 16px 18px;
    & > img {
        position: absolute;
        top: 70px;
        left: 5%;
        width: 90%;
        z-index: 1;
        opacity: 0.06;
    }
    &.active {
        display: flex;
    }
}
.menu-desctop {
    position: fixed;
    top: 56px;
    left: 0;
    z-index: 5;
    width: 100%;
    height: calc((var(--vhMenu, 1vh) * 100) - 56px);
    background: rgba(22, 22, 22, 0.9);
    display: none;
    &.active {
        display: block;
    }
}
.menu-desctop-inner {
    height: 100%;
    .container {
        position: relative;
        height: 100%;
    }
}
.menu-column {
    position: relative;
    height: 100%;
    width: 323px;
    margin-left: -40px;
    &::before {
        content: '';
        top: 0;
        position: absolute;
        right: 0;
        background: linear-gradient(180deg, #0857A2 0%, #2A99D8 49.95%, #0857A1 100%);
        height: 100%;
        width: 50vw;
        z-index: 1;
    }
}
.menu-column2 {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 279px;
    width: 220px;
    height: 100%;
    padding-top: 10px;
    overflow-y: auto;
    background: linear-gradient(180deg, #0857A2 0%, #2A99D8 49.95%, #0857A1 100%);
    border-left: 1px solid rgba(208, 232, 255, 0.2);
    display: none;
    &.active {
        display: block;
    }
}
.menu-column3 {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 497px;
    width: 220px;
    height: 100%;
    padding-top: 10px;
    overflow-y: auto;
    background: linear-gradient(180deg, #0857A2 0%, #2A99D8 49.95%, #0857A1 100%);
    border-left: 1px solid rgba(208, 232, 255, 0.2);
    display: none;
    &.active {
        display: block;
    }
}
.menu-column2-list {
    display: none;
    &.active {
        display: block;
    }
    a {
        display: block;
        padding: 8px 23px;
        color: #D0E8FF;
        background-color: rgba(208, 232, 255, 0);
        &:hover, &.active {
            background-color: rgba(208, 232, 255, 0.2);
        }
    }
}
// .menu-column2-sub {
//     a {
//         display: block;
//         padding: 8px 23px;
//         color: #D0E8FF;
//         background-color: rgba(208, 232, 255, 0);
//         &.active {
//             background-color: rgba(208, 232, 255, 0.2);
//         }
//     }
// }
.menu-desctop-list {
    padding-top: 3px;
    position: relative;
    z-index: 2;
    li {
        a {
            position: relative;
            display: block;
            font-size: 18px;
            color: #ffffff;
            padding: 13px 51px 13px 40px;
            &::before {
                content: '';
                position: absolute;
                left: -300px;
                right: 0;
                top: 0;
                bottom: 0;
                background-color: rgba(208, 232, 255, 0.2);
                opacity: 0;
            }
            &.active {
                &::before {
                    opacity: 1;
                }
            }
        }
    }
}

.menu-desctop-list-bottom {
    position: relative;
    margin-top: 21px;
    padding-top: 20px;
    position: relative;
    z-index: 2;
    &::before {
        content: '';
        position: absolute;
        left: -300px;
        right: 0;
        top: 0;
        background-color: rgba(208, 232, 255, 0.2);
        height: 1px;
    }
    li {
        a {
            position: relative;
            display: block;
            color: #ffffff;
            padding: 8px 8px 8px 40px;
            &::before {
                content: '';
                position: absolute;
                left: -300px;
                right: 0;
                top: 0;
                bottom: 0;
                background-color: rgba(208, 232, 255, 0.2);
                opacity: 0;
            }
            &:hover {
                &::before {
                    opacity: 1;
                }
            }
        }
    }
}
.parent-li a {
    position: relative;
    &::after {
        position: absolute;
        top: 50%;
        margin-top: -5px;
        right: 41px;
        content: '';
        width: 0;
    	height: 0;
    	border-top: 5px solid transparent;
    	border-right: 5px solid #ffffff;
    	border-bottom: 5px solid transparent;
        transform:  scale(-1, 1);
    }
    &.active {
        &::after {
            transform: none;
        }
    }
}
.menu-column2 {
    .parent-li a {
        &::after {
            right: 15px;
        }
    }
}
.menu-list {
    position: relative;
    z-index: 2;
    padding-bottom: 6px;
    &::after {
        content: '';
        position: absolute;
        left: -16px;
        bottom: 0;
        width: calc(100% + 32px);
        height: 3px;
        background-color: #D0E8FF;
    }
}
.link-li {
    p a {
        display: block;
        font-size: 18px;
        padding: 12px 0;
        border-bottom: 1px solid #D0E8FF;
    }
    &:last-child {
        & > p a {
            border: none;
        }
    }
}
.collaps-card {
    border-bottom: 1px solid #D0E8FF;
    p {
        font-size: 18px;
        padding: 12px 20px 12px 0;

    }
    &:last-child {
        border: none;
    }
    &.active {
        .collaps-top {
            &::after {
                transform: rotate(180deg);
                border-top-color: #148CFE;
            }
        }
    }
}
.collaps-body {
    display: none;
}
.collaps-top {
    position: relative;
    &::after {
        content: '';
        position: absolute;
        top: 50%;
        margin-top: -3px;
        right: 0;
        width: 0;
    	height: 0;
    	border-left: 5px solid transparent;
    	border-right: 5px solid transparent;
    	border-top: 5px solid #222222;
    }
}
.inner-menu {
    padding-top: 4px;
    padding-bottom: 18px;
    li {
        color: #949494;
        & + li {
            margin-top: 12px;
        }
    }
}
.menu-list-snmall {
    margin-top: 10px;
    li {
        a {
            display: block;
            padding: 8px 0;
            border-bottom: 1px solid #D0E8FF;
        }
        &:last-child {
            a {
                border: none;
            }
        }
    }
}
.menu-soc-ac {
    margin-top: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
    li {
        a {
            padding: 0 16px;
            img {
                height: 24px;
            }
        }
        & + li {
            border-left: 1px solid #D0E8FF;
        }
    }
}
@media (max-width: 1366px) {
    .menu-desctop-list-wrp {
        overflow-y: auto;
        height: 100%;
    }
}
