<main class="vacancy-page vacancyPaid-page">
    <div class="container container-custom">
        <section class="banner-main">
            <div class="row">
                <div class="col-xl-3 col-lg-4 col-md-5">
                    <div class="banner-img">
                        <img src="../../build/img/banner1.png" alt="">
                    </div>
                </div>
                <div class="col-xl-9 col-lg-8 col-md-7 col-12 d-md-block d-none">
                    <div class="banner-img">
                        <img src="../../build/img/banner2.png" alt="">
                    </div>
                </div>
            </div>
        </section>
        <!-- 2 block  -->
        <div class="open-cat-btn" data-hot="hotNews4">
            <img src="../../build/img/voronka.svg" alt="">
            <p>Весь справочник</p>
        </div>
        <div class="block-vac-btn-wrp block-vac-btn-wrp-mob">
            <div class="block-vac-btn" onclick="javascript:location.href='https://romura.space/vancouver/pages/output/businessCreate.html'">
                <img src="../../build/img/write.svg" alt="">
                <p>Добавить бизнес или услугу</p>
            </div>
            <div class="block-vac-btn">
                <img src="../../build/img/user.svg" alt="">
                <p class="logIn-btn">Войти в личный кабинет</p>
            </div>
        </div>
        <section class="readable-section">
            <div class="row">
                <div class="col-xl-9 col-lg-8 col-12">
                    <div class="row row-height">
                        <div class="col-xl-3 col-md-4 col-12 col-inner-3">
                            <div class="plashka-sticky plashka-sticky-buss">
                                <div class="plashka-sticky-content-wrp">
                                    <p class="vacancy-title-link">Справочник</p>
                                    <p class="vacancy-title-count">Всего опубликовано (1484)</p>
                                    <div class="input-buss-search-wrp">
                                        <input type="text" class="input-buss-search" placeholder="Поиск...">
                                        <div class="input-buss-search-btn">
                                            <img src="../../build/img/search.svg" alt="">
                                        </div>
                                    </div>
                                    <div class="vibor-wrp">
                                        <label class="radio">
                                            <input type="radio" name="buss" checked="">
                                            <div class="radio__text">Название</div>
                                        </label>
                                        <label class="radio">
                                            <input type="radio" name="buss">
                                            <div class="radio__text">Тел.</div>
                                        </label>
                                    </div>
                                    <p class="classic-link">
                                        <a href="#">Автомобили</a>
                                    </p>
                                    <p class="classic-link">
                                        <a href="#">Астрологи, ясновидцы</a>
                                    </p>
                                    <p class="classic-link">
                                        <a href="#">Дети</a>
                                    </p>
                                    <p class="classic-link">
                                        <a href="#">Домашние животные</a>
                                    </p>
                                    <p class="classic-link">
                                        <a href="#">Компьютеры</a>
                                    </p>
                                    <p class="classic-link">
                                        <a href="#">Культура</a>
                                    </p>
                                    <p class="classic-link">
                                        <a href="#">Автомобили</a>
                                    </p>
                                    <p class="classic-link">
                                        <a href="#">Астрологи, ясновидцы</a>
                                    </p>
                                    <p class="classic-link">
                                        <a href="#">Дети</a>
                                    </p>
                                    <p class="classic-link">
                                        <a href="#">Домашние животные</a>
                                    </p>
                                    <p class="classic-link">
                                        <a href="#">Компьютеры</a>
                                    </p>
                                    <p class="classic-link">
                                        <a href="#">Культура</a>
                                    </p>
                                    <p class="classic-link">
                                        <a href="#">Автомобили</a>
                                    </p>
                                    <p class="classic-link">
                                        <a href="#">Астрологи, ясновидцы</a>
                                    </p>
                                    <p class="classic-link">
                                        <a href="#">Дети</a>
                                    </p>
                                    <p class="classic-link">
                                        <a href="#">Домашние животные</a>
                                    </p>
                                    <p class="classic-link">
                                        <a href="#">Компьютеры</a>
                                    </p>
                                    <p class="classic-link">
                                        <a href="#">Культура</a>
                                    </p>

                                </div>
                                <div class="block-vac-btn-wrp">
                                    <div class="block-vac-btn" onclick="javascript:location.href='https://romura.space/vancouver/pages/output/businessCreate.html'">
                                        <img src="../../build/img/write.svg" alt="">
                                        <p>Добавить бизнес или услугу</p>
                                    </div>
                                    <div class="block-vac-btn">
                                        <img src="../../build/img/user.svg" alt="">
                                        <p class="logIn-btn">Войти в личный кабинет</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-9 col-md-8 col-12 col-inner-9">
                            <div class="plashka-news-wrp">
                                <div class="shapka-paid">
                                    <p>Разместить платную бизнес/услугу</p>
                                    <p class="shapka-blue">150 CAD в год</p>
                                </div>
                                <a href="#" class="back-to-paket" onclick="javascript:location.href='https://romura.space/vancouver/pages/output/businessCreate.html'">
                                    <img src="../../build/img/cil_arrow-left.svg" alt="">
                                    <span>Вернуться к выбору пакета</span>
                                </a>
                                <div class="vazhno-block">
                                    <p><span>Важно!</span> Поля, помеченные звездочкой, обязательны к заполнению</p>
                                </div>
                                <form id="form7" action="#">
                                    <div class="section-paid-input">
                                        <div class="paid-title-2-wrp">
                                            <p class="paid-title-2 paid-title-none">Контактная информация:</p>
                                            <p class="paid-title-2 paid-title-hello">Здравствуйте, Виссарион Виссарионович</p>
                                            <div class="flex-vertical flex-vertical-none">
                                                <p>Уже есть аккаунт?</p>
                                                <span class="logIn-btn">Войти</span>
                                            </div>
                                            <div class="flex-vertical flex-vertical-hello">
                                                <p>Не тот аккаунт?</p>
                                                <span>Выйти</span>
                                            </div>
                                        </div>
                                        <div class="row vac-inputs">
                                            <div class="col-xl-6 col-12">
                                                <div class="input-style">
                                                    <input class="comment-input input-valid comment-input-name" type="text" name="name" data-input="name" placeholder="Ваше полное имя*">
                                                    <p class="input-error">Ошибка ввода</p>
                                                </div>
                                            </div>
                                            <div class="col-xl-6 col-12">
                                                <div class="input-style">
                                                    <input class="comment-input input-valid comment-input-name mask-phone" type="tel" name="tel" data-input="phone" placeholder="Номер телефона">
                                                    <p class="input-error">Ошибка ввода</p>
                                                </div>
                                            </div>
                                            <div class="col-xl-6 col-12">
                                                <div class="input-style">
                                                    <input class="comment-input input-valid comment-input-name" type="email" name="email" data-input="email" placeholder="Ваш e-mail*">
                                                    <p class="input-error">Ошибка ввода</p>
                                                </div>
                                            </div>
                                            <div class="col-xl-6 col-12">
                                                <p class="ad">Информация для редактирования объявления будет отправлена на этот адрес</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="section-paid-input">
                                        <div class="paid-title-2-wrp">
                                            <p class="paid-title-2">Информация о Вашем бизнесе/услуге:</p>
                                        </div>
                                        <div class="row vac-inputs">
                                            <div class="col-xl-5 col-12">
                                                <div class="input-style">
                                                    <div class="custom-select-wrapper custom-select-wrapper-main">
                                                        <label for="categorySelect"></label>
                                                        <select class="input-valid select-parent" id="categorySelect">
                                                            <option value="none">none</option>
                                                            <option value="Категория1">Категория1</option>
                                                            <option value="Категория2">Категория2</option>
                                                            <option value="Категория3">Категория3</option>
                                                            <option value="Категория4">Категория4</option>
                                                        </select>
                                                        <div class="custom-select-head placeholder"><span>Категория*</span></div>
                                                        <div class="custom-select-list-wrapper">
                                                            <ul class="custom-select-list select-parent">
                                                                <li data-cat="cat1" data-value="Категория1">Категория1</li>
                                                                <li data-cat="cat2" data-value="Категория2">Категория2</li>
                                                                <li data-cat="cat3" data-value="Категория3">Категория3</li>
                                                                <li data-cat="cat4" data-value="Категория4">Категория4</li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <p class="input-error">Ошибка ввода</p>
                                                </div>
                                            </div>
                                            <div class="col-xl-7 col-12">
                                                <div class="input-style subCatSelect-wrp disabled">
                                                    <div class="custom-select-wrapper custom-select-wrapper-sub subCatSelect active" data-cat="cat1">
                                                        <label for="categorySelect11"></label>
                                                        <select class="input-valid" id="categorySelect11">
                                                            <option value="none">none</option>
                                                            <option value="Подкатегория1-1">Подкатегория1-1</option>
                                                            <option value="Подкатегория1-2">Подкатегория1-2</option>
                                                            <option value="Подкатегория1-3">Подкатегория1-3</option>
                                                            <option value="Подкатегория1-4">Подкатегория1-4</option>
                                                        </select>
                                                        <div class="custom-select-head placeholder"><span>Подкатегория*</span></div>
                                                        <div class="custom-select-list-wrapper">
                                                            <ul class="custom-select-list">
                                                                <li data-value="Подкатегория1-1">Подкатегория1-1</li>
                                                                <li data-value="Подкатегория1-2">Подкатегория1-2</li>
                                                                <li data-value="Подкатегория1-3">Подкатегория1-3</li>
                                                                <li data-value="Подкатегория1-4">Подкатегория1-4</li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <div class="custom-select-wrapper custom-select-wrapper-sub subCatSelect" data-cat="cat2">
                                                        <label for="categorySelect12"></label>
                                                        <select class="input-valid" id="categorySelect12">
                                                            <option value="none">none</option>
                                                            <option value="Подкатегория2-1">Подкатегория2-1</option>
                                                            <option value="Подкатегория2-2">Подкатегория2-2</option>
                                                            <option value="Подкатегория2-3">Подкатегория2-3</option>
                                                            <option value="Подкатегория2-4">Подкатегория2-4</option>
                                                        </select>
                                                        <div class="custom-select-head placeholder"><span>Подкатегория*</span></div>
                                                        <div class="custom-select-list-wrapper">
                                                            <ul class="custom-select-list">
                                                                <li data-value="Подкатегория2-1">Подкатегория2-1</li>
                                                                <li data-value="Подкатегория2-2">Подкатегория2-2</li>
                                                                <li data-value="Подкатегория2-3">Подкатегория2-3</li>
                                                                <li data-value="Подкатегория2-4">Подкатегория2-4</li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <div class="custom-select-wrapper custom-select-wrapper-sub subCatSelect" data-cat="cat3">
                                                        <label for="categorySelect13"></label>
                                                        <select class="input-valid" id="categorySelect13">
                                                            <option value="none">none</option>
                                                            <option value="Подкатегория3-1">Подкатегория3-1</option>
                                                            <option value="Подкатегория3-2">Подкатегория3-2</option>
                                                            <option value="Подкатегория3-3">Подкатегория3-3</option>
                                                            <option value="Подкатегория3-4">Подкатегория3-4</option>
                                                        </select>
                                                        <div class="custom-select-head placeholder"><span>Подкатегория*</span></div>
                                                        <div class="custom-select-list-wrapper">
                                                            <ul class="custom-select-list">
                                                                <li data-value="Подкатегория3-1">Подкатегория3-1</li>
                                                                <li data-value="Подкатегория3-2">Подкатегория3-2</li>
                                                                <li data-value="Подкатегория3-3">Подкатегория3-3</li>
                                                                <li data-value="Подкатегория3-4">Подкатегория3-4</li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <div class="custom-select-wrapper custom-select-wrapper-sub subCatSelect" data-cat="cat4">
                                                        <label for="categorySelect14"></label>
                                                        <select class="input-valid" id="categorySelect14">
                                                            <option value="none">none</option>
                                                            <option value="Подкатегория4-1">Подкатегория4-1</option>
                                                            <option value="Подкатегория4-2">Подкатегория4-2</option>
                                                            <option value="Подкатегория4-3">Подкатегория4-3</option>
                                                            <option value="Подкатегория4-4">Подкатегория4-4</option>
                                                        </select>
                                                        <div class="custom-select-head placeholder"><span>Подкатегория*</span></div>
                                                        <div class="custom-select-list-wrapper">
                                                            <ul class="custom-select-list">
                                                                <li data-value="Подкатегория4-1">Подкатегория4-1</li>
                                                                <li data-value="Подкатегория4-2">Подкатегория4-2</li>
                                                                <li data-value="Подкатегория4-3">Подкатегория4-3</li>
                                                                <li data-value="Подкатегория4-4">Подкатегория4-4</li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <p class="input-error">Ошибка ввода</p>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="input-style">
                                                    <input id="limitInput" class="comment-input input-valid comment-input-name" type="text" name="title" placeholder="Название Компании/Услуги*">
                                                    <p class="input-error">Ошибка ввода</p>
                                                    <p class="count-symbols count-symbols-input">Осталось символов: <span>70</span></p>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="input-style">
                                                    <textarea id="limitTextarea" class="comment-input input-valid comment-input-name comment-textarea long" type="text" name="text" placeholder="Описание*"></textarea>
                                                    <p class="input-error">Ошибка ввода</p>
                                                    <p class="count-symbols count-symbols-textarea">Осталось символов: <span>500</span></p>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="input-style">
                                                    <input class="comment-input comment-input-name" type="text" name="name" placeholder="Адрес">
                                                </div>
                                            </div>
                                            <div class="col-xl-6 col-12">
                                                <div class="input-style">
                                                    <input class="comment-input input-valid comment-input-name mask-phone" type="tel" name="tel" data-input="phone" placeholder="Телефон*">
                                                    <p class="input-error">Ошибка ввода</p>
                                                </div>
                                            </div>
                                            <div class="col-xl-6 col-12">
                                                <div class="input-style">
                                                    <input class="comment-input comment-input-name mask-phone" type="tel" name="tel" data-input="phone" placeholder="Дополнительный телефон">
                                                    <p class="input-error">Ошибка ввода</p>
                                                </div>
                                            </div>
                                            <div class="col-xl-6 col-12">
                                                <div class="input-style">
                                                    <input class="comment-input input-valid comment-input-name" type="text" name="name" data-input="name" placeholder="Имя*">
                                                    <p class="input-error">Ошибка ввода</p>
                                                </div>
                                            </div>
                                            <div class="col-xl-6 col-12 label-flex">
                                                <label class="checkbox">
                                                    <input type="checkbox" checked="">
                                                    <div class="checkbox__text">Использовать контактное имя</div>
                                                </label>
                                            </div>
                                            <div class="col-xl-6 col-12">
                                                <div class="input-style">
                                                    <input class="comment-input input-valid comment-input-name" type="email" name="email" data-input="email" placeholder="E-mail*">
                                                    <p class="input-error">Ошибка ввода</p>
                                                </div>
                                            </div>
                                            <div class="col-xl-6 col-12 label-flex">
                                                <label class="checkbox">
                                                    <input type="checkbox" checked="">
                                                    <div class="checkbox__text">Использовать контактный e-mail</div>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="section-paid-input">
                                        <p class="subtitlebus">Ссылки:</p>
                                        <div class="row vac-inputs">
                                            <div class="col-xl-6 col-12">
                                                <div class="input-style">
                                                    <input class="comment-input comment-input-name" type="text" name="name" data-input="link" placeholder="Вебсайт">
                                                </div>
                                            </div>
                                            <div class="col-xl-6 col-12">
                                                <div class="input-style">
                                                    <input class="comment-input comment-input-name" type="text" name="name" data-input="link" placeholder="Facebook">
                                                </div>
                                            </div>
                                            <div class="col-xl-6 col-12">
                                                <div class="input-style">
                                                    <input class="comment-input comment-input-name" type="text" name="name" data-input="link" placeholder="Telegram">
                                                </div>
                                            </div>
                                            <div class="col-xl-6 col-12">
                                                <div class="input-style">
                                                    <input class="comment-input comment-input-name" type="text" name="name" data-input="link" placeholder="Youtube">
                                                </div>
                                            </div>
                                            <div class="col-xl-6 col-12">
                                                <div class="input-style">
                                                    <input class="comment-input comment-input-name" type="text" name="name" data-input="link" placeholder="Instagram">
                                                </div>
                                            </div>
                                            <div class="col-xl-6 col-12">
                                                <div class="input-style">
                                                    <input class="comment-input comment-input-name" type="text" name="name" data-input="link" placeholder="Tiktok">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="drop-block drop-block-images">
                                        <p class="paid-title-3">Загрузить картинки:</p>
                                        <p>Загружать можно картинки в формате JPG, JPEG и PNG размером не больше 1Мб.</p>
                                        <div class="input-images-wrp busFree">
                                            <div class="input-images-label-wrp">
                                                <div class="input-images-label">
                                                    <p>Нажмите, чтобы&nbsp;добавить фото</p>
                                                    <img src="../../build/img/camera.svg" alt="">
                                                </div>
                                            </div>
                                            <div class="input-images input-images-busFree"></div>
                                        </div>
                                        <p class="drop-warning">Рекомендуем картинки с горизонтальным расположением; вертикальные изображения будет автоматически обрезаны</p>
                                    </div>

                                    <div class="section-promocode">
                                        <div class="paid-title-2-wrp">
                                            <p class="paid-title-2">Промокод:</p>
                                        </div>
                                        <div class="promocode-flex">
                                            <input class="comment-input" type="text" name="promocode" placeholder="Введите код">
                                            <div class="promocode-btn">Применить</div>
                                        </div>
                                    </div>
                                    <div class="vac-warning">
                                        <p><span>Важно!</span> По истечение оплаченного периода, Ваше объявление не удаляется, а только перестаёт быть платным и попадает в общий список бесплатных объявлений. Если Вы решите продлить/изменить или удалить Ваше платное объявление, войдите в свой личный кабинет</p>
                                    </div>
                                    <label class="checkbox checkbox-warning">
                                        <input class="checkbox-check" type="checkbox">
                                        <div class="checkbox__text">Прежде чем добавить объявление, ознакомьтесь с&nbsp;<a href="/policy">соглашением об использовании услуг</a></div>
                                    </label>
                                    <div class="razmest-wrp">
                                        <div class="razmest-btn btn-checkbox btn-checkbox-disabled">Разместить бизнес/услугу</div>
                                        <p>Вы будете перенаправлены для оплаты на сервис PayPal</p>
                                    </div>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-12">
                    <div class="banner-news-wrp">
                        <div class="banner-news">
                            <img src="../../build/img/afisha-banner1.png" alt="">
                        </div>
                    </div>
                    <div class="banner-news-wrp">
                        <div class="banner-news">
                            <img src="../../build/img/afisha-banner2.png" alt="">
                        </div>
                    </div>
                    <div class="main-news-small-sticky">
                        <div class="main-news-small">
                            <ul class="small-tabs really-small">
                                <li class="active" data-tab="tab1">Последние статьи</li>
                                <li data-tab="tab2">Последние комментарии</li>
                                <li data-tab="tab3">Популярные статьи</li>
                            </ul>
                            <div class="more-read-news-wrp">
                                <div id="tab1" class="more-read-news-blocks active">
                                    <a href="#" class="more-read-news-block">
                                        <img src="../../build/img/mini-news1.png" alt="">
                                        <p>Въезд в центр Ванкувера станет платным</p>
                                    </a>
                                    <a href="#" class="more-read-news-block">
                                        <img src="../../build/img/mini-news2.png" alt="">
                                        <p>В Ванкувере женщина плюнула в пассажира автобуса и получила за это</p>
                                    </a>
                                    <a href="#" class="more-read-news-block">
                                        <img src="../../build/img/mini-news3.png" alt="">
                                        <p>Пособия на ребенка в Канаде: Особенности и размер выплат</p>
                                    </a>
                                    <a href="#" class="more-read-news-block">
                                        <img src="../../build/img/mini-news4.png" alt="">
                                        <p>Один дома: с какого возраста ребенка в Канаде можно оставить без присмотра</p>
                                    </a>
                                    <a href="#" class="more-read-news-block">
                                        <img src="../../build/img/mini-news3.png" alt="">
                                        <p>Пособия на ребенка в Канаде: Особенности и размер выплат</p>
                                    </a>
                                    <a href="#" class="more-read-news-block">
                                        <img src="../../build/img/mini-news4.png" alt="">
                                        <p>Один дома: с какого возраста ребенка в Канаде можно оставить без присмотра</p>
                                    </a>
                                </div>
                                <div id="tab2" class="more-read-news-blocks">
                                    <a href="#" class="more-read-comm-block">
                                        <img src="../../build/img/mini-news1.png" alt="">
                                        <div>
                                            <p class="author-comm">Иван Иванов на:</p>
                                            <p>Въезд в центр Ванкувера станет платным</p>
                                        </div>
                                    </a>
                                    <a href="#" class="more-read-comm-block">
                                        <img src="../../build/img/mini-news2.png" alt="">
                                        <div>
                                            <p class="author-comm">Иван Иванов на:</p>
                                            <p>В Ванкувере женщина плюнула в пассажира автобуса и получила за это</p>
                                        </div>
                                    </a>
                                </div>
                                <div id="tab3" class="more-read-news-blocks">
                                    <a href="#" class="more-read-news-block">
                                        <img src="../../build/img/mini-news4.png" alt="">
                                        <p>Один дома: с какого возраста ребенка в Канаде можно оставить без присмотра</p>
                                    </a>
                                    <a href="#" class="more-read-news-block">
                                        <img src="../../build/img/mini-news3.png" alt="">
                                        <p>Пособия на ребенка в Канаде: Особенности и размер выплат</p>
                                    </a>
                                    <a href="#" class="more-read-news-block">
                                        <img src="../../build/img/mini-news4.png" alt="">
                                        <p>Один дома: с какого возраста ребенка в Канаде можно оставить без присмотра</p>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="section-banner-slider">
            <div class="banner-slider-wrp">
                <div class="banner-slider">
                    <div>
                        <div class="banner-slider-img">
                            <img src="../../build/img/banner-slider1.png" alt="">
                        </div>
                    </div>
                    <div>
                        <div class="banner-slider-img">
                            <img src="../../build/img/banner-slider2.png" alt="">
                        </div>
                    </div>
                    <div>
                        <div class="banner-slider-img">
                            <img src="../../build/img/banner-slider3.png" alt="">
                        </div>
                    </div>
                    <div>
                        <div class="banner-slider-img">
                            <img src="../../build/img/banner-slider4.png" alt="">
                        </div>
                    </div>
                    <div>
                        <div class="banner-slider-img">
                            <img src="../../build/img/banner-slider5.png" alt="">
                        </div>
                    </div>
                    <div>
                        <div class="banner-slider-img">
                            <img src="../../build/img/banner-slider1.png" alt="">
                        </div>
                    </div>
                    <div>
                        <div class="banner-slider-img">
                            <img src="../../build/img/banner-slider3.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="main-dots-arrows-wrp">
                    <div class="slider-arrow prev-bunner-arrow">
                        <img src="../../build/img/prev.svg" alt="">
                    </div>
                    <div class="main-dots-wrp"></div>
                    <div class="slider-arrow next-bunner-arrow">
                        <img src="../../build/img/next.svg" alt="">
                    </div>
                </div>
            </div>
        </section>
        <section class="section-announcment">
            <div class="row">
                <div class="col-lg-6 col-12">
                    <div class="plashka-announcment">
                        <div>
                            <div class="general-line-title">
                                <p>Справочник услуг</p>
                                <a href="https://romura.space/vancouver/pages/output/business.html">Все бизнесы</a>
                            </div>
                            <a href="#" class="announcment-block tag-block" data-color="green">
                                <div>
                                    <p class="announcment-name">Василиса Давыдова, СРА</p>
                                    <p class="announcment-data">17.11.2020</p>
                                </div>
                                <div class="announcment-tag">Бухгалтерские услуги</div>
                            </a>
                            <a href="#" class="announcment-block tag-block" data-color="green">
                                <div>
                                    <p class="announcment-name">Оказывается, базовый вектор развития продолжает удивлять</p>
                                    <p class="announcment-data">17.11.2020</p>
                                </div>
                                <div class="announcment-tag">Бухгалтерские услуги</div>
                            </a>
                            <a href="#" class="announcment-block tag-block" data-color="green">
                                <div>
                                    <p class="announcment-name">Герцог графства коронован</p>
                                    <p class="announcment-data">17.11.2020</p>
                                </div>
                                <div class="announcment-tag">Бухгалтерские услуги</div>
                            </a>
                            <a href="#" class="announcment-block tag-block" data-color="green">
                                <div>
                                    <p class="announcment-name">Независимые СМИ потому и независимы, что ночь оказалась долгой</p>
                                    <p class="announcment-data">17.11.2020</p>
                                </div>
                                <div class="announcment-tag">Бухгалтерские услуги</div>
                            </a>
                            <a href="#" class="announcment-block tag-block" data-color="green">
                                <div>
                                    <p class="announcment-name">Василиса Давыдова, СРА</p>
                                    <p class="announcment-data">17.11.2020</p>
                                </div>
                                <div class="announcment-tag">Бухгалтерские услуги</div>
                            </a>
                            <a href="#" class="announcment-block tag-block" data-color="green">
                                <div>
                                    <p class="announcment-name">Оказывается, базовый вектор развития продолжает удивлять</p>
                                    <p class="announcment-data">17.11.2020</p>
                                </div>
                                <div class="announcment-tag">Бухгалтерские услуги</div>
                            </a>
                            <a href="#" class="announcment-block tag-block" data-color="green">
                                <div>
                                    <p class="announcment-name">Герцог графства коронован</p>
                                    <p class="announcment-data">17.11.2020</p>
                                </div>
                                <div class="announcment-tag">Бухгалтерские услуги</div>
                            </a>
                            <a class="mob-all-link" href="https://romura.space/vancouver/pages/output/business.html">Все бизнесы</a>
                        </div>
                        <div class="btn-place" onclick="javascript:location.href='https://romura.space/vancouver/pages/output/businessCreate.html'">
                            <img src="../../build/img/add.svg" alt="">
                            <span>Разместить новый бизнес/услугу</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-12">
                    <div class="plashka-afisha">
                        <div class="general-line-title">
                            <p>Афиша</p>
                            <a href="#">Все мероприятия</a>
                        </div>
                        <a href="#" class="afisha-block tag-block" data-color="violet">
                            <div>
                                <img src="../../build/img/afisha1.jpg" alt="">
                                <div class="afisha-text">
                                    <p class="afisha-name">Анжелика Вариум и Леонид Агутин (Большой концерт</p>
                                    <p class="afisha-data">
                                        <span>Ванкувер</span>
                                        <span>10.12.2020</span>
                                    </p>
                                </div>
                            </div>
                            <div class="announcment-tag">Концерт</div>
                        </a>
                        <a href="#" class="afisha-block tag-block" data-color="violet">
                            <div>
                                <img src="../../build/img/afisha1.jpg" alt="">
                                <div class="afisha-text">
                                    <p class="afisha-name">Анжелика Вариум и Леонид Агутин (Большой концерт и Леонид Агутин (Большой концерт</p>
                                    <p class="afisha-data">
                                        <span>Ванкувер</span>
                                        <span>10.12.2020</span>
                                    </p>
                                </div>
                            </div>
                            <div class="announcment-tag">Мероприятие</div>
                        </a>
                        <a href="#" class="afisha-block tag-block" data-color="violet">
                            <div>
                                <img src="../../build/img/afisha1.jpg" alt="">
                                <div class="afisha-text">
                                    <p class="afisha-name">Анжелика Вариум и Леонид Агутин (Большой концерт</p>
                                    <p class="afisha-data">
                                        <span>Ванкувер</span>
                                        <span>10.12.2020</span>
                                    </p>
                                </div>
                            </div>
                            <div class="announcment-tag">Вебинар</div>
                        </a>
                        <a href="#" class="afisha-block tag-block" data-color="violet">
                            <div>
                                <img src="../../build/img/afisha1.jpg" alt="">
                                <div class="afisha-text">
                                    <p class="afisha-name">Анжелика Вариум и Леонид</p>
                                    <p class="afisha-data">
                                        <span>Ванкувер</span>
                                        <span>10.12.2020</span>
                                    </p>
                                </div>
                            </div>
                            <div class="announcment-tag">Концерт</div>
                        </a>
                        <a href="#" class="afisha-block tag-block" data-color="violet">
                            <div>
                                <img src="../../build/img/afisha1.jpg" alt="">
                                <div class="afisha-text">
                                    <p class="afisha-name">Анжелика Вариум и Леонид Агутин (Большой концерт</p>
                                    <p class="afisha-data">
                                        <span>Ванкувер</span>
                                        <span>10.12.2020</span>
                                    </p>
                                </div>
                            </div>
                            <div class="announcment-tag">Мероприятие</div>
                        </a>
                        <a href="#" class="afisha-block tag-block" data-color="violet">
                            <div>
                                <img src="../../build/img/afisha1.jpg" alt="">
                                <div class="afisha-text">
                                    <p class="afisha-name">Анжелика Вариум и Леонид Агутин (Большой концерт</p>
                                    <p class="afisha-data">
                                        <span>Ванкувер</span>
                                        <span>10.12.2020</span>
                                    </p>
                                </div>
                            </div>
                            <div class="announcment-tag">Вебинар</div>
                        </a>
                        <a href="#" class="afisha-block tag-block" data-color="violet">
                            <div>
                                <img src="../../build/img/afisha1.jpg" alt="">
                                <div class="afisha-text">
                                    <p class="afisha-name">Анжелика Вариум и Леонид Агутин (Большой концерт</p>
                                    <p class="afisha-data">
                                        <span>Ванкувер</span>
                                        <span>10.12.2020</span>
                                    </p>
                                </div>
                            </div>
                            <div class="announcment-tag">Вебинар</div>
                        </a>
                        <a class="mob-all-link" href="#">Все мероприятия</a>
                        <div class="btn-place">
                            <img src="../../build/img/add.svg" alt="">
                            <span>Добавить новое мероприятие</span>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</main>
