<main class="news-page authors-page">
    <div class="container container-custom">
        <section class="banner-main">
            <div class="row">
                <div class="col-xl-3 col-lg-4 col-md-5">
                    <div class="banner-img">
                        <img src="../../build/img/banner1.png" alt="">
                    </div>
                </div>
                <div class="col-xl-9 col-lg-8 col-md-7 col-12 d-md-block d-none">
                    <div class="banner-img">
                        <img src="../../build/img/banner2.png" alt="">
                    </div>
                </div>
            </div>
        </section>
        <!-- 2 block  -->
        <ul class="link-to-article">
            <li class="active"  data-hot="hotNews1">
                <a href="#">Статьи от сайта Наш Ванкувер</a>
            </li>
            <li  data-hot="hotNews2">
                <a href="#">Лента горячих новостей 24/7</a>
            </li>
        </ul>
        <div class="open-cat-btn">
            <img src="../../build/img/voronka.svg" alt="">
            <p>Выберите категорию</p>
        </div>
        <section class="readable-section">
            <div class="row">
                <div class="col-xl-9 col-lg-8 col-12">
                    <ul class="hot-tabs">
                        <li class="active" data-hot="hotNews1">Статьи от сайта Наш Ванкувер</li>
                        <li data-hot="hotNews2">Лента горячих новостей 24/7</li>
                    </ul>
                    <div class="row row-height">
                        <div class="col-xl-3 col-md-4 col-12 col-inner-3">
                            <div class="plashka-sticky">
                                <div class="plashka-sticky-content-wrp">
                                    <div class="plashka-sticky-content hot-switch active" data-hot="hotNews1">
                                        <div>
                                            <p class="classic-link">
                                                <a href="#">Все статьи</a>
                                            </p>
                                            <p class="classic-link">
                                                <a href="#">Новости Ванкувера</a>
                                            </p>
                                            <p class="classic-link">
                                                <a href="#">Новости Канады</a>
                                            </p>
                                            <p class="classic-link">
                                                <a href="#">Covid-19</a>
                                            </p>
                                            <p class="classic-link">
                                                <a href="#">Технологии</a>
                                            </p>
                                            <p class="classic-link">
                                                <a href="#">Фото/Видео</a>
                                            </p>
                                            <p class="classic-link">
                                                <a href="#">Путешествия</a>
                                            </p>
                                            <p class="classic-link">
                                                <a href="#">О Ванкувере</a>
                                            </p>
                                            <p class="classic-link">
                                                <a href="#">О Канаде</a>
                                            </p>
                                        </div>
                                        <div>
                                            <p class="title-link">
                                                <a href="#">Блоги/Мнения</a>
                                            </p>
                                            <p class="classic-link">
                                                <a href="#">Все записи</a>
                                            </p>
                                            <p class="classic-link">
                                                <a href="#">Авторы</a>
                                            </p>
                                            <p class="classic-link">
                                                <a href="#">Интервью</a>
                                            </p>
                                            <p class="classic-link">
                                                <a href="#">Жители Ванкувера</a>
                                            </p>
                                            <p class="classic-link">
                                                <a href="#">Партнёрский материал</a>
                                            </p>
                                        </div>
                                        <div>
                                            <p class="title-link">
                                                <a href="#">Иммиграция</a>
                                            </p>
                                            <p class="classic-link">
                                                <a href="#">Новости иммиграции</a>
                                            </p>
                                            <p class="classic-link">
                                                <a href="#">Иммиграционные программы</a>
                                            </p>
                                            <p class="classic-link">
                                                <a href="#">Статьи об иммиграции</a>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="plashka-sticky-content hot-switch" data-hot="hotNews2">
                                        <div>
                                            <p class="classic-link">
                                                <a href="#">Вся лента</a>
                                            </p>
                                        </div>
                                        <div>
                                            <p class="title-link hover">
                                                <a href="#">Российские СМИ</a>
                                            </p>
                                            <p class="classic-link">
                                                <a href="#">Meduza.io</a>
                                            </p>
                                            <p class="classic-link">
                                                <a href="#">Lenta.ru</a>
                                            </p>
                                            <p class="classic-link">
                                                <a href="#">Rbc.ru</a>
                                            </p>
                                        </div>
                                        <div>
                                            <p class="title-link hover">
                                                <a href="#">Украинские СМИ</a>
                                            </p>
                                            <p class="classic-link">
                                                <a href="#">Korrespondent.net</a>
                                            </p>
                                            <p class="classic-link">
                                                <a href="#">Pravda.com.ua</a>
                                            </p>
                                            <p class="classic-link">
                                                <a href="#">Rbc.ua</a>
                                            </p>
                                        </div>
                                        <div>
                                            <p class="title-link hover">
                                                <a href="#">Международные СМИ</a>
                                            </p>
                                            <p class="classic-link">
                                                <a href="#">Голос Америки</a>
                                            </p>
                                            <p class="classic-link">
                                                <a href="#">BBC News Russian</a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="plashki-acc">
                                    <div class="plashka-acc plashka-acc-fb">
                                        <img src="../../build/img/fb-plashka.svg" alt="">
                                        <p>Подписаться</p>
                                    </div>
                                    <div class="plashka-acc plashka-acc-telega">
                                        <img src="../../build/img/telegram-plashka.svg" alt="">
                                        <p>Подписаться</p>
                                    </div>
                                    <div class="plashki-form">
                                        <p>Одно письмо с лучшим за&nbsp;неделю</p>
                                        <form id="form2" action="#">
                                            <div class="red-input-wrp">
                                                <div class="input-style">
                                                    <input class="input-form input-valid input-plane" type="email" data-input="email" name="email" placeholder="E-mail">
                                                    <p class="input-error">Ошибка ввода</p>
                                                </div>
                                                <button class="send-btn-plane" type="button" name="button">
                                                    <img src="../../build/img/send-telega-plane.svg" alt="">
                                                </button>
                                            </div>
                                        </form>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="col-xl-9 col-md-8 col-12 col-inner-9 author-flex">
                            <div class="plashka-author">
                                <div class="plashka-author-decor"></div>
                                <div class="plashka-author-top">
                                    <div class="plashka-author-img">
                                        <img src="../../build/img/photo1.jpg" alt="">
                                    </div>
                                    <div class="plashka-author-info">
                                        <div class="plashka-author-about">
                                            <p class="plashka-author-name">Александра Булавина</p>
                                            <p>Миллиардер, филантроп и просто красавица</p>
                                        </div>
                                        <ul class="poll-article-line">
                                            <li>
                                                <a href="#">
                                                    <img src="../../build/img/outline-color.svg" alt="">
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <img src="../../build/img/fb-color.svg" alt="">
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <img src="../../build/img/telegram-color.svg" alt="">
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="plashka-author-text">
                                    А также сделанные на базе интернет-аналитики выводы, которые представляют собой яркий пример континентально-европейского типа политической культуры, будут своевременно верифицированы.
                                </div>
                                <div class="plashka-author-topic">
                                    <span>Пишет на тему:</span>
                                    <p>Покупка недвижимости в Канаде</p>
                                </div>
                            </div>
                            <div class="plashka-news-wrp">
                                <div data-hot="hotNews1" class="hot-news hot-switch active">
                                    <div>
                                        <a href="https://romura.space/vancouver/pages/output/article.html" class="hot-news-block tag-block">
                                            <img src="../../build/img/mini-news1.png" alt="">
                                            <div>
                                                <p class="hot-news-title">Канада представила крупнейший пакет экономической помощи со времен Второй мировой войны</p>
                                                <div class="data-hot-wrp">
                                                    <div class="flex-vertical">
                                                        <p class="announcment-data">17.11.2020</p>
                                                        <div class="flex-vertical comment-wrp">
                                                            <img src="../../build/img/comment.svg" alt="">
                                                            <span class="comment-count">12</span>
                                                        </div>
                                                    </div>
                                                    <div class="flex-vertical partner-tag-flex">
                                                        <div class="partner-tag-wrp">
                                                            <span>Партнерский материал</span>
                                                        </div>
                                                        <div class="partner-tag-wrp">
                                                            <span>Новости Иммиграции</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                        <a href="https://romura.space/vancouver/pages/output/article.html" class="hot-news-block tag-block">
                                            <img src="../../build/img/mini-news2.png" alt="">
                                            <div>
                                                <p class="hot-news-title">Мелочь, а приятно: объем доходов населения сократился</p>
                                                <div class="data-hot-wrp">
                                                    <div class="flex-vertical">
                                                        <p class="announcment-data">17.11.2020</p>
                                                        <div class="flex-vertical comment-wrp">
                                                            <img src="../../build/img/comment.svg" alt="">
                                                            <span class="comment-count">12</span>
                                                        </div>
                                                    </div>
                                                    <div class="flex-vertical partner-tag-flex">
                                                        <div class="partner-tag-wrp">
                                                            <span>Партнерский материал</span>
                                                        </div>
                                                        <div class="partner-tag-wrp">
                                                            <span>Новости Иммиграции</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                        <a href="https://romura.space/vancouver/pages/output/article.html" class="hot-news-block tag-block">
                                            <img src="../../build/img/mini-news1.png" alt="">
                                            <div>
                                                <p class="hot-news-title">Канада представила крупнейший пакет экономической помощи со времен Второй мировой войны</p>
                                                <div class="data-hot-wrp">
                                                    <div class="flex-vertical">
                                                        <p class="announcment-data">17.11.2020</p>
                                                        <div class="flex-vertical comment-wrp">
                                                            <img src="../../build/img/comment.svg" alt="">
                                                            <span class="comment-count">12</span>
                                                        </div>
                                                    </div>
                                                    <div class="flex-vertical partner-tag-flex">
                                                        <div class="partner-tag-wrp">
                                                            <span>Партнерский материал</span>
                                                        </div>
                                                        <div class="partner-tag-wrp">
                                                            <span>Новости Иммиграции</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                        <a href="https://romura.space/vancouver/pages/output/article.html" class="hot-news-block tag-block">
                                            <img src="../../build/img/mini-news2.png" alt="">
                                            <div>
                                                <p class="hot-news-title">Мелочь, а приятно: объем доходов населения сократился</p>
                                                <div class="data-hot-wrp">
                                                    <div class="flex-vertical">
                                                        <p class="announcment-data">17.11.2020</p>
                                                        <div class="flex-vertical comment-wrp">
                                                            <img src="../../build/img/comment.svg" alt="">
                                                            <span class="comment-count">12</span>
                                                        </div>
                                                    </div>
                                                    <div class="flex-vertical partner-tag-flex">
                                                        <div class="partner-tag-wrp">
                                                            <span>Партнерский материал</span>
                                                        </div>
                                                        <div class="partner-tag-wrp">
                                                            <span>Новости Иммиграции</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                        <a href="https://romura.space/vancouver/pages/output/article.html" class="hot-news-block tag-block">
                                            <img src="../../build/img/mini-news1.png" alt="">
                                            <div>
                                                <p class="hot-news-title">Канада представила крупнейший пакет экономической помощи со времен Второй мировой войны</p>
                                                <div class="data-hot-wrp">
                                                    <div class="flex-vertical">
                                                        <p class="announcment-data">17.11.2020</p>
                                                        <div class="flex-vertical comment-wrp">
                                                            <img src="../../build/img/comment.svg" alt="">
                                                            <span class="comment-count">12</span>
                                                        </div>
                                                    </div>
                                                    <div class="flex-vertical partner-tag-flex">
                                                        <div class="partner-tag-wrp">
                                                            <span>Партнерский материал</span>
                                                        </div>
                                                        <div class="partner-tag-wrp">
                                                            <span>Новости Иммиграции</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                        <a href="https://romura.space/vancouver/pages/output/article.html" class="hot-news-block tag-block">
                                            <img src="../../build/img/mini-news2.png" alt="">
                                            <div>
                                                <p class="hot-news-title">Мелочь, а приятно: объем доходов населения сократился</p>
                                                <div class="data-hot-wrp">
                                                    <div class="flex-vertical">
                                                        <p class="announcment-data">17.11.2020</p>
                                                        <div class="flex-vertical comment-wrp">
                                                            <img src="../../build/img/comment.svg" alt="">
                                                            <span class="comment-count">12</span>
                                                        </div>
                                                    </div>
                                                    <div class="flex-vertical partner-tag-flex">
                                                        <div class="partner-tag-wrp">
                                                            <span>Партнерский материал</span>
                                                        </div>
                                                        <div class="partner-tag-wrp">
                                                            <span>Новости Иммиграции</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                        <a href="https://romura.space/vancouver/pages/output/article.html" class="hot-news-block tag-block">
                                            <img src="../../build/img/mini-news1.png" alt="">
                                            <div>
                                                <p class="hot-news-title">Канада представила крупнейший пакет экономической помощи со времен Второй мировой войны</p>
                                                <div class="data-hot-wrp">
                                                    <div class="flex-vertical">
                                                        <p class="announcment-data">17.11.2020</p>
                                                        <div class="flex-vertical comment-wrp">
                                                            <img src="../../build/img/comment.svg" alt="">
                                                            <span class="comment-count">12</span>
                                                        </div>
                                                    </div>
                                                    <div class="flex-vertical partner-tag-flex">
                                                        <div class="partner-tag-wrp">
                                                            <span>Партнерский материал</span>
                                                        </div>
                                                        <div class="partner-tag-wrp">
                                                            <span>Новости Иммиграции</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                        <a href="https://romura.space/vancouver/pages/output/article.html" class="hot-news-block tag-block">
                                            <img src="../../build/img/mini-news2.png" alt="">
                                            <div>
                                                <p class="hot-news-title">Мелочь, а приятно: объем доходов населения сократился</p>
                                                <div class="data-hot-wrp">
                                                    <div class="flex-vertical">
                                                        <p class="announcment-data">17.11.2020</p>
                                                        <div class="flex-vertical comment-wrp">
                                                            <img src="../../build/img/comment.svg" alt="">
                                                            <span class="comment-count">12</span>
                                                        </div>
                                                    </div>
                                                    <div class="flex-vertical partner-tag-flex">
                                                        <div class="partner-tag-wrp">
                                                            <span>Партнерский материал</span>
                                                        </div>
                                                        <div class="partner-tag-wrp">
                                                            <span>Новости Иммиграции</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="pagination-container-wrp">
                                        <div class="pagination-container"></div>
                                    </div>
                                </div>
                                <div data-hot="hotNews2" class="hot-news hot-switch">
                                    <div>
                                        <a href="#" class="hot-line">
                                            <img src="../../build/img/icon1.png" alt="">
                                            <p>Безусловно, высокое качество позиционных исследований, а также свежий взгляд на привычные вещи -.</p>
                                        </a>
                                        <a href="#" class="hot-line">
                                            <img src="../../build/img/icon2.png" alt="">
                                            <p>Но многие известные личности могут быть ограничены исключительно образом мышления. Прежде всего.</p>
                                        </a>
                                        <a href="#" class="hot-line">
                                            <img src="../../build/img/icon3.png" alt="">
                                            <p>Задача организации, в особенности же новая модель организационной деятельности требует анализа.</p>
                                        </a>
                                        <a href="#" class="hot-line">
                                            <img src="../../build/img/icon4.png" alt="">
                                            <p>Также как консультация с широким активом обеспечивает широкому кругу (специалистов) участие в.</p>
                                        </a>
                                        <a href="#" class="hot-line">
                                            <img src="../../build/img/icon5.png" alt="">
                                            <p>Учитывая ключевые сценарии поведения, сплочённость команды профессионалов прекрасно подходит для.</p>
                                        </a>
                                        <a href="#" class="hot-line">
                                            <img src="../../build/img/icon6.png" alt="">
                                            <p>С учётом сложившейся международной обстановки, повышение уровня гражданского сознания однозначно.</p>
                                        </a>
                                        <a href="#" class="hot-line">
                                            <img src="../../build/img/icon7.png" alt="">
                                            <p>Противоположная точка зрения подразумевает, что тщательные исследования конкурентов обнародованы.</p>
                                        </a>
                                        <a href="#" class="hot-line">
                                            <img src="../../build/img/icon8.png" alt="">
                                            <p>Внезапно, многие известные личности формируют глобальную экономическую сеть и при этом -  функционально</p>
                                        </a>
                                        <a href="#" class="hot-line">
                                            <img src="../../build/img/icon9.png" alt="">
                                            <p>А ещё сделанные на базе интернет-аналитики выводы функционально разнесены на независимые элементы.</p>
                                        </a>
                                        <a href="#" class="hot-line">
                                            <img src="../../build/img/icon10.png" alt="">
                                            <p>Как уже неоднократно упомянуто, акционеры крупнейших компаний описаны максимально подробно</p>
                                        </a>
                                        <a href="#" class="hot-line">
                                            <img src="../../build/img/icon11.png" alt="">
                                            <p>И нет сомнений, что непосредственные участники технического прогресса, вне зависимости от их уровня.</p>
                                        </a>
                                        <a href="#" class="hot-line">
                                            <img src="../../build/img/icon12.png" alt="">
                                            <p>Следует отметить, что граница обучения кадров предоставляет широкие возможности для модели развития.</p>
                                        </a>
                                    </div>
                                    <div class="pagination-container-wrp">
                                        <div class="pagination-container"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-12">
                    <div class="banner-news-wrp">
                        <div class="banner-news">
                            <img src="../../build/img/afisha-banner1.png" alt="">
                        </div>
                    </div>
                    <div class="banner-news-wrp">
                        <div class="banner-news">
                            <img src="../../build/img/afisha-banner2.png" alt="">
                        </div>
                    </div>
                    <div class="main-news-small-sticky">
                        <div class="main-news-small">
                            <!-- <div class="general-line-title">
                                <p>Самое читаемое</p>
                            </div> -->
                            <ul class="small-tabs really-small">
                                <li class="active" data-tab="tab1">Последние статьи</li>
                                <li data-tab="tab2">Последние комментарии</li>
                                <li data-tab="tab3">Популярные статьи</li>
                            </ul>
                            <div class="more-read-news-wrp">
                                <div id="tab1" class="more-read-news-blocks active">
                                    <a href="#" class="more-read-news-block">
                                        <img src="../../build/img/mini-news1.png" alt="">
                                        <p>Въезд в центр Ванкувера станет платным</p>
                                    </a>
                                    <a href="#" class="more-read-news-block">
                                        <img src="../../build/img/mini-news2.png" alt="">
                                        <p>В Ванкувере женщина плюнула в пассажира автобуса и получила за это</p>
                                    </a>
                                    <a href="#" class="more-read-news-block">
                                        <img src="../../build/img/mini-news3.png" alt="">
                                        <p>Пособия на ребенка в Канаде: Особенности и размер выплат</p>
                                    </a>
                                    <a href="#" class="more-read-news-block">
                                        <img src="../../build/img/mini-news4.png" alt="">
                                        <p>Один дома: с какого возраста ребенка в Канаде можно оставить без присмотра</p>
                                    </a>
                                    <a href="#" class="more-read-news-block">
                                        <img src="../../build/img/mini-news3.png" alt="">
                                        <p>Пособия на ребенка в Канаде: Особенности и размер выплат</p>
                                    </a>
                                    <a href="#" class="more-read-news-block">
                                        <img src="../../build/img/mini-news4.png" alt="">
                                        <p>Один дома: с какого возраста ребенка в Канаде можно оставить без присмотра</p>
                                    </a>
                                </div>
                                <div id="tab2" class="more-read-news-blocks">
                                    <a href="#" class="more-read-comm-block">
                                        <img src="../../build/img/mini-news1.png" alt="">
                                        <div>
                                            <p class="author-comm">Иван Иванов на:</p>
                                            <p>Въезд в центр Ванкувера станет платным</p>
                                        </div>
                                    </a>
                                    <a href="#" class="more-read-comm-block">
                                        <img src="../../build/img/mini-news2.png" alt="">
                                        <div>
                                            <p class="author-comm">Иван Иванов на:</p>
                                            <p>В Ванкувере женщина плюнула в пассажира автобуса и получила за это</p>
                                        </div>
                                    </a>
                                </div>
                                <div id="tab3" class="more-read-news-blocks">
                                    <a href="#" class="more-read-news-block">
                                        <img src="../../build/img/mini-news4.png" alt="">
                                        <p>Один дома: с какого возраста ребенка в Канаде можно оставить без присмотра</p>
                                    </a>
                                    <a href="#" class="more-read-news-block">
                                        <img src="../../build/img/mini-news3.png" alt="">
                                        <p>Пособия на ребенка в Канаде: Особенности и размер выплат</p>
                                    </a>
                                    <a href="#" class="more-read-news-block">
                                        <img src="../../build/img/mini-news4.png" alt="">
                                        <p>Один дома: с какого возраста ребенка в Канаде можно оставить без присмотра</p>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- <section class="section-banner-slider">
            <div class="banner-slider-wrp">
                <div class="banner-slider">
                    <div>
                        <div class="banner-slider-img">
                            <img src="../../build/img/banner-slider1.png" alt="">
                        </div>
                    </div>
                    <div>
                        <div class="banner-slider-img">
                            <img src="../../build/img/banner-slider2.png" alt="">
                        </div>
                    </div>
                    <div>
                        <div class="banner-slider-img">
                            <img src="../../build/img/banner-slider3.png" alt="">
                        </div>
                    </div>
                    <div>
                        <div class="banner-slider-img">
                            <img src="../../build/img/banner-slider4.png" alt="">
                        </div>
                    </div>
                    <div>
                        <div class="banner-slider-img">
                            <img src="../../build/img/banner-slider5.png" alt="">
                        </div>
                    </div>
                    <div>
                        <div class="banner-slider-img">
                            <img src="../../build/img/banner-slider1.png" alt="">
                        </div>
                    </div>
                    <div>
                        <div class="banner-slider-img">
                            <img src="../../build/img/banner-slider3.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="main-dots-arrows-wrp">
                    <div class="slider-arrow prev-bunner-arrow">
                        <img src="../../build/img/prev.svg" alt="">
                    </div>
                    <div class="main-dots-wrp"></div>
                    <div class="slider-arrow next-bunner-arrow">
                        <img src="../../build/img/next.svg" alt="">
                    </div>
                </div>
            </div>
        </section>
        <section class="section-announcment">
            <div class="row">
                <div class="col-lg-6 col-12">
                    <div class="plashka-announcment">
                        <div>
                            <div class="general-line-title">
                                <p>Справочник услуг</p>
                                <a href="#">Все бизнесы</a>
                            </div>
                            <a href="#" class="announcment-block tag-block" data-color="green">
                                <div>
                                    <p class="announcment-name">Василиса Давыдова, СРА</p>
                                    <p class="announcment-data">17.11.2020</p>
                                </div>
                                <div class="announcment-tag">Бухгалтерские услуги</div>
                            </a>
                            <a href="#" class="announcment-block tag-block" data-color="green">
                                <div>
                                    <p class="announcment-name">Оказывается, базовый вектор развития продолжает удивлять</p>
                                    <p class="announcment-data">17.11.2020</p>
                                </div>
                                <div class="announcment-tag">Бухгалтерские услуги</div>
                            </a>
                            <a href="#" class="announcment-block tag-block" data-color="green">
                                <div>
                                    <p class="announcment-name">Герцог графства коронован</p>
                                    <p class="announcment-data">17.11.2020</p>
                                </div>
                                <div class="announcment-tag">Бухгалтерские услуги</div>
                            </a>
                            <a href="#" class="announcment-block tag-block" data-color="green">
                                <div>
                                    <p class="announcment-name">Независимые СМИ потому и независимы, что ночь оказалась долгой</p>
                                    <p class="announcment-data">17.11.2020</p>
                                </div>
                                <div class="announcment-tag">Бухгалтерские услуги</div>
                            </a>
                            <a href="#" class="announcment-block tag-block" data-color="green">
                                <div>
                                    <p class="announcment-name">Василиса Давыдова, СРА</p>
                                    <p class="announcment-data">17.11.2020</p>
                                </div>
                                <div class="announcment-tag">Бухгалтерские услуги</div>
                            </a>
                            <a href="#" class="announcment-block tag-block" data-color="green">
                                <div>
                                    <p class="announcment-name">Оказывается, базовый вектор развития продолжает удивлять</p>
                                    <p class="announcment-data">17.11.2020</p>
                                </div>
                                <div class="announcment-tag">Бухгалтерские услуги</div>
                            </a>
                            <a href="#" class="announcment-block tag-block" data-color="green">
                                <div>
                                    <p class="announcment-name">Герцог графства коронован</p>
                                    <p class="announcment-data">17.11.2020</p>
                                </div>
                                <div class="announcment-tag">Бухгалтерские услуги</div>
                            </a>
                        </div>
                        <div class="btn-place">
                            <img src="../../build/img/add.svg" alt="">
                            <span>Разместить новый бизнес/услугу</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-12">
                    <div class="plashka-announcment">
                        <div>
                            <div class="general-line-title">
                                <p>Все вакансии</p>
                                <a href="#">Все вакансии</a>
                            </div>
                            <a href="#" class="announcment-block tag-block" data-color="green">
                                <div>
                                    <p class="announcment-name">Установщик окон в районе Бернаби. Машина обязательна. Зарплата от 5000 CAD в месяц</p>
                                    <p class="announcment-data">17.11.2020</p>
                                </div>
                                <div class="announcment-tag">Бухгалтерские услуги</div>
                            </a>
                            <a href="#" class="announcment-block tag-block" data-color="green">
                                <div>
                                    <p class="announcment-name">Молодой крепкий человек ищет работу в районе ДТ. Есть опыт работы на стройке</p>
                                    <p class="announcment-data">17.11.2020</p>
                                </div>
                                <div class="announcment-tag">Бухгалтерские услуги</div>
                            </a>
                            <a href="#" class="announcment-block tag-block" data-color="green">
                                <div>
                                    <p class="announcment-name">Цена вопроса не важна, когда сознание наших соотечественников не замутнено пропагандой</p>
                                    <p class="announcment-data">17.11.2020</p>
                                </div>
                                <div class="announcment-tag">Бухгалтерские услуги</div>
                            </a>
                            <a href="#" class="announcment-block tag-block" data-color="green">
                                <div>
                                    <p class="announcment-name">Установщик окон в районе Бернаби. Машина обязательна. Зарплата от 5000 CAD в месяц</p>
                                    <p class="announcment-data">17.11.2020</p>
                                </div>
                                <div class="announcment-tag">Бухгалтерские услуги</div>
                            </a>
                            <a href="#" class="announcment-block tag-block" data-color="blue">
                                <div>
                                    <p class="announcment-name">Установщик окон в районе Бернаби. Машина обязательна. Зарплата от 5000 CAD в месяц</p>
                                    <p class="announcment-data">17.11.2020</p>
                                </div>
                                <div class="announcment-tag">Требуются работники</div>
                            </a>
                            <a href="#" class="announcment-block tag-block" data-color="orange">
                                <div>
                                    <p class="announcment-name">Смешно, но склады ломятся от зерна</p>
                                    <p class="announcment-data">17.11.2020</p>
                                </div>
                                <div class="announcment-tag">Ищу работу</div>
                            </a>
                            <a href="#" class="announcment-block tag-block" data-color="orange">
                                <div>
                                    <p class="announcment-name">Сложно сказать, почему прототип - не панацея</p>
                                    <p class="announcment-data">17.11.2020</p>
                                </div>
                                <div class="announcment-tag">Ищу работу</div>
                            </a>
                        </div>
                        <div class="btn-place">
                            <img src="../../build/img/add.svg" alt="">
                            <span>Разместить новую вакансию/объявление</span>
                        </div>
                    </div>
                </div>
            </div>
        </section> -->
    </div>

    <!-- TradingView Widget BEGIN -->
    <!-- <div class="tradingview-widget-container">
      <div class="tradingview-widget-container__widget"></div>
      <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-ticker-tape.js" async>
      {
      "symbols": [
        {
          "proName": "BITSTAMP:BTCUSD",
          "title": "BTC/USD"
        },
        {
          "proName": "BITSTAMP:ETHUSD",
          "title": "ETH/USD"
        },
        {
          "description": "RUB",
          "proName": "FX_IDC:RUBUSD"
        }
      ],
      "showSymbolLogo": false,
      "colorTheme": "light",
      "isTransparent": false,
      "displayMode": "adaptive",
      "locale": "ru"
    }
      </script>
    </div> -->
    <!-- TradingView Widget END -->

</main>
