.plashka-sticky-weather {
    position: static;
}
.weather-readable-section {
    .lk-plashka-top {
        padding-top: 24px;
    }
    .result-title {
        margin-bottom: 40px;
    }
    .vacancy-title-link {
        margin-bottom: 16px;
        padding-bottom: 8px;
        border-bottom: 2px solid #222222;
    }
    .input-buss-search-wrp {
        margin-bottom: 26px;
    }
    .banner-news-wrp {
        margin-bottom: 0;
        & + .banner-news-wrp {
            margin-top: 20px;
        }
    }
}
.weather-classic-link {
    margin-top: 20px;
    font-weight: 800;
    font-size: 14px;
    line-height: 110%;
    margin-bottom: 12px;
    text-align: left;
}
.weather-subtitle {
    font-weight: 800;
    font-size: 24px;
    margin-bottom: 16px;
}
.weather-plashka-big {
    padding: 10px 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    background: rgba(208, 232, 255, 0.2);
    border: 2px solid rgba(20, 140, 254, 0.2);
    .weather-plashka-img {
        margin-right: 25px;
    }
    & + .weather-plashka-big  {
        margin-top: 8px;
    }
    &.weather-plashka-small {
        padding: 14px 12px;
        .weather-plashka-days {
            margin-right: 14px;
        }
        .weather-plashka-img {
            margin-right: 15px;
            img {
                width: 20px;
                margin-right: 7px;
            }
            p {
                font-size: 12px;
                min-width: 57px;
            }
        }
        &.night {
            background: rgba(113, 133, 205, 0.05);
            border: 2px solid rgba(113, 133, 205, 0.3);
        }
        &.pasted-day {
            opacity: .3;
        }
    }
    & + p {
        margin-top: 48px;
    }
}
.weather-plashka-other {
    & + .weather-plashka-other {
        margin-left: 30px;
    }
}
.weather-plashka-days {
    margin-right: 16px;
    p {
        &:first-child {
            font-weight: bold;
            width: 48px;
            & + p {
                margin-top: 4px;
                font-size: 12px;
            }
        }
    }
}

.weather-plashka-grad {
    margin-right: 13px;
    p {
        font-weight: bold;
        font-size: 28px;
        min-width: 57px;
        text-align: center;
    }
}
.weather-plashka-img {
    display: flex;
    align-items: center;
    img {
        margin-right: 12px;
    }
    p {
        font-size: 14px;
        min-width: 70px;
    }
}
.weather-plashka-other {
    p {
        &:first-child {
            font-size: 12px;
            & + p {
                margin-top: 8px;
                font-weight: 600;
            }
        }
    }
}
.weather-plashka-last {
    display: flex;
    align-items: center;
    img {
        width: 12px;
        margin-right: 8px;
    }
    p {
        font-size: 12px;
    }
}
.container.container-custom .row.row-weather {
    margin-right: -5px;
    margin-left: -5px;
    .col-12 {
        padding-left: 5px;
        padding-right: 5px;
        margin-bottom: 12px;
    }
}
@media (max-width: 1365px) {
    .weather-plashka-big, .weather-plashka-big.weather-plashka-small {
        padding-top: 2px;
    }
    .weather-plashka-part {
        width: 33.33%;
        margin-top: 10px;
    }
    .weather-plashka-grad, .weather-plashka-days {
        margin-right: 0px;
    }
    .weather-plashka-part {
        width: 20%;
    }
    .weather-plashka-other + .weather-plashka-other {
        margin-left: 0px;
    }
    .weather-plashka-grad p {
        text-align: left;
    }
    .container.container-custom .row.row-weather .col-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }
}
@media (max-width: 1199px)  {
    .weather-plashka-part {
        width: 40%;
        margin-top: 15px;
    }
    .weather-plashka-big.weather-plashka-small .weather-plashka-days, .weather-plashka-big.weather-plashka-small .weather-plashka-img {
        margin-right: 0px;
    }
    .weather-plashka-big, .weather-plashka-big.weather-plashka-small {
        padding-top: 5px;
        padding-left: 20px;
        padding-bottom: 20px;
    }
}
@media (max-width: 991px)  {
    .weather-readable-section {
        .row-height {
            margin-bottom: 0;
        }
    }
}
