<main class="vacancy-page vacancyCreate-page">
    <div class="container container-custom">
        <section class="banner-main">
            <div class="row">
                <div class="col-xl-3 col-lg-4 col-md-5">
                    <div class="banner-img">
                        <img src="../../build/img/banner1.png" alt="">
                    </div>
                </div>
                <div class="col-xl-9 col-lg-8 col-md-7 col-12 d-md-block d-none">
                    <div class="banner-img">
                        <img src="../../build/img/banner2.png" alt="">
                    </div>
                </div>
            </div>
        </section>
        <section class="readable-section">
            <div class="row">
                <div class="col-12 plashka-sticky-mob">
                    <div class="plashka-sticky">
                        <p class="vacancy-title-link vacancy-title-link-lk">Добро пожаловать, Антон Юрьев</p>
                        <p class="classic-link">
                            <a href="#" class="search-tab-link search-tab active" data-hot="search1">Контактные данные</a>
                        </p>
                        <p class="classic-link">
                            <a href="#" class="search-tab-link search-tab" data-hot="search2">Мои Статьи</a>
                        </p>
                        <p class="classic-link">
                            <a href="#" class="search-tab-link search-tab" data-hot="search3">Мои Объявления</a>
                        </p>
                        <p class="classic-link">
                            <a href="#" class="search-tab-link search-tab" data-hot="search4">Мои Бизнесы/Услуги</a>
                        </p>
                        <p class="classic-link">
                            <a href="#" class="search-tab-link search-tab" data-hot="search5">Мои Мероприятия</a>
                        </p>
                    </div>
                </div>
                <div class="col-xl-9 col-lg-8 col-12">
                    <div class="row row-height">
                        <div class="col-xl-3 col-md-4 col-12 col-inner-3">
                            <div class="plashka-sticky">
                                <div class="plashka-sticky-content-wrp">
                                    <p class="vacancy-title-link vacancy-title-link-lk">Добро пожаловать, Антон Юрьев</p>
                                    <p class="classic-link">
                                        <a href="#" class="search-tab-link search-tab" data-hot="search1">Контактные данные</a>
                                    </p>
                                    <p class="classic-link">
                                        <a href="#" class="search-tab-link search-tab" data-hot="search2">Мои Статьи</a>
                                    </p>
                                    <p class="classic-link">
                                        <a href="#" class="search-tab-link search-tab" data-hot="search3">Мои Объявления</a>
                                    </p>
                                    <p class="classic-link">
                                        <a href="#" class="search-tab-link search-tab active" data-hot="search4">Мои Бизнесы/Услуги</a>
                                    </p>
                                    <p class="classic-link">
                                        <a href="#" class="search-tab-link search-tab" data-hot="search5">Мои Мероприятия</a>
                                    </p>
                                </div>
                                <div class="plashki-acc">
                                    <div class="plashka-questions message2-btn">
                                        <img src="../../build/img/question.svg" alt="">
                                        <p>Есть вопросы?</p>
                                    </div>
                                    <div class="plashka-acc plashka-acc-fb">
                                        <img src="../../build/img/fb-plashka.svg" alt="">
                                        <p>Подписаться</p>
                                    </div>
                                    <div class="plashka-acc plashka-acc-telega">
                                        <img src="../../build/img/telegram-plashka.svg" alt="">
                                        <p>Подписаться</p>
                                    </div>
                                    <div class="plashki-form">
                                        <p>Одно письмо с лучшим за&nbsp;неделю</p>
                                        <form id="form2" action="#">
                                            <div class="red-input-wrp">
                                                <div class="input-style">
                                                    <input class="input-form input-valid input-plane" type="email" data-input="email" name="email" placeholder="E-mail">
                                                    <p class="input-error">Ошибка ввода</p>
                                                </div>
                                                <button class="send-btn-plane" type="button" name="button">
                                                    <img src="../../build/img/send-telega-plane.svg" alt="">
                                                </button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-9 col-md-8 col-12 col-inner-9">
                            <div class="plashka-news-wrp lk-plashka-top">
                                <p class="result-title">Повысить бизнес/услугу</p>
                                <p class="create-title">Ваш текущий тариф:</p>
                                <div class="tarif-blocks-wrap">
                                    <div class="tarif-block">
                                        <p>Тариф</p>
                                        <p>Платный</p>
                                    </div>
                                    <div class="tarif-block">
                                        <p>Действителен</p>
                                        <p>до 31 янв 2021</p>
                                    </div>
                                    <div class="tarif-block">
                                        <p>Ваш кредит</p>
                                        <p>100 CAD</p>
                                        <img class="tooltip-img" src="../../build/img/info-circle.svg" alt="" data-placement="bottom" title="Высчитывается на основе оставшихся дней пользования тарифом. Эта сумма будет вычтена из стоимости нового тарифа">
                                    </div>
                                </div>
                                <p class="create-title">Хотите повысить?</p>
                                <p>Вы заплатите только разницу между стоимостью размещения на год минус ваш существующий кредит</p>
                                <div class="table-bus-wrp">
                                    <table class="table-bus">
                                        <tr>
                                            <td></td>
                                            <td>
                                                <p>Бесплатный</p>
                                                <p>0 CAD</p>
                                            </td>
                                            <td>
                                                <p>Платный</p>
                                                <p>150 CAD/год</p>
                                            </td>
                                            <td>
                                                <p>Супер</p>
                                                <p>250 CAD/год</p>
                                            </td>
                                            <td>
                                                <p>VIP</p>
                                                <p>350 CAD/год</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Появляется на сайте</td>
                                            <td>Через 1-2 дня после верификации</td>
                                            <td>Мгновенно</td>
                                            <td>Мгновенно</td>
                                            <td>Мгновенно</td>
                                        </tr>
                                        <tr>
                                            <td>Описание</td>
                                            <td>До 200 символов</td>
                                            <td>До&nbsp;500&nbsp;символов</td>
                                            <td>До&nbsp;1000&nbsp;символов</td>
                                            <td>До&nbsp;1500&nbsp;символов</td>
                                        </tr>
                                        <tr>
                                            <td>Возможность добавить картинку</td>
                                            <td>Нет</td>
                                            <td>Да, одну</td>
                                            <td>Да, несколько</td>
                                            <td>Да, несколько</td>
                                        </tr>
                                        <tr>
                                            <td>Приоритет</td>
                                            <td>Нет</td>
                                            <td>Выше бесплатных</td>
                                            <td>Выше платных</td>
                                            <td>В самом верху</td>
                                        </tr>
                                        <tr>
                                            <td>Выделение объявления</td>
                                            <td>Нет</td>
                                            <td>Крупнее бесплатного</td>
                                            <td>Крупнее платного</td>
                                            <td>Как у Супер + значок VIP</td>
                                        </tr>
                                        <tr>
                                            <td>Репост в&nbsp;наших соцсетях</td>
                                            <td>Нет
                                                <div class="create-btn create-btn-business create-btn-disabled">Разместить бесплатно</div>
                                            </td>
                                            <td>
                                                Нет
                                                <div class="create-btn create-btn-business create-btn-disabled">Разместить платно</div>
                                            </td>
                                            <td>
                                                Да
                                                <div class="create-btn create-btn-business">Супер-размещение</div>
                                            </td>
                                            <td>
                                                Да
                                                <div class="create-btn create-btn-business">VIP размещение</div>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                                <div class="mob-var-business">
                                    <div class="row row-create">
                                        <div class="col-xl-4 col-12">
                                            <div class="variant-block">
                                                <div class="hat-create">
                                                    <p>Бесплатный</p>
                                                    <p>0 CAD</p>
                                                </div>
                                                <div class="body-create">
                                                    <p class="property-create">Появляется на сайте</p>
                                                    <p class="value-create">Через 1-2 дня после верификации</p>
                                                    <p class="property-create">Описание</p>
                                                    <p class="value-create">До 100 символов</p>
                                                    <p class="property-create">Возможность добавить картинку</p>
                                                    <p class="value-create">Нет</p>
                                                    <p class="property-create">Приоритет</p>
                                                    <p class="value-create">Нет</p>
                                                    <p class="property-create">Выделение объявления</p>
                                                    <p class="value-create">Нет</p>
                                                    <p class="property-create">Репост в&nbsp;наших соцсетях</p>
                                                    <p class="value-create">Нет</p>
                                                    <div class="create-btn" onclick="javascript:location.href='https://romura.space/vancouver/pages/output/vacancyCreateFree.html'">Разместить бесплатно</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xl-4 col-12">
                                            <div class="variant-block pay">
                                                <div class="hat-create">
                                                    <p>Платный</p>
                                                    <p>150 CAD/год</p>
                                                </div>
                                                <div class="body-create">
                                                    <p class="property-create">Появляется на сайте</p>
                                                    <p class="value-create">Мгновенно</p>
                                                    <p class="property-create">Описание</p>
                                                    <p class="value-create">До&nbsp;400&nbsp;символов</p>
                                                    <p class="property-create">Возможность добавить картинку</p>
                                                    <p class="value-create">Да, одну</p>
                                                    <p class="property-create">Приоритет</p>
                                                    <p class="value-create">Выше бесплатных</p>
                                                    <p class="property-create">Выделение объявления</p>
                                                    <p class="value-create">Крупнее бесплатного</p>
                                                    <p class="property-create">Репост в&nbsp;наших соцсетях</p>
                                                    <p class="value-create">Нет</p>
                                                    <div class="create-btn" onclick="javascript:location.href='https://romura.space/vancouver/pages/output/vacancyCreatePaid.html'">Разместить платно</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xl-4 col-12">
                                            <div class="variant-block super">
                                                <div class="hat-create">
                                                    <p>Супер</p>
                                                    <p>250 CAD/год</p>
                                                </div>
                                                <div class="body-create">
                                                    <p class="property-create">Появляется на сайте</p>
                                                    <p class="value-create">Мгновенно</p>
                                                    <p class="property-create">Описание</p>
                                                    <p class="value-create">До&nbsp;700&nbsp;символов</p>
                                                    <p class="property-create">Возможность добавить картинку</p>
                                                    <p class="value-create">Да, несколько</p>
                                                    <p class="property-create">Приоритет</p>
                                                    <p class="value-create">Выше платных</p>
                                                    <p class="property-create">Выделение объявления</p>
                                                    <p class="value-create">Крупнее платного</p>
                                                    <p class="property-create">Репост в&nbsp;наших соцсетях</p>
                                                    <p class="value-create">Да</p>
                                                    <div class="create-btn" onclick="javascript:location.href='https://romura.space/vancouver/pages/output/vacancyCreatePaid.html'">Супер-размещение</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xl-4 col-12">
                                            <div class="variant-block super">
                                                <div class="hat-create hat-create-vip">
                                                    <p>VIP</p>
                                                    <p>250 CAD/год</p>
                                                </div>
                                                <div class="body-create">
                                                    <p class="property-create">Появляется на сайте</p>
                                                    <p class="value-create">Мгновенно</p>
                                                    <p class="property-create">Описание</p>
                                                    <p class="value-create">До&nbsp;1000&nbsp;символов</p>
                                                    <p class="property-create">Возможность добавить картинку</p>
                                                    <p class="value-create">Да, несколько</p>
                                                    <p class="property-create">Приоритет</p>
                                                    <p class="value-create">В самом верху</p>
                                                    <p class="property-create">Выделение объявления</p>
                                                    <p class="value-create">Как у Супер + значок VIP</p>
                                                    <p class="property-create">Репост в&nbsp;наших соцсетях</p>
                                                    <p class="value-create">Да</p>
                                                    <div class="create-btn" onclick="javascript:location.href='https://romura.space/vancouver/pages/output/vacancyCreatePaid.html'">VIP размещение</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <p class="create-title create-title-desc">Примеры размещения бизнесов/услуг:</p>
                                <p class="create-btn-mob">
                                    <a href="../../build/img/exampleBus.png">Примеры размещения бизнесов:</a>
                                </p>
                                <img src="../../build/img/exampleBus.png" alt="" class="example-img">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-12">
                    <div class="banner-news-wrp">
                        <div class="banner-news">
                            <img src="../../build/img/afisha-banner1.png" alt="">
                        </div>
                    </div>
                    <div class="banner-news-wrp">
                        <div class="banner-news">
                            <img src="../../build/img/afisha-banner2.png" alt="">
                        </div>
                    </div>
                    <div class="main-news-small-sticky">
                        <div class="main-news-small">
                            <ul class="small-tabs really-small">
                                <li class="active" data-tab="tab1">Последние статьи</li>
                                <li data-tab="tab2">Последние комментарии</li>
                                <li data-tab="tab3">Популярные статьи</li>
                            </ul>
                            <div class="more-read-news-wrp">
                                <div id="tab1" class="more-read-news-blocks active">
                                    <a href="#" class="more-read-news-block">
                                        <img src="../../build/img/mini-news1.png" alt="">
                                        <p>Въезд в центр Ванкувера станет платным</p>
                                    </a>
                                    <a href="#" class="more-read-news-block">
                                        <img src="../../build/img/mini-news2.png" alt="">
                                        <p>В Ванкувере женщина плюнула в пассажира автобуса и получила за это</p>
                                    </a>
                                    <a href="#" class="more-read-news-block">
                                        <img src="../../build/img/mini-news3.png" alt="">
                                        <p>Пособия на ребенка в Канаде: Особенности и размер выплат</p>
                                    </a>
                                    <a href="#" class="more-read-news-block">
                                        <img src="../../build/img/mini-news4.png" alt="">
                                        <p>Один дома: с какого возраста ребенка в Канаде можно оставить без присмотра</p>
                                    </a>
                                    <a href="#" class="more-read-news-block">
                                        <img src="../../build/img/mini-news3.png" alt="">
                                        <p>Пособия на ребенка в Канаде: Особенности и размер выплат</p>
                                    </a>
                                    <a href="#" class="more-read-news-block">
                                        <img src="../../build/img/mini-news4.png" alt="">
                                        <p>Один дома: с какого возраста ребенка в Канаде можно оставить без присмотра</p>
                                    </a>
                                </div>
                                <div id="tab2" class="more-read-news-blocks">
                                    <a href="#" class="more-read-comm-block">
                                        <img src="../../build/img/mini-news1.png" alt="">
                                        <div>
                                            <p class="author-comm">Иван Иванов на:</p>
                                            <p>Въезд в центр Ванкувера станет платным</p>
                                        </div>
                                    </a>
                                    <a href="#" class="more-read-comm-block">
                                        <img src="../../build/img/mini-news2.png" alt="">
                                        <div>
                                            <p class="author-comm">Иван Иванов на:</p>
                                            <p>В Ванкувере женщина плюнула в пассажира автобуса и получила за это</p>
                                        </div>
                                    </a>
                                </div>
                                <div id="tab3" class="more-read-news-blocks">
                                    <a href="#" class="more-read-news-block">
                                        <img src="../../build/img/mini-news4.png" alt="">
                                        <p>Один дома: с какого возраста ребенка в Канаде можно оставить без присмотра</p>
                                    </a>
                                    <a href="#" class="more-read-news-block">
                                        <img src="../../build/img/mini-news3.png" alt="">
                                        <p>Пособия на ребенка в Канаде: Особенности и размер выплат</p>
                                    </a>
                                    <a href="#" class="more-read-news-block">
                                        <img src="../../build/img/mini-news4.png" alt="">
                                        <p>Один дома: с какого возраста ребенка в Канаде можно оставить без присмотра</p>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="section-banner-slider">
            <div class="banner-slider-wrp">
                <div class="banner-slider">
                    <div>
                        <div class="banner-slider-img">
                            <img src="../../build/img/banner-slider1.png" alt="">
                        </div>
                    </div>
                    <div>
                        <div class="banner-slider-img">
                            <img src="../../build/img/banner-slider2.png" alt="">
                        </div>
                    </div>
                    <div>
                        <div class="banner-slider-img">
                            <img src="../../build/img/banner-slider3.png" alt="">
                        </div>
                    </div>
                    <div>
                        <div class="banner-slider-img">
                            <img src="../../build/img/banner-slider4.png" alt="">
                        </div>
                    </div>
                    <div>
                        <div class="banner-slider-img">
                            <img src="../../build/img/banner-slider5.png" alt="">
                        </div>
                    </div>
                    <div>
                        <div class="banner-slider-img">
                            <img src="../../build/img/banner-slider1.png" alt="">
                        </div>
                    </div>
                    <div>
                        <div class="banner-slider-img">
                            <img src="../../build/img/banner-slider3.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="main-dots-arrows-wrp">
                    <div class="slider-arrow prev-bunner-arrow">
                        <img src="../../build/img/prev.svg" alt="">
                    </div>
                    <div class="main-dots-wrp"></div>
                    <div class="slider-arrow next-bunner-arrow">
                        <img src="../../build/img/next.svg" alt="">
                    </div>
                </div>
            </div>
        </section>
        <section class="section-announcment">
            <div class="row">
                <div class="col-lg-6 col-12">
                    <div class="plashka-announcment">
                        <div>
                            <div class="general-line-title">
                                <p>Работа в Ванкувере</p>
                                <a href="https://romura.space/vancouver/pages/output/vacancy.html">Все вакансии</a>
                            </div>
                            <a href="#" class="announcment-block tag-block" data-color="blue">
                                <div>
                                    <p class="announcment-name">Установщик окон в районе Бернаби. Машина обязательна. Зарплата от 5000 CAD в месяц</p>
                                    <p class="announcment-data">17.11.2020</p>
                                </div>
                                <div class="announcment-tag">Требуются работники</div>
                            </a>
                            <a href="#" class="announcment-block tag-block" data-color="blue">
                                <div>
                                    <p class="announcment-name">Установщик окон в районе Бернаби. Машина обязательна. Зарплата от 5000 CAD в месяц</p>
                                    <p class="announcment-data">17.11.2020</p>
                                </div>
                                <div class="announcment-tag">Требуются работники</div>
                            </a>
                            <a href="#" class="announcment-block tag-block" data-color="blue">
                                <div>
                                    <p class="announcment-name">Установщик окон в районе Бернаби. Машина обязательна. Зарплата от 5000 CAD в месяц</p>
                                    <p class="announcment-data">17.11.2020</p>
                                </div>
                                <div class="announcment-tag">Требуются работники</div>
                            </a>
                            <a href="#" class="announcment-block tag-block" data-color="blue">
                                <div>
                                    <p class="announcment-name">Установщик окон в районе Бернаби. Машина обязательна. Зарплата от 5000 CAD в месяц</p>
                                    <p class="announcment-data">17.11.2020</p>
                                </div>
                                <div class="announcment-tag">Требуются работники</div>
                            </a>
                            <a href="#" class="announcment-block tag-block" data-color="orange">
                                <div>
                                    <p class="announcment-name">Смешно, но склады ломятся от зерна</p>
                                    <p class="announcment-data">17.11.2020</p>
                                </div>
                                <div class="announcment-tag">Ищу работу</div>
                            </a>
                            <a href="#" class="announcment-block tag-block" data-color="orange">
                                <div>
                                    <p class="announcment-name">Сложно сказать, почему прототип - не панацея</p>
                                    <p class="announcment-data">17.11.2020</p>
                                </div>
                                <div class="announcment-tag">Ищу работу</div>
                            </a>
                            <a class="mob-all-link" href="https://romura.space/vancouver/pages/output/vacancy.html">Все вакансии</a>
                        </div>
                        <div class="btn-place" onclick="javascript:location.href='https://romura.space/vancouver/pages/output/vacancyCreate.html'">
                            <img src="../../build/img/add.svg" alt="">
                            <span>Разместить новое объявление</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-12">
                    <div class="plashka-afisha">
                        <div class="general-line-title">
                            <p>Афиша</p>
                            <a href="#">Все мероприятия</a>
                        </div>
                        <a href="#" class="afisha-block tag-block" data-color="violet">
                            <div>
                                <img src="../../build/img/afisha1.jpg" alt="">
                                <div class="afisha-text">
                                    <p class="afisha-name">Анжелика Вариум и Леонид Агутин (Большой концерт</p>
                                    <p class="afisha-data">
                                        <span>Ванкувер</span>
                                        <span>10.12.2020</span>
                                    </p>
                                </div>
                            </div>
                            <div class="announcment-tag">Концерт</div>
                        </a>
                        <a href="#" class="afisha-block tag-block" data-color="violet">
                            <div>
                                <img src="../../build/img/afisha1.jpg" alt="">
                                <div class="afisha-text">
                                    <p class="afisha-name">Анжелика Вариум и Леонид Агутин (Большой концерт и Леонид Агутин (Большой концерт</p>
                                    <p class="afisha-data">
                                        <span>Ванкувер</span>
                                        <span>10.12.2020</span>
                                    </p>
                                </div>
                            </div>
                            <div class="announcment-tag">Мероприятие</div>
                        </a>
                        <a href="#" class="afisha-block tag-block" data-color="violet">
                            <div>
                                <img src="../../build/img/afisha1.jpg" alt="">
                                <div class="afisha-text">
                                    <p class="afisha-name">Анжелика Вариум и Леонид Агутин (Большой концерт</p>
                                    <p class="afisha-data">
                                        <span>Ванкувер</span>
                                        <span>10.12.2020</span>
                                    </p>
                                </div>
                            </div>
                            <div class="announcment-tag">Вебинар</div>
                        </a>
                        <a href="#" class="afisha-block tag-block" data-color="violet">
                            <div>
                                <img src="../../build/img/afisha1.jpg" alt="">
                                <div class="afisha-text">
                                    <p class="afisha-name">Анжелика Вариум и Леонид</p>
                                    <p class="afisha-data">
                                        <span>Ванкувер</span>
                                        <span>10.12.2020</span>
                                    </p>
                                </div>
                            </div>
                            <div class="announcment-tag">Концерт</div>
                        </a>
                        <a href="#" class="afisha-block tag-block" data-color="violet">
                            <div>
                                <img src="../../build/img/afisha1.jpg" alt="">
                                <div class="afisha-text">
                                    <p class="afisha-name">Анжелика Вариум и Леонид Агутин (Большой концерт</p>
                                    <p class="afisha-data">
                                        <span>Ванкувер</span>
                                        <span>10.12.2020</span>
                                    </p>
                                </div>
                            </div>
                            <div class="announcment-tag">Мероприятие</div>
                        </a>
                        <a href="#" class="afisha-block tag-block" data-color="violet">
                            <div>
                                <img src="../../build/img/afisha1.jpg" alt="">
                                <div class="afisha-text">
                                    <p class="afisha-name">Анжелика Вариум и Леонид Агутин (Большой концерт</p>
                                    <p class="afisha-data">
                                        <span>Ванкувер</span>
                                        <span>10.12.2020</span>
                                    </p>
                                </div>
                            </div>
                            <div class="announcment-tag">Вебинар</div>
                        </a>
                        <a href="#" class="afisha-block tag-block" data-color="violet">
                            <div>
                                <img src="../../build/img/afisha1.jpg" alt="">
                                <div class="afisha-text">
                                    <p class="afisha-name">Анжелика Вариум и Леонид Агутин (Большой концерт</p>
                                    <p class="afisha-data">
                                        <span>Ванкувер</span>
                                        <span>10.12.2020</span>
                                    </p>
                                </div>
                            </div>
                            <div class="announcment-tag">Вебинар</div>
                        </a>
                        <a class="mob-all-link" href="#">Все мероприятия</a>
                        <div class="btn-place">
                            <img src="../../build/img/add.svg" alt="">
                            <span>Добавить новое мероприятие</span>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <!-- TradingView Widget BEGIN -->
    <!-- <div class="tradingview-widget-container">
      <div class="tradingview-widget-container__widget"></div>
      <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-ticker-tape.js" async>
      {
      "symbols": [
        {
          "proName": "BITSTAMP:BTCUSD",
          "title": "BTC/USD"
        },
        {
          "proName": "BITSTAMP:ETHUSD",
          "title": "ETH/USD"
        },
        {
          "description": "RUB",
          "proName": "FX_IDC:RUBUSD"
        }
      ],
      "showSymbolLogo": false,
      "colorTheme": "light",
      "isTransparent": false,
      "displayMode": "adaptive",
      "locale": "ru"
    }
      </script>
    </div> -->
    <!-- TradingView Widget END -->

</main>
