<main class="vacancy-page">
    <div class="container container-custom">
        <section class="banner-main">
            <div class="row">
                <div class="col-xl-3 col-lg-4 col-md-5">
                    <div class="banner-img">
                        <img src="../../build/img/banner1.png" alt="">
                    </div>
                </div>
                <div class="col-xl-9 col-lg-8 col-md-7 col-12 d-md-block d-none">
                    <div class="banner-img">
                        <img src="../../build/img/banner2.png" alt="">
                    </div>
                </div>
            </div>
        </section>
        <!-- 2 block  -->
        <section class="readable-section weather">
            <div class="row">
                <div class="col-xl-9 col-lg-8 col-12 weather-col-flex">
                    <div class="partner-title partner-title-weather">
                        <p>Погода в Канаде</p>
                        <div class="input-buss-search-wrp">
                            <input type="text" class="input-buss-search" placeholder="Поиск...">
                            <div class="input-buss-search-btn">
                                <img src="../../build/img/search.svg" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="all-weather-section">
                        <div>
                            <p class="weather-page-title">Города большого Ванкувера</p>
                            <div class="row mini-weather-blocks-row">
                                <div class="col-xl-3 col-lg-4 col-md-6 col-6">
                                    <a href="#" class="mini-weather-block">
                                        <p>Vancouver</p>
                                    </a>
                                </div>
                                <div class="col-xl-3 col-lg-4 col-md-6 col-6">
                                    <a href="#" class="mini-weather-block">
                                        <p>North Vancouver</p>
                                    </a>
                                </div>
                                <div class="col-xl-3 col-lg-4 col-md-6 col-6">
                                    <a href="#" class="mini-weather-block">
                                        <p>West Vancouver</p>
                                    </a>
                                </div>
                                <div class="col-xl-3 col-lg-4 col-md-6 col-6">
                                    <a href="#" class="mini-weather-block">
                                        <p>Richmond</p>
                                    </a>
                                </div>
                                <div class="col-xl-3 col-lg-4 col-md-6 col-6">
                                    <a href="#" class="mini-weather-block">
                                        <p>Burnaby</p>
                                    </a>
                                </div>
                                <div class="col-xl-3 col-lg-4 col-md-6 col-6">
                                    <a href="#" class="mini-weather-block">
                                        <p>New Westminster</p>
                                    </a>
                                </div>
                                <div class="col-xl-3 col-lg-4 col-md-6 col-6">
                                    <a href="#" class="mini-weather-block">
                                        <p>Port Moody</p>
                                    </a>
                                </div>
                                <div class="col-xl-3 col-lg-4 col-md-6 col-6">
                                    <a href="#" class="mini-weather-block">
                                        <p>Coquitlamy</p>
                                    </a>
                                </div>
                                <div class="col-xl-3 col-lg-4 col-md-6 col-6">
                                    <a href="#" class="mini-weather-block">
                                        <p>Port Coquitlam</p>
                                    </a>
                                </div>
                                <div class="col-xl-3 col-lg-4 col-md-6 col-6">
                                    <a href="#" class="mini-weather-block">
                                        <p>Pitt Meadows</p>
                                    </a>
                                </div>
                                <div class="col-xl-3 col-lg-4 col-md-6 col-6">
                                    <a href="#" class="mini-weather-block">
                                        <p>Surrey</p>
                                    </a>
                                </div>
                                <div class="col-xl-3 col-lg-4 col-md-6 col-6">
                                    <a href="#" class="mini-weather-block">
                                        <p>Langley</p>
                                    </a>
                                </div>
                                <div class="col-xl-3 col-lg-4 col-md-6 col-6">
                                    <a href="#" class="mini-weather-block">
                                        <p>Delta</p>
                                    </a>
                                </div>
                                <div class="col-xl-3 col-lg-4 col-md-6 col-6">
                                    <a href="#" class="mini-weather-block">
                                        <p>Maple Ridge</p>
                                    </a>
                                </div>
                                <div class="col-xl-3 col-lg-4 col-md-6 col-6">
                                    <a href="#" class="mini-weather-block">
                                        <p>Tsawwassen</p>
                                    </a>
                                </div>
                            </div>
                            <p class="weather-page-title">Крупнейшие города Канады</p>
                            <div class="row mini-weather-blocks-row">
                                <div class="col-xl-3 col-lg-4 col-md-6 col-6">
                                    <a href="#" class="mini-weather-block">
                                        <p>Ванкувер</p>
                                    </a>
                                </div>
                                <div class="col-xl-3 col-lg-4 col-md-6 col-6">
                                    <a href="#" class="mini-weather-block">
                                        <p>Торонто</p>
                                    </a>
                                </div>
                                <div class="col-xl-3 col-lg-4 col-md-6 col-6">
                                    <a href="#" class="mini-weather-block">
                                        <p>Монреаль</p>
                                    </a>
                                </div>
                                <div class="col-xl-3 col-lg-4 col-md-6 col-6">
                                    <a href="#" class="mini-weather-block">
                                        <p>Калгари</p>
                                    </a>
                                </div>
                                <div class="col-xl-3 col-lg-4 col-md-6 col-6">
                                    <a href="#" class="mini-weather-block">
                                        <p>Оттава</p>
                                    </a>
                                </div>
                                <div class="col-xl-3 col-lg-4 col-md-6 col-6">
                                    <a href="#" class="mini-weather-block">
                                        <p>Эдмонтон</p>
                                    </a>
                                </div>
                                <div class="col-xl-3 col-lg-4 col-md-6 col-6">
                                    <a href="#" class="mini-weather-block">
                                        <p>Виннипег</p>
                                    </a>
                                </div>
                                <div class="col-xl-3 col-lg-4 col-md-6 col-6">
                                    <a href="#" class="mini-weather-block">
                                        <p>Квебек сити</p>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="plashka-your-city">
                            <img src="../../build/img/question.svg" alt="">
                            <p>Нет Вашего города в списке? Свяжитесь с нами через <span class="message2-btn">форму обратной связи</span></p>
                        </div>

                    </div>

                </div>
                <div class="col-xl-3 col-lg-4 col-12">
                    <div class="banner-news-wrp">
                        <div class="banner-news">
                            <img src="../../build/img/afisha-banner1.png" alt="">
                        </div>
                    </div>
                    <div class="banner-news-wrp">
                        <div class="banner-news">
                            <img src="../../build/img/afisha-banner2.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</main>
