<main class="vacancy-page subscribe-page">
    <div class="container container-custom">
        <section class="banner-main">
            <div class="row">
                <div class="col-xl-3 col-lg-4 col-md-5">
                    <div class="banner-img">
                        <img src="../../build/img/banner1.png" alt="">
                    </div>
                </div>
                <div class="col-xl-9 col-lg-8 col-md-7 col-12 d-md-block d-none">
                    <div class="banner-img">
                        <img src="../../build/img/banner2.png" alt="">
                    </div>
                </div>
            </div>
        </section>
        <!-- 2 block  -->
        <section class="readable-section">
            <div class="row">
                <div class="col-xl-9 col-lg-8 col-12">
                    <div class="plashka-simple subscribe-section">
                        <p class="result-title">Подпишитесь на наши социальные сети</p>
                        <div class="row">
                            <div class="col-xl-6 col-12">
                                <div class="subscribe-block">
                                    <img src="../../build/img/fb-color.svg" alt="">
                                    <div>
                                        <p>Facebook сообщество</p>
                                        <div class="subscribe-block-text">
                                            Противоположная точка зрения подразумевает, что элементы политического процесса набирают.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-6 col-12">
                                <div class="subscribe-block">
                                    <img src="../../build/img/youtube-color.svg" alt="">
                                    <div>
                                        <p>Youtube канал</p>
                                        <div class="subscribe-block-text">
                                            Противоположная точка зрения подразумевает, что элементы политического процесса набирают.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-6 col-12">
                                <div class="subscribe-block">
                                    <img src="../../build/img/insta-color.svg" alt="">
                                    <div>
                                        <p>Instagram</p>
                                        <div class="subscribe-block-text">
                                            Противоположная точка зрения подразумевает, что элементы политического процесса набирают.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-6 col-12">
                                <div class="subscribe-block">
                                    <img src="../../build/img/vk-color.svg" alt="">
                                    <div>
                                        <p>Группа в Vk</p>
                                        <div class="subscribe-block-text">
                                            Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Эта заглавных вопрос текста несколько живет запятой маленькая lorem своих имени, взгляд снова ipsum за ведущими инициал коварных большого знаках.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-6 col-12">
                                <div class="subscribe-block">
                                    <img src="../../build/img/telegram-color.svg" alt="">
                                    <div>
                                        <p>Telegram</p>
                                        <div class="subscribe-block-text">
                                            Противоположная точка зрения подразумевает, что элементы политического процесса набирают.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="plashka-simple">
                        <div class="row">
                            <div class="col-xl-6 col-12">
                                <div class="group-img">
                                    <img src="../../build/img/group.png" alt="">
                                </div>
                            </div>
                            <div class="col-xl-6 col-12">
                                <div class="group-content">
                                    <p class="group-title">НАШ ВАНКУВЕР: БОЛЬШАЯ ГРУППА (разговоры обо всём)</p>
                                    <div>
                                        Современные технологии достигли такого уровня, что граница обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствующей насущным потребностям. В частности.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <section class="red-big-block-section">
                        <div class="row">
                            <div class="col-xl-6 col-12">
                                <div class="red-big-block">
                                    <img src="../../build/img/mailbox.svg" alt="">
                                    <div>
                                        <p class="red-title">Подпишитесь на еженедельную рассылку</p>
                                        <p>Одно письмо с лучшим за неделю</p>
                                        <form action="#">
                                            <div class="red-input-wrp">
                                                <div class="input-style">
                                                    <input class="input-form input-valid input-plane" type="email" data-input="email" name="email" placeholder="E-mail">
                                                    <p class="input-error">Ошибка ввода</p>
                                                </div>
                                                <button class="send-btn-plane big-plane" type="button" name="button">
                                                    <img src="../../build/img/send-telega-plane.svg" alt="">
                                                    <span>Подписаться</span>
                                                </button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-6 col-12">
                                <div class="red-form-block">
                                    <p class="red-title">Напишите нам</p>
                                    <form id="form14" action="#">
                                        <div class="input-style">
                                            <input class="comment-input input-form input-valid" type="text" name="name" placeholder="Имя*">
                                            <p class="input-error">Ошибка ввода</p>
                                        </div>
                                        <div class="input-style">
                                            <input class="comment-input input-form input-valid" type="email" data-input="email" name="email" placeholder="E-mail*">
                                            <p class="input-error">Ошибка ввода</p>
                                        </div>
                                        <div class="input-style">
                                            <input class="comment-input input-form mask-phone" type="tel" data-input="phone" name="tel" placeholder="Номер телефона">
                                            <p class="input-error">Ошибка ввода</p>
                                        </div>
                                        <div class="input-style">
                                            <textarea class="comment-input textarea-comment input-valid" name="message" placeholder="Сообщение*"></textarea>
                                            <p class="input-error">Ошибка ввода</p>
                                        </div>
                                        <input class="pop-form-btn open-thnx" type="submit" name="" value="Отправить">
                                    </form>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>

                <div class="col-xl-3 col-lg-4 col-12">
                    <div class="banner-news-wrp">
                        <div class="banner-news">
                            <img src="../../build/img/afisha-banner1.png" alt="">
                        </div>
                    </div>
                    <div class="banner-news-wrp">
                        <div class="banner-news">
                            <img src="../../build/img/afisha-banner2.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="section-banner-slider">
            <div class="banner-slider-wrp">
                <div class="banner-slider">
                    <div>
                        <div class="banner-slider-img">
                            <img src="../../build/img/banner-slider1.png" alt="">
                        </div>
                    </div>
                    <div>
                        <div class="banner-slider-img">
                            <img src="../../build/img/banner-slider2.png" alt="">
                        </div>
                    </div>
                    <div>
                        <div class="banner-slider-img">
                            <img src="../../build/img/banner-slider3.png" alt="">
                        </div>
                    </div>
                    <div>
                        <div class="banner-slider-img">
                            <img src="../../build/img/banner-slider4.png" alt="">
                        </div>
                    </div>
                    <div>
                        <div class="banner-slider-img">
                            <img src="../../build/img/banner-slider5.png" alt="">
                        </div>
                    </div>
                    <div>
                        <div class="banner-slider-img">
                            <img src="../../build/img/banner-slider1.png" alt="">
                        </div>
                    </div>
                    <div>
                        <div class="banner-slider-img">
                            <img src="../../build/img/banner-slider3.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="main-dots-arrows-wrp">
                    <div class="slider-arrow prev-bunner-arrow">
                        <img src="../../build/img/prev.svg" alt="">
                    </div>
                    <div class="main-dots-wrp"></div>
                    <div class="slider-arrow next-bunner-arrow">
                        <img src="../../build/img/next.svg" alt="">
                    </div>
                </div>
            </div>
        </section>
    </div>
</main>
