<div id="cat" class="pop-up-general-block cat">
    <div class="pop-up-general-block-content-wrp">
        <div class="pop-up-general-block-content hotlink-switch active" data-hot="hotNews1">
            <div>
                <p class="classic-link">
                    <a href="#">Все статьи</a>
                </p>
                <p class="classic-link">
                    <a href="#">Новости Ванкувера</a>
                </p>
                <p class="classic-link">
                    <a href="#">Новости Канады</a>
                </p>
                <p class="classic-link">
                    <a href="#">Covid-19</a>
                </p>
                <p class="classic-link">
                    <a href="#">Технологии</a>
                </p>
                <p class="classic-link">
                    <a href="#">Фото/Видео</a>
                </p>
                <p class="classic-link">
                    <a href="#">Путешествия</a>
                </p>
                <p class="classic-link">
                    <a href="#">О Ванкувере</a>
                </p>
                <p class="classic-link">
                    <a href="#">О Канаде</a>
                </p>
            </div>
            <div>
                <p class="title-link">
                    <a href="#">Блоги/Мнения</a>
                </p>
                <p class="classic-link">
                    <a href="#">Все записи</a>
                </p>
                <p class="classic-link">
                    <a href="#">Авторы</a>
                </p>
                <p class="classic-link">
                    <a href="#">Интервью</a>
                </p>
                <p class="classic-link">
                    <a href="#">Жители Ванкувера</a>
                </p>
                <p class="classic-link">
                    <a href="#">Партнёрский материал</a>
                </p>
            </div>
            <div>
                <p class="title-link">
                    <a href="#">Иммиграция</a>
                </p>
                <p class="classic-link">
                    <a href="#">Новости иммиграции</a>
                </p>
                <p class="classic-link">
                    <a href="#">Иммиграционные программы</a>
                </p>
                <p class="classic-link">
                    <a href="#">Статьи об иммиграции</a>
                </p>
            </div>
        </div>
        <div class="pop-up-general-block-content hotlink-switch" data-hot="hotNews2">
            <div>
                <p class="classic-link">
                    <a href="#">Вся лента</a>
                </p>
            </div>
            <div>
                <p class="title-link hover">
                    <a href="#">Российские СМИ</a>
                </p>
                <p class="classic-link">
                    <a href="#">Meduza.io</a>
                </p>
                <p class="classic-link">
                    <a href="#">Lenta.ru</a>
                </p>
                <p class="classic-link">
                    <a href="#">Rbc.ru</a>
                </p>
            </div>
            <div>
                <p class="title-link hover">
                    <a href="#">Украинские СМИ</a>
                </p>
                <p class="classic-link">
                    <a href="#">Korrespondent.net</a>
                </p>
                <p class="classic-link">
                    <a href="#">Pravda.com.ua</a>
                </p>
                <p class="classic-link">
                    <a href="#">Rbc.ua</a>
                </p>
            </div>
            <div>
                <p class="title-link hover">
                    <a href="#">Международные СМИ</a>
                </p>
                <p class="classic-link">
                    <a href="#">Голос Америки</a>
                </p>
                <p class="classic-link">
                    <a href="#">BBC News Russian</a>
                </p>
            </div>
        </div>
        <div class="pop-up-general-block-content hotlink-switch" data-hot="hotNews3">
            <div>
                <p class="vacancy-title-link">Вакансии</p>
                <p class="vacancy-title-count">Всего опубликовано (1484)</p>
                <p class="classic-link">
                    <a href="#">Все объявления</a>
                </p>
                <p class="classic-link">
                    <a href="#">Требуются работники</a>
                </p>
                <p class="classic-link">
                    <a href="#">Ищу работу</a>
                </p>
            </div>
        </div>
        <div class="pop-up-general-block-content hotlink-switch" data-hot="hotNews4">
            <div>
                <p class="vacancy-title-link">Справочник</p>
                <p class="vacancy-title-count">Всего опубликовано (1484)</p>
                <div class="input-buss-search-wrp">
                    <input type="text" class="input-buss-search" placeholder="Поиск...">
                    <div class="input-buss-search-btn">
                        <img src="../../build/img/search.svg" alt="">
                    </div>
                </div>
                <div class="vibor-wrp">
                    <label class="radio">
                        <input type="radio" name="buss1" checked="">
                        <div class="radio__text">Название</div>
                    </label>
                    <label class="radio">
                        <input type="radio" name="buss1">
                        <div class="radio__text">Тел.</div>
                    </label>
                </div>
                <p class="classic-link">
                    <a href="#">Автомобили</a>
                </p>
                <p class="classic-link">
                    <a href="#">Астрологи, ясновидцы</a>
                </p>
                <p class="classic-link">
                    <a href="#">Дети</a>
                </p>
                <p class="classic-link">
                    <a href="#">Домашние животные</a>
                </p>
                <p class="classic-link">
                    <a href="#">Компьютеры</a>
                </p>
                <p class="classic-link">
                    <a href="#">Культура</a>
                </p>
                <p class="classic-link">
                    <a href="#">Автомобили</a>
                </p>
                <p class="classic-link">
                    <a href="#">Дети</a>
                </p>
                <p class="classic-link">
                    <a href="#">Домашние животные</a>
                </p>
                <p class="classic-link">
                    <a href="#">Компьютеры</a>
                </p>
                <p class="classic-link">
                    <a href="#">Культура</a>
                </p>
                <p class="classic-link">
                    <a href="#">Автомобили</a>
                </p>
                <p class="classic-link">
                    <a href="#">Астрологи, ясновидцы</a>
                </p>
                <p class="classic-link">
                    <a href="#">Дети</a>
                </p>
                <p class="classic-link">
                    <a href="#">Домашние животные</a>
                </p>
                <p class="classic-link">
                    <a href="#">Компьютеры</a>
                </p>
                <p class="classic-link">
                    <a href="#">Культура</a>
                </p>
                <p class="classic-link">
                    <a href="#">Автомобили</a>
                </p>
                <p class="classic-link">
                    <a href="#">Астрологи, ясновидцы</a>
                </p>
                <p class="classic-link">
                    <a href="#">Дети</a>
                </p>
                <p class="classic-link">
                    <a href="#">Домашние животные</a>
                </p>
                <p class="classic-link">
                    <a href="#">Компьютеры</a>
                </p>
                <p class="classic-link">
                    <a href="#">Культура</a>
                </p>
            </div>
        </div>
        <div class="pop-up-general-block-content hotlink-switch" data-hot="hotNews5">
            <div>
                <p class="vacancy-title-link">Справочник</p>
                <p class="vacancy-title-count">Всего опубликовано (1484)</p>
                <div class="input-buss-search-wrp">
                    <input type="text" class="input-buss-search" placeholder="Поиск...">
                    <div class="input-buss-search-btn">
                        <img src="../../build/img/search.svg" alt="">
                    </div>
                </div>
                <div class="vibor-wrp">
                    <label class="radio">
                        <input type="radio" name="buss1" checked="">
                        <div class="radio__text">Название</div>
                    </label>
                    <label class="radio">
                        <input type="radio" name="buss1">
                        <div class="radio__text">Тел.</div>
                    </label>
                </div>
            </div>
        </div>
        <div class="pop-up-general-block-content hotlink-switch" data-hot="hotNews6">
            <div>
                <p class="vacancy-title-link">Афиша</p>
                <p class="vacancy-title-count">Всего опубликовано (1484)</p>
                <p class="classic-link">
                    <a href="#">Все мероприятия</a>
                </p>
                <p class="classic-link">
                    <a href="#">Вебинар</a>
                </p>
                <p class="classic-link">
                    <a href="#">Вечеринка</a>
                </p>
                <p class="classic-link">
                    <a href="#">Выставка</a>
                </p>
                <p class="classic-link">
                    <a href="#">Дискотека</a>
                </p>
                <p class="classic-link">
                    <a href="#">Концерт</a>
                </p>
                <p class="classic-link">
                    <a href="#">Образовательная встреча</a>
                </p>
                <p class="classic-link">
                    <a href="#">Спектакль</a>
                </p>
                <p class="classic-link">
                    <a href="#">Спортивное мероприятие</a>
                </p>
                <p class="classic-link">
                    <a href="#">Творческий вечер</a>
                </p>
                <p class="classic-link">
                    <a href="#">Театр</a>
                </p>
                <p class="classic-link">
                    <a href="#">Турнир</a>
                </p>
                <p class="classic-link classic-link-archive">
                    <a href="#">Прошедшие мероприятия</a>
                </p>
            </div>
        </div>
        <div class="pop-up-general-block-content hotlink-switch" data-hot="hotNews7">
            <div>
                <p class="vacancy-title-link">Погода в Канаде</p>
                <div class="input-buss-search-wrp">
                    <input type="text" class="input-buss-search" placeholder="Поиск...">
                    <div class="input-buss-search-btn">
                        <img src="../../build/img/search.svg" alt="">
                    </div>
                </div>
                <p class="weather-classic-link">Города большого Ванкувера</p>
                <p class="classic-link">
                    <a href="#">Vancouver</a>
                </p>
                <p class="classic-link">
                    <a href="#">North Vancouver</a>
                </p>
                <p class="classic-link">
                    <a href="#">West Vancouver</a>
                </p>
                <p class="classic-link">
                    <a href="#">Richmond</a>
                </p>
                <p class="classic-link">
                    <a href="#">Burnaby</a>
                </p>
                <p class="classic-link">
                    <a href="#">New Westminster</a>
                </p>
                <p class="classic-link">
                    <a href="#">Port Moody</a>
                </p>
                <p class="classic-link">
                    <a href="#">Coquitlam</a>
                </p>
                <p class="classic-link">
                    <a href="#">Port Coquitlam</a>
                </p>
                <p class="classic-link">
                    <a href="#">Pitt Meadows</a>
                </p>
                <p class="classic-link">
                    <a href="#">Surrey</a>
                </p>
                <p class="classic-link">
                    <a href="#">Langley</a>
                </p>
                <p class="classic-link">
                    <a href="#">Delta</a>
                </p>
                <p class="classic-link">
                    <a href="#">Maple Ridge</a>
                </p>
                <p class="classic-link">
                    <a href="#">Tsawwassen</a>
                </p>
                <p class="weather-classic-link">Города большого Ванкувера</p>
                <p class="classic-link">
                    <a href="#">Ванкувер</a>
                </p>
                <p class="classic-link">
                    <a href="#">Торонто</a>
                </p>
                <p class="classic-link">
                    <a href="#">Монреаль</a>
                </p>
                <p class="classic-link">
                    <a href="#">Калгари</a>
                </p>
                <p class="classic-link">
                    <a href="#">Оттава</a>
                </p>
                <p class="classic-link">
                    <a href="#">Эдмонтон</a>
                </p>
                <p class="classic-link">
                    <a href="#">Виннипег</a>
                </p>
                <p class="classic-link">
                    <a href="#">Квебек сити</a>
                </p>
            </div>
        </div>
    </div>
    <div class="pop-up-general-block-close-btn"></div>
</div>
<div id="message" class="pop-up-general-block message">
    <div class="pop-up-general-block-content">
        <p class="form-title">Хотите связаться с нами? <br>Вот самый быстрый способ</p>
        <p class="form-text">Предложите тему. Расскажите, все ли хорошо работает. </p>
        <p class="form-text">Поделитесь с редакцией любой идеей. Напишите нам!</p>
        <form id="form5" action="#">
            <div class="input-style">
                <input class="comment-input input-form input-valid" type="email" placeholder="Адрес электронной почты или телефон">
                <p class="input-error">Ошибка ввода</p>
            </div>
            <div class="input-style">
                <textarea class="comment-input textarea-comment input-valid" name="name" placeholder="Комментарий"></textarea>
                <p class="input-error">Ошибка ввода</p>
            </div>
            <input class="pop-form-btn open-thnx" type="submit" name="" value="Отправить">
        </form>
    </div>
    <div class="pop-up-general-block-close-btn"></div>
</div>
<div id="thnx" class="pop-up-general-block thnx">
    <div class="pop-up-general-block-content">
        <p class="form-title">Спасибо за&nbsp;обращение</p>
        <p>Наш менеджер получит Ваше сообщение и свяжется с Вами в&nbsp;течение&nbsp;24&nbsp;часов</p>
        <div class="pop-form-btn pop-form-btn-close">Закрыть</div>
    </div>
    <div class="pop-up-general-block-close-btn"></div>
</div>
<div id="thnxSubscribe" class="pop-up-general-block thnx">
    <div class="pop-up-general-block-content">
        <p class="form-title">Спасибо, что&nbsp;подписались</p>
        <p>Пожалуйста, проверьте свою почту <br>для подтверждения указанного email</p>
        <div class="pop-form-btn pop-form-btn-close">Закрыть</div>
    </div>
    <div class="pop-up-general-block-close-btn"></div>
</div>
<div id="deleteArticle" class="pop-up-general-block pop-up-delete-article">
    <div class="pop-up-general-block-content">
        <p class="form-title">Вы точно хотите удалить статью?</p>
        <p>В случае подтверждения, ваша статья будет удалено навсегда и мы не&nbsp;сможем его восстановить.</p>
        <div class="pop-form-btn pop-form-btn-del-article">Удалить</div>
    </div>
    <div class="pop-up-general-block-close-btn"></div>
</div>
<!-- Отправить сообщение -->
<div id="message2" class="pop-up-general-block">
    <div class="pop-up-general-block-content">
        <p class="form-title">Отправить сообщение</p>
        <form id="form8" action="#">
            <div class="input-style">
                <input class="comment-input input-form input-valid" type="text" name="name" placeholder="Имя*">
                <p class="input-error">Ошибка ввода</p>
            </div>
            <div class="input-style">
                <input class="comment-input input-form input-valid" type="email" data-input="email" name="email" placeholder="E-mail*">
                <p class="input-error">Ошибка ввода</p>
            </div>
            <div class="input-style">
                <input class="comment-input input-form mask-phone" type="tel" data-input="phone" name="tel" placeholder="Номер телефона">
                <p class="input-error">Ошибка ввода</p>
            </div>
            <div class="input-style">
                <textarea class="comment-input textarea-comment input-valid" name="message" placeholder="Сообщение*"></textarea>
                <p class="input-error">Ошибка ввода</p>
            </div>
            <input class="pop-form-btn open-thnx" type="submit" name="" value="Отправить">
        </form>
    </div>
    <div class="pop-up-general-block-close-btn"></div>
</div>
<!-- Оставить жалобу -->
<div id="complaint" class="pop-up-general-block">
    <div class="pop-up-general-block-content">
        <p class="form-title">Оставить жалобу</p>
        <form id="form9" action="#">
            <div class="input-style">
                <input class="comment-input input-form input-valid" type="text" name="name" placeholder="Имя*">
                <p class="input-error">Ошибка ввода</p>
            </div>
            <div class="input-style">
                <input class="comment-input input-form input-valid" type="email" data-input="email" name="email" placeholder="E-mail*">
                <p class="input-error">Ошибка ввода</p>
            </div>
            <div class="input-style">
                <input class="comment-input input-form mask-phone" type="tel" data-input="phone" name="tel" placeholder="Номер телефона">
                <p class="input-error">Ошибка ввода</p>
            </div>
            <div class="input-style">
                <textarea class="comment-input textarea-comment input-valid" name="message" placeholder="Текст жалобы*"></textarea>
                <p class="input-error">Ошибка ввода</p>
            </div>
            <input class="pop-form-btn open-thnx" type="submit" name="" value="Отправить">
        </form>
    </div>
    <div class="pop-up-general-block-close-btn"></div>
</div>
<!-- Войти в личный кабинет -->
<div id="logIn" class="pop-up-general-block small-pop">
    <div class="pop-up-general-block-content">
        <div class="pop-up-general-top">
            <p class="form-title">Войти в личный кабинет</p>
            <form id="form10" action="#">
                <div class="input-style">
                    <input class="comment-input input-form input-valid" type="email" data-input="email" name="email" placeholder="E-mail*">
                    <p class="input-error">Ошибка ввода</p>
                </div>
                <div class="input-style show-pass-wrp">
                    <input class="comment-input input-form input-valid" type="password" placeholder="Пароль*">
                    <div class="show-pass">
                        <img class="hide" src="../../build/img/eye-off-outline.svg" alt="">
                        <img class="show" src="../../build/img/eye-outline.svg" alt="">
                    </div>
                    <p class="input-error">Ошибка ввода</p>
                </div>
                <p class="forgot-li"><span class="findPass-btn">Забыли пароль?</span></p>
                <input class="pop-form-btn" type="submit" name="" value="Вход">
            </form>
        </div>
        <div class="pop-up-general-bottom">
            <p>Нет аккаунта?</p>
            <span class="regIn-btn">Зарегистрироваться</span>
        </div>
    </div>
    <div class="pop-up-general-block-close-btn"></div>
</div>
<!-- Зарегистрироваться -->
<div id="regIn" class="pop-up-general-block small-pop">
    <div class="pop-up-general-block-content">
        <div class="pop-up-general-top">
            <p class="form-title">Зарегистрироваться</p>
            <form id="form11" action="#">
                <div class="input-style">
                    <input class="comment-input input-form input-valid" type="text" name="name" placeholder="Имя*">
                    <p class="input-error">Ошибка ввода</p>
                </div>
                <div class="input-style">
                    <input class="comment-input input-form input-valid" type="email" data-input="email" name="email" placeholder="E-mail*">
                    <p class="input-error">Ошибка ввода</p>
                </div>
                <div class="input-style">
                    <input class="comment-input input-form mask-phone" type="tel" data-input="phone" name="tel" placeholder="Номер телефона">
                    <p class="input-error">Ошибка ввода</p>
                </div>
                <div class="input-style show-pass-wrp">
                    <input class="comment-input input-form input-valid" type="password" placeholder="Пароль*">
                    <div class="show-pass">
                        <img class="hide" src="../../build/img/eye-off-outline.svg" alt="">
                        <img class="show" src="../../build/img/eye-outline.svg" alt="">
                    </div>
                    <p class="input-error">Ошибка ввода</p>
                </div>
                <div class="input-style show-pass-wrp">
                    <input class="comment-input input-form input-valid" type="password" placeholder="Повторите пароль*">
                    <div class="show-pass">
                        <img class="hide" src="../../build/img/eye-off-outline.svg" alt="">
                        <img class="show" src="../../build/img/eye-outline.svg" alt="">
                    </div>
                    <p class="input-error">Ошибка ввода</p>
                </div>
                <input class="pop-form-btn btn-checkbox btn-checkbox-disabled" type="submit" name="" value="Регистрация">
                <label class="checkbox checkbox-warning">
                    <input class="checkbox-check" type="checkbox">
                    <div class="checkbox__text">Я согласен с&nbsp;<a href="/policy">соглашением об использовании услуг</a></div>
                </label>
            </form>
        </div>
        <div class="pop-up-general-bottom">
            <p>У вас уже есть аккаунт?</p>
            <span class="logIn-btn">Войти</span>
        </div>
    </div>
    <div class="pop-up-general-block-close-btn"></div>
</div>
<!-- Восстановить пароль -->
<div id="findPass" class="pop-up-general-block small-pop">
    <div class="pop-up-general-block-content">
        <div class="pop-up-general-top">
            <p class="form-title">Восстановить пароль</p>
            <form id="form12" action="#">
                <div class="input-style">
                    <input class="comment-input input-form input-valid" type="email" data-input="email" name="email" placeholder="E-mail*">
                    <p class="input-error">Ошибка ввода</p>
                </div>
                <input class="pop-form-btn" type="submit" name="" value="Выслать пароль">
                <p class="forgot-li "><span class="logIn-btn">Вспомнили пароль?</span></p>
            </form>
        </div>
        <div class="pop-up-general-bottom">
            <p>Нет аккаунта?</p>
            <span class="regIn-btn">Зарегистрироваться</span>
        </div>
    </div>
    <div class="pop-up-general-block-close-btn"></div>
</div>
<!-- успешно восстановлено -->
<div id="thnxPass" class="pop-up-general-block">
    <div class="pop-up-general-block-content">
        <p class="form-title">Ссылка для восстановления пароля отправлена вам на e-mail</p>
        <p>Для восстановления следуйте инструкциям в письме</p>
    </div>
    <div class="pop-up-general-block-close-btn"></div>
</div>
