<main class="vacancy-page subscribe-page">
    <div class="container container-custom">
        <section class="banner-main">
            <div class="row">
                <div class="col-xl-3 col-lg-4 col-md-5">
                    <div class="banner-img">
                        <img src="../../build/img/banner1.png" alt="">
                    </div>
                </div>
                <div class="col-xl-9 col-lg-8 col-md-7 col-12 d-md-block d-none">
                    <div class="banner-img">
                        <img src="../../build/img/banner2.png" alt="">
                    </div>
                </div>
            </div>
        </section>
        <!-- 2 block  -->
        <section class="readable-section section-contacts">
            <div class="row">
                <div class="col-xl-9 col-lg-8 col-12">
                    <div class="plashka-simple section-contacts-plashka">
                        <p class="result-title">Рекламодателям</p>
                        <div class="vvodnay">
                            <p>ZIMA Magazine — крупный русскоязычный медиа-проект, базирующийся в Лондоне, в состав которого входят сайт zimamagazine.com, печатный журнал ZIMA и офлайн-сообщество ZIMA CLUB.</p>
                            <p>Мы объединяем людей, которые живут, работают или учатся в Британии, а также тех, кто думает о возможности переезда сюда или часто посещает Англию. Мы держим своих читателей в курсе важных событий в стране, вдохновляем и даем советы, знакомим с интересными людьми и рассказываем, как тут на самом деле все устроено.</p>
                        </div>
                        <div class="row revanklama-blocks-wrp">
                            <div class="col-xl-4 col-md-6 col-12">
                                <div class="revanklama-block">
                                    <img src="../../build/img/revanklama1.svg" alt="">
                                    <div>
                                        <p class="revanklama-count">75 000</p>
                                        <p class="revanklama-text">Уникальных посетителей в месяц</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4 col-md-6 col-12">
                                <div class="revanklama-block">
                                    <img src="../../build/img/revanklama2.svg" alt="">
                                    <div>
                                        <p class="revanklama-count">120 000</p>
                                        <p class="revanklama-text">Просмотров страниц в месяц</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4 col-md-6 col-12">
                                <div class="revanklama-block">
                                    <img src="../../build/img/revanklama3.svg" alt="">
                                    <div>
                                        <p class="revanklama-count">30-55 лет</p>
                                        <p class="revanklama-text">Возраст основной аудитории</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <p class="revanklama-subtitle">Сотрудничество</p>
                        <div class="vvodnay">
                            <p>Мы всегда открыты к сотрудничеству и рады новым клиентам. Мы предоставляем специальные условия для постоянных партнеров, а также для компаний малого бизнеса и организаторов мероприятий.</p>
                        </div>
                        <div class="row-revanklama-links">
                            <div class="revanklama-links">
                                <a href="#" download>
                                    <img src="../../build/img/download.svg" alt="">
                                    <span>Медиакит RUS</span>
                                </a>
                                <p>PDF, 32 kb</p>
                            </div>
                            <div class="revanklama-links">
                                <a href="#" download>
                                    <img src="../../build/img/download.svg" alt="">
                                    <span>Mediakit ENG</span>
                                </a>
                                <p>PDF, 32 kb</p>
                            </div>
                            <div class="revanklama-links">
                                <a href="#" download>
                                    <img src="../../build/img/download.svg" alt="">
                                    <span>Прайс лист 2021</span>
                                </a>
                                <p>xslx, 24 kb</p>
                            </div>
                            <div class="revanklama-links">
                                <a href="#" download>
                                    <img src="../../build/img/download.svg" alt="">
                                    <span>Требования к баннерам</span>
                                </a>
                                <p>xslx, 24 kb</p>
                            </div>
                        </div>
                        <p class="revanklama-subtitle">Совместный проект</p>
                        <div class="vvodnay">
                            <p>Хотите запустить совместный проект? Заполните, пожалуйста, бриф ниже. С его помощью мы сможем предложить идеи и форматы, которые лучше всего подойдут для вашего бизнеса.</p>
                        </div>
                        <div class="row row-revanklama-plashka">
                            <div class="col-xl-8 col-lg-7 col-12">
                                <form id="form18" action="#">
                                    <div class="input-style">
                                        <input class="comment-input input-form input-valid" type="text" name="brand" placeholder="Как называется ваша компания / бизнес / бренд?*">
                                        <p class="input-error">Ошибка ввода</p>
                                    </div>
                                    <div class="input-style">
                                        <input class="comment-input input-form input-valid" type="text" name="product" placeholder="Какой товар, услугу или сервис вы бы хотели продвигать?*">
                                        <p class="input-error">Ошибка ввода</p>
                                    </div>
                                    <div class="input-style">
                                        <input class="comment-input input-form" type="text" name="product" placeholder="Каких целей вы бы хотели достигнуть, используя наши каналы коммуникаций?">
                                        <p class="input-error">Ошибка ввода</p>
                                    </div>
                                    <div class="input-style">
                                        <input class="comment-input input-form" type="text" name="product" placeholder="Ваш бюджет на продвижение? Можно примерно (от… до)">
                                        <p class="input-error">Ошибка ввода</p>
                                    </div>
                                    <div class="input-style">
                                        <input class="comment-input input-form input-valid" type="email" data-input="email" name="email" placeholder="E-mail для связи*">
                                        <p class="input-error">Ошибка ввода</p>
                                    </div>
                                    <div class="input-style">
                                        <input class="comment-input input-form mask-phone" type="tel" data-input="phone" name="tel" placeholder="Оставьте, пожалуйста, номер телефона, если хотите, чтоб вам перезвонили">
                                        <p class="input-error">Ошибка ввода</p>
                                    </div>
                                    <div class="input-style">
                                        <input class="comment-input input-form input-valid" type="text" name="name" placeholder="И последний вопрос: как мы можем к вам обращаться?*">
                                        <p class="input-error">Ошибка ввода</p>
                                    </div>
                                    <input class="pop-form-btn open-thnx revanklama-btn" type="submit" name="" value="Отправить">
                                </form>
                            </div>
                            <div class="col-xl-4 col-lg-5 col-md-6 col-12">
                                <div class="revanklama-plashka">
                                    <p class="revanklama-plashka-title">Или свяжитесь с&nbsp;нами</p>
                                    <p class="revanklama-plashka-text">Пишите — будем рады обсудить возможные варианты сотрудничества.</p>
                                    <a href="#">mail@nashvancouver.com</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-3 col-lg-4 col-12">
                    <div class="banner-news-wrp">
                        <div class="banner-news">
                            <img src="../../build/img/afisha-banner1.png" alt="">
                        </div>
                    </div>
                    <div class="banner-news-wrp">
                        <div class="banner-news">
                            <img src="../../build/img/afisha-banner2.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</main>
