<main class="vacancy-page news-page">
    <div class="container container-custom">
        <section class="banner-main">
            <div class="row">
                <div class="col-xl-3 col-lg-4 col-md-5">
                    <div class="banner-img">
                        <img src="../../build/img/banner1.png" alt="">
                    </div>
                </div>
                <div class="col-xl-9 col-lg-8 col-md-7 col-12 d-md-block d-none">
                    <div class="banner-img">
                        <img src="../../build/img/banner2.png" alt="">
                    </div>
                </div>
            </div>
        </section>
        <!-- 2 block  -->
        <section class="readable-section">
            <div class="row">
                <div class="col-12 plashka-sticky-mob">
                    <div class="plashka-sticky">
                        <p class="vacancy-title-link vacancy-title-link-lk">Добро пожаловать, Антон Юрьев</p>
                        <p class="classic-link">
                            <a href="#" class="search-tab-link search-tab active" data-hot="search1">Контактные данные</a>
                        </p>
                        <p class="classic-link">
                            <a href="#" class="search-tab-link search-tab" data-hot="search2">Мои Статьи</a>
                        </p>
                        <p class="classic-link">
                            <a href="#" class="search-tab-link search-tab" data-hot="search3">Мои Объявления</a>
                        </p>
                        <p class="classic-link">
                            <a href="#" class="search-tab-link search-tab" data-hot="search4">Мои Бизнесы/Услуги</a>
                        </p>
                        <p class="classic-link">
                            <a href="#" class="search-tab-link search-tab" data-hot="search5">Мои Мероприятия</a>
                        </p>
                    </div>
                </div>
                <div class="col-xl-9 col-lg-8 col-12">
                    <div class="row row-height">
                        <div class="col-xl-3 col-md-4 col-12 col-inner-3">
                            <div class="plashka-sticky">
                                <div class="plashka-sticky-content-wrp">
                                    <p class="vacancy-title-link vacancy-title-link-lk">Добро пожаловать, Антон Юрьев</p>
                                    <p class="classic-link">
                                        <a href="#" class="search-tab-link search-tab active" data-hot="search1">Контактные данные</a>
                                    </p>
                                    <p class="classic-link">
                                        <a href="#" class="search-tab-link search-tab" data-hot="search2">Мои Статьи</a>
                                    </p>
                                    <p class="classic-link">
                                        <a href="#" class="search-tab-link search-tab" data-hot="search3">Мои Объявления</a>
                                    </p>
                                    <p class="classic-link">
                                        <a href="#" class="search-tab-link search-tab" data-hot="search4">Мои Бизнесы/Услуги</a>
                                    </p>
                                    <p class="classic-link">
                                        <a href="#" class="search-tab-link search-tab" data-hot="search5">Мои Мероприятия</a>
                                    </p>
                                </div>
                                <div class="plashki-acc">
                                    <div class="plashka-questions">
                                        <img src="../../build/img/question.svg" alt="">
                                        <p>Есть вопросы?</p>
                                    </div>
                                    <div class="plashka-acc plashka-acc-fb">
                                        <img src="../../build/img/fb-plashka.svg" alt="">
                                        <p>Подписаться</p>
                                    </div>
                                    <div class="plashka-acc plashka-acc-telega">
                                        <img src="../../build/img/telegram-plashka.svg" alt="">
                                        <p>Подписаться</p>
                                    </div>
                                    <div class="plashki-form">
                                        <p>Одно письмо с лучшим за&nbsp;неделю</p>
                                        <form id="form2" action="#">
                                            <div class="red-input-wrp">
                                                <div class="input-style">
                                                    <input class="input-form input-valid input-plane" type="email" data-input="email" name="email" placeholder="E-mail">
                                                    <p class="input-error">Ошибка ввода</p>
                                                </div>
                                                <button class="send-btn-plane" type="button" name="button">
                                                    <img src="../../build/img/send-telega-plane.svg" alt="">
                                                </button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-9 col-md-8 col-12 col-inner-9">
                            <div class="plashka-news-wrp lk-plashka-top">
                                <form action="#">
                                    <p class="result-title">Контактные данные</p>
                                    <div class="row vac-inputs">
                                        <div class="col-xl-6 col-12">
                                            <div class="input-style">
                                                <input class="comment-input input-valid comment-input-name" type="text" name="name" data-input="name" placeholder="Ваше полное имя*">
                                                <p class="input-error">Ошибка ввода</p>
                                            </div>
                                        </div>
                                        <div class="col-xl-6 col-12">
                                            <div class="input-style">
                                                <input class="comment-input input-valid comment-input-name mask-phone" type="tel" name="tel" data-input="phone" placeholder="Номер телефона">
                                                <p class="input-error">Ошибка ввода</p>
                                            </div>
                                        </div>
                                        <div class="col-xl-6 col-12">
                                            <div class="input-style">
                                                <input class="comment-input input-valid comment-input-name" type="email" name="email" data-input="email" placeholder="Ваш e-mail">
                                                <p class="input-error">Ошибка ввода</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="save-btn-wrp">
                                        <input class="save-btn-lk" type="submit" name="" value="Сохранить">
                                        <div class="saved-success">
                                            <img src="../../build/img/check-circle.svg" alt="">
                                            <p>Данные сохранены</p>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-12">
                    <div class="banner-news-wrp banner-news-wrp-top">
                        <div class="banner-news">
                            <img src="../../build/img/afisha-banner1.png" alt="">
                        </div>
                    </div>
                    <div class="banner-news-wrp banner-news-wrp-top">
                        <div class="banner-news">
                            <img src="../../build/img/afisha-banner2.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</main>
