@import "reset";
@import "variables";
@import "custom";
@import "customSelect";
@import "header/header";
@import "footer/footer";
@import "menu/menu";
@import "main/main";
@import "news/news";
@import "article/article";
@import "blog/blog";
@import "authors/authors";
@import "vacancy/vacancy";
@import "vacancyCreate/vacancyCreate";
@import "vacancyPaid/vacancyPaid";
@import "vacancyCreatePaid/vacancyCreatePaid";
@import "businessAll/businessAll";
@import "business/business";
@import "businessCreate/businessCreate";
@import "businessPaid/businessPaid";
@import "businessCreatePaid/businessCreatePaid";
@import "searchPageResult/searchPageResult";
@import "partners/partners";
@import "popup/popup";
@import "policy/policy";
@import "sss/sss";


body {
    width: 100%;
    overflow-x: hidden;
    position: relative;
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    line-height: 1;
    color: #222222;
    background-color: #E9E9F1;
    &.compensate-for-scrollbar {
        padding-right: 17px;
        header.header-scrolled {
            padding-right: 17px;
        }
    }
}
body.active {
    height: 100%;
    overflow: hidden;
}

@media (min-width: 1366px) {
    .container {
        max-width: 1330px;
    }
    .col-xl-3.col-inner-3  {
        flex: 0 0 22%;
        max-width: 22%;
    }
    .col-xl-9.col-inner-9  {
        flex: 0 0 78%;
        max-width: 78%;
    }
}

.container.container-custom {
    .row {
        margin-right: -10px;
        margin-left: -10px;
        .col-12 {
            padding-left: 10px;
            padding-right: 10px;
        }
    }
}

.app {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    width: 100%;
    // overflow: hidden;
    .pages-wrapper, .header-wrapper, .menu-wrapper {
        position: relative;
        width: 100%;
    }
    .header-wrapper {
        z-index: 4;
    }
    .pages-wrapper {
        z-index: 3;
        flex: 1;
    }
}
