<section class="not-found pt64">
    <div class="container">
        <p class="cifra"><span>404</span></p>
        <h2>Запрашиваемая вами страница не&nbsp;найдена или перенесена.</h2>
        <p>Попробуйте воспользоваться меню
        или <a href="/">перейти на главную</a></p>
        <div class="row">
            <div class="col-xl-3 col-lg-6 col-12">
                <div class="main-news-all">
                    <div>
                        <div class="general-line-title">
                            <p>Последние новости</p>
                        </div>
                        <a href="https://romura.space/vancouver/pages/output/article.html" class="line-block-news tag-block">
                            <img src="../../build/img/mini-news1.png" alt="">
                            <div>
                                <p class="line-block-news-name">Вспышка коронавируса в тренажерном зале в Британской Колумбии: заболели 42 человека</p>
                                <div class="line-block-news-data-wrp">
                                    <p class="line-block-news-data">17.11.2020</p>
                                    <div class="partner-tag-wrp">
                                        <span>Партнерский материал</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                        <a href="https://romura.space/vancouver/pages/output/article.html" class="line-block-news tag-block">
                            <img src="../../build/img/mini-news1.png" alt="">
                            <div>
                                <p class="line-block-news-name">Въезд в центр Ванкувера станет платным</p>
                                <div class="line-block-news-data-wrp">
                                    <p class="line-block-news-data">17.11.2020</p>
                                    <div class="partner-tag-wrp">
                                        <span>Новости Иммиграции</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                        <a href="https://romura.space/vancouver/pages/output/article.html" class="line-block-news tag-block" data-color="orange">
                            <img src="../../build/img/mini-news2.png" alt="">
                            <div>
                                <p class="line-block-news-name">В Ванкувере женщина плюнула в пассажира автобуса и получила за это</p>
                                <div class="line-block-news-data-wrp">
                                    <p class="line-block-news-data">17.11.2020</p>
                                    <div class="partner-tag-wrp">
                                        <span>Новости Иммиграции</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                        <a href="https://romura.space/vancouver/pages/output/article.html" class="line-block-news tag-block">
                            <img src="../../build/img/mini-news3.png" alt="">
                            <div>
                                <p class="line-block-news-name">Один дома: с какого возраста ребенка в Канаде можно оставить без присмотра</p>
                                <div class="line-block-news-data-wrp">
                                    <p class="line-block-news-data">17.11.2020</p>
                                    <div class="partner-tag-wrp">
                                        <span>Партнерский материал</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                        <a href="https://romura.space/vancouver/pages/output/article.html" class="line-block-news tag-block">
                            <img src="../../build/img/mini-news2.png" alt="">
                            <div>
                                <p class="line-block-news-name">В Ванкувере женщина плюнула в пассажира автобуса и получила за это</p>
                                <div class="line-block-news-data-wrp">
                                    <p class="line-block-news-data">17.11.2020</p>
                                    <div class="partner-tag-wrp">
                                        <span>Партнерский материал</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <a class="mob-all-link" href="https://romura.space/vancouver/pages/output/news.html">Все новости</a>
                </div>
            </div>
            <div class="col-xl-3 col-lg-6 col-12">
                <div class="main-news-all">
                    <div>
                        <div class="general-line-title">
                            <p>Работа в Ванкувере</p>
                        </div>
                        <a href="#" class="announcment-block tag-block" data-color="blue">
                            <div>
                                <p class="announcment-name">Установщик окон в районе Бернаби. Машина обязательна. Зарплата от 5000 CAD в месяц</p>
                                <p class="announcment-data">17.11.2020</p>
                            </div>
                            <div class="announcment-tag">Требуются работники</div>
                        </a>
                        <a href="#" class="announcment-block tag-block" data-color="blue">
                            <div>
                                <p class="announcment-name">Установщик окон в районе Бернаби. Машина обязательна. Зарплата от 5000 CAD в месяц</p>
                                <p class="announcment-data">17.11.2020</p>
                            </div>
                            <div class="announcment-tag">Требуются работники</div>
                        </a>
                        <a href="#" class="announcment-block tag-block" data-color="blue">
                            <div>
                                <p class="announcment-name">Установщик окон в районе Бернаби. Машина обязательна. Зарплата от 5000 CAD в месяц</p>
                                <p class="announcment-data">17.11.2020</p>
                            </div>
                            <div class="announcment-tag">Требуются работники</div>
                        </a>
                        <a href="#" class="announcment-block tag-block" data-color="blue">
                            <div>
                                <p class="announcment-name">Установщик окон в районе Бернаби. Машина обязательна. Зарплата от 5000 CAD в месяц</p>
                                <p class="announcment-data">17.11.2020</p>
                            </div>
                            <div class="announcment-tag">Требуются работники</div>
                        </a>
                        <a href="#" class="announcment-block tag-block" data-color="orange">
                            <div>
                                <p class="announcment-name">Смешно, но склады ломятся от зерна</p>
                                <p class="announcment-data">17.11.2020</p>
                            </div>
                            <div class="announcment-tag">Ищу работу</div>
                        </a>
                        <a href="#" class="announcment-block tag-block" data-color="orange">
                            <div>
                                <p class="announcment-name">Сложно сказать, почему прототип - не панацея</p>
                                <p class="announcment-data">17.11.2020</p>
                            </div>
                            <div class="announcment-tag">Ищу работу</div>
                        </a>
                    </div>
                    <div>
                        <a class="mob-all-link" href="https://romura.space/vancouver/pages/output/vacancy.html">Все вакансии</a>
                        <div class="btn-place" onclick="javascript:location.href='https://romura.space/vancouver/pages/output/vacancyCreate.html'">
                            <img src="../../build/img/add.svg" alt="">
                            <span>Разместить новое объявление</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-6 col-12">
                <div class="main-news-all afisha-section">
                    <div>
                        <div class="general-line-title">
                            <p>Афиша</p>
                        </div>
                        <a href="#" class="afisha-block tag-block" data-color="violet">
                            <div>
                                <img src="../../build/img/afisha1.jpg" alt="">
                                <div class="afisha-text">
                                    <p class="afisha-name">Анжелика Вариум и Леонид Агутин (Большой концерт</p>
                                    <p class="afisha-data">
                                        <span>Ванкувер</span>
                                        <span>10.12.2020</span>
                                    </p>
                                </div>
                            </div>
                            <div class="announcment-tag">Концерт</div>
                        </a>
                        <a href="#" class="afisha-block tag-block" data-color="violet">
                            <div>
                                <img src="../../build/img/afisha1.jpg" alt="">
                                <div class="afisha-text">
                                    <p class="afisha-name">Анжелика Вариум и Леонид Агутин (Большой концерт и Леонид Агутин (Большой концерт</p>
                                    <p class="afisha-data">
                                        <span>Ванкувер</span>
                                        <span>10.12.2020</span>
                                    </p>
                                </div>
                            </div>
                            <div class="announcment-tag">Мероприятие</div>
                        </a>
                        <a href="#" class="afisha-block tag-block" data-color="violet">
                            <div>
                                <img src="../../build/img/afisha1.jpg" alt="">
                                <div class="afisha-text">
                                    <p class="afisha-name">Анжелика Вариум и Леонид Агутин (Большой концерт</p>
                                    <p class="afisha-data">
                                        <span>Ванкувер</span>
                                        <span>10.12.2020</span>
                                    </p>
                                </div>
                            </div>
                            <div class="announcment-tag">Вебинар</div>
                        </a>
                        <a href="#" class="afisha-block tag-block" data-color="violet">
                            <div>
                                <img src="../../build/img/afisha1.jpg" alt="">
                                <div class="afisha-text">
                                    <p class="afisha-name">Анжелика Вариум и Леонид</p>
                                    <p class="afisha-data">
                                        <span>Ванкувер</span>
                                        <span>10.12.2020</span>
                                    </p>
                                </div>
                            </div>
                            <div class="announcment-tag">Концерт</div>
                        </a>
                        <a href="#" class="afisha-block tag-block" data-color="violet">
                            <div>
                                <img src="../../build/img/afisha1.jpg" alt="">
                                <div class="afisha-text">
                                    <p class="afisha-name">Анжелика Вариум и Леонид Агутин (Большой концерт</p>
                                    <p class="afisha-data">
                                        <span>Ванкувер</span>
                                        <span>10.12.2020</span>
                                    </p>
                                </div>
                            </div>
                            <div class="announcment-tag">Мероприятие</div>
                        </a>
                        <a href="#" class="afisha-block tag-block" data-color="violet">
                            <div>
                                <img src="../../build/img/afisha1.jpg" alt="">
                                <div class="afisha-text">
                                    <p class="afisha-name">Анжелика Вариум и Леонид Агутин (Большой концерт</p>
                                    <p class="afisha-data">
                                        <span>Ванкувер</span>
                                        <span>10.12.2020</span>
                                    </p>
                                </div>
                            </div>
                            <div class="announcment-tag">Вебинар</div>
                        </a>
                        <a href="#" class="afisha-block tag-block" data-color="violet">
                            <div>
                                <img src="../../build/img/afisha1.jpg" alt="">
                                <div class="afisha-text">
                                    <p class="afisha-name">Анжелика Вариум и Леонид Агутин (Большой концерт</p>
                                    <p class="afisha-data">
                                        <span>Ванкувер</span>
                                        <span>10.12.2020</span>
                                    </p>
                                </div>
                            </div>
                            <div class="announcment-tag">Вебинар</div>
                        </a>
                    </div>
                    <a class="mob-all-link" href="#">Все мероприятия</a>
                </div>
            </div>
            <div class="col-xl-3 col-lg-6 col-12">
                <div class="main-news-all">
                    <div>
                        <div class="general-line-title">
                            <p>Справочник услуг</p>
                        </div>
                        <a href="#" class="announcment-block tag-block" data-color="green">
                            <div>
                                <p class="announcment-name">Василиса Давыдова, СРА</p>
                                <p class="announcment-data">17.11.2020</p>
                            </div>
                            <div class="announcment-tag">Бухгалтерские услуги</div>
                        </a>
                        <a href="#" class="announcment-block tag-block" data-color="green">
                            <div>
                                <p class="announcment-name">Оказывается, базовый вектор развития продолжает удивлять</p>
                                <p class="announcment-data">17.11.2020</p>
                            </div>
                            <div class="announcment-tag">Бухгалтерские услуги</div>
                        </a>
                        <a href="#" class="announcment-block tag-block" data-color="green">
                            <div>
                                <p class="announcment-name">Герцог графства коронован</p>
                                <p class="announcment-data">17.11.2020</p>
                            </div>
                            <div class="announcment-tag">Бухгалтерские услуги</div>
                        </a>
                        <a href="#" class="announcment-block tag-block" data-color="green">
                            <div>
                                <p class="announcment-name">Независимые СМИ потому и независимы, что ночь оказалась долгой</p>
                                <p class="announcment-data">17.11.2020</p>
                            </div>
                            <div class="announcment-tag">Бухгалтерские услуги</div>
                        </a>
                        <a href="#" class="announcment-block tag-block" data-color="green">
                            <div>
                                <p class="announcment-name">Василиса Давыдова, СРА</p>
                                <p class="announcment-data">17.11.2020</p>
                            </div>
                            <div class="announcment-tag">Бухгалтерские услуги</div>
                        </a>
                        <a href="#" class="announcment-block tag-block" data-color="green">
                            <div>
                                <p class="announcment-name">Оказывается, базовый вектор развития продолжает удивлять</p>
                                <p class="announcment-data">17.11.2020</p>
                            </div>
                            <div class="announcment-tag">Бухгалтерские услуги</div>
                        </a>
                        <a href="#" class="announcment-block tag-block" data-color="green">
                            <div>
                                <p class="announcment-name">Герцог графства коронован</p>
                                <p class="announcment-data">17.11.2020</p>
                            </div>
                            <div class="announcment-tag">Бухгалтерские услуги</div>
                        </a>
                    </div>
                    <div>
                        <a class="mob-all-link" href="https://romura.space/vancouver/pages/output/business.html">Все бизнесы</a>
                        <div class="btn-place" onclick="javascript:location.href='https://romura.space/vancouver/pages/output/businessCreate.html'">
                            <img src="../../build/img/add.svg" alt="">
                            <span>Разместить новый бизнес/услугу</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
