<header class="header-desctop">
    <div class="header-desctop-top">
        <div class="container">
            <div class="flex">
                <div class="burger-menu">
                    <img class="close-icon" src="../../build/img/burger-menu.svg" alt="">
                    <img class="open-icon" src="../../build/img/burger-menu-open.svg" alt="">
                    <span>Меню</span>
                </div>
                <div class="input-search-place">
                    <div class="input-search-wrp">
                        <div class="search-btn">
                            <div class="search-btn-img">
                                <img src="../../build/img/search.svg" alt="">
                            </div>
                            <p class="search-text">Поиск</p>
                        </div>
                        <div class="search-input-wrp">
                            <input type="text" class="search-input">
                            <div class="search-input-close"></div>
                        </div>
                        <div class="search-input-result">
                            <ul>
                                <li><a href="#">Введите запрос</a></li>
                                <li><a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nisi, ipsum lacus nec dictum sit vitae adipiscing a.</a></li>
                                <li><a href="#">Integer posuere tincidunt sed pellentesque.</a></li>
                                <li><a href="#">Justo est elementum dictum blandit id eget feugiat sociis. Sed sagittis, lacus, nec eros, dui est.</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="lang-toggle lang-toggle-desc logIn-btn">
                    <img src="../../build/img/user.svg" alt="">
                </div>
            </div>
            <a href="https://romura.space/vancouver/pages/output/main.html" class="logo-header">
                <img class="logo-desc" src="../../build/img/logo.svg" alt="">
                <img class="logo-mob" src="../../build/img/logo-mob.svg" alt="">
            </a>
            <div class="flex">
                <ul class="header-list">
                    <li>
                        <a href="#">
                            <img src="../../build/img/fb.svg" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="../../build/img/insta.svg" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="../../build/img/youtube.svg" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="../../build/img/telegram.svg" alt="">
                        </a>
                    </li>
                </ul>
                <div class="lang-toggle lang-toggle-mob logIn-btn">
                    <img src="../../build/img/user.svg" alt="">
                </div>
                <div class="header-subscribe">
                    <img src="../../build/img/mail-star.svg" alt="">
                    <p>Подписаться</p>
                </div>
            </div>
        </div>
    </div>
    <ul class="header-desctop-bottom">
        <li>
            <a href="https://romura.space/vancouver/pages/output/news.html">Новости</a>
        </li>
        <li>
            <a href="https://romura.space/vancouver/pages/output/blog.html">Блоги</a>
        </li>
        <li>
            <a href="#">Недвижимость</a>
        </li>
        <li>
            <a href="https://romura.space/vancouver/pages/output/business.html">Справочник</a>
        </li>
        <li>
            <a href="https://romura.space/vancouver/pages/output/vacancy.html">Работа</a>
        </li>
        <li>
            <a href="#">Афиша</a>
        </li>
        <li>
            <a href="#">Переезд и иммиграция</a>
        </li>
        <li>
            <a href="#">О Канаде</a>
        </li>
        <li>
            <a href="#">О Ванкувере</a>
        </li>
        <li>
            <a href="#">Знакомства</a>
        </li>
    </ul>
</header>
<header class="header-mob">
    <a class="logo-mob" href="https://romura.space/vancouver/pages/output/main.html">
        <img src="../../build/img/logo-mob.svg" alt="">
    </a>
    <ul class="header-list-search-mob">
        <li>
            <img class="search-mob" src="../../build/img/search.svg" alt="">
        </li>
        <li class="open-bag">
            <a href="#" class="count-link count-link-mob">
                <img src="../../build/img/cart-icon.svg" alt="">
                <p>12</p>
            </a>
        </li>
        <li>
            <span class="burger burger-menu"><span></span></span>
        </li>
    </ul>
</header>
