.subscribe-page {
    .banner-slider-wrp {
        margin-bottom: 0;
    }
    .banner-news-wrp {
        margin-bottom: 0;
        & + .banner-news-wrp {
            margin-top: 20px;
        }
    }
}
.plashka-simple {
    padding: 24px;
    background: #FFFFFF;
    border: 1px solid #DCDEED;
    box-shadow: 0px 16px 24px rgba(0, 72, 141, 0.06), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
    border-radius: 4px;
    & + .plashka-simple {
        margin-top: 20px;
        margin-bottom: 20px;
    }
}
.group-img {
    position: relative;
    width: 100%;
    padding-bottom: 40%;
    img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
.group-title {
    font-weight: bold;
    font-size: 20px;
    line-height: 1.2;
    margin-bottom: 12px;
    & + div {
        font-size: 18px;
        line-height: 1.4;
    }
}
.red-big-block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 24px 23px;
    background: #EB3323;
    border: 1px solid #DCDEED;
    box-shadow: 0px 16px 24px rgba(0, 72, 141, 0.06), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
    border-radius: 4px;
    height: 100%;
    & > img {
        width: 115px;
        margin-bottom: 73px;
    }
}
.red-title {
    position: relative;
    font-weight: 800;
    font-size: 32px;
    color: #FFFFFF;
    padding-bottom: 18px;
    margin-bottom: 11px;
    &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 3px;
        border-radius: 4px;
        background-color: #fff;
    }
    & + p {
        font-size: 18px;
        line-height: 1.1;
        color: #FFFFFF;
        margin-bottom: 28px;
    }
}
.big-plane {
    padding: 0 16px;
    width: auto;
    margin-left: -1px;
    img {
        margin-right: 12px;
    }
    span {
        font-weight: bold;
        font-size: 14px;
        line-height: 1.1;
        color: #148CFE;
    }
}
.red-form-block {
    height: 100%;
    padding: 24px;
    background: #FFFFFF;
    border: 1px solid #DCDEED;
    box-shadow: 0px 16px 24px rgba(0, 72, 141, 0.06), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
    border-radius: 4px;
    .red-title {
        color: #222222;
        margin-bottom: 16px;
        &::after {
            background-color: #222222;
        }
    }
    .comment-input {
        width: 100%;
        margin-bottom: 16px;
        &.textarea-comment {
            height: 80px;
        }
    }
}
.subscribe-section {
    padding: 32px 24px 0px;
    .col-12 {
        margin-bottom: 20px;
    }
}
.subscribe-block {
    padding: 17px 20px;
    background: #FFFFFF;
    border: 1px solid #D0E8FF;
    border-radius: 10px;
    display: flex;
    align-items: flex-start;
    height: 100%;
    img {
        width: 40px;
        margin-right: 23px;
        flex-shrink: 0;
    }
    & > div > p {
        margin-bottom: 8px;
        font-weight: bold;
        font-size: 20px;
        line-height: 1.2;
    }
}
.subscribe-block-text {
    font-size: 18px;
    line-height: 1.4;
}
// media
@media (max-width: 1199px) {
    .red-big-block-section {
        .col-12 + .col-12 {
            margin-top: 20px;
        }
    }
    .group-content {
        padding-top: 30px;
    }
    .subscribe-block img {
        width: 30px;
        margin-right: 15px;
    }
}
@media (max-width: 767px) {
    .red-title {
        font-size: 24px;
    }
    .big-plane {
        img {
            margin: 0;
        }
        span {
            display: none;
        }
    }
}
