<main class="vacancy-page subscribe-page">
    <div class="container container-custom">
        <section class="banner-main">
            <div class="row">
                <div class="col-xl-3 col-lg-4 col-md-5">
                    <div class="banner-img">
                        <img src="../../build/img/banner1.png" alt="">
                    </div>
                </div>
                <div class="col-xl-9 col-lg-8 col-md-7 col-12 d-md-block d-none">
                    <div class="banner-img">
                        <img src="../../build/img/banner2.png" alt="">
                    </div>
                </div>
            </div>
        </section>
        <!-- 2 block  -->
        <section class="readable-section section-contacts">
            <div class="row">
                <div class="col-xl-9 col-lg-8 col-12">
                    <div class="plashka-simple section-contacts-plashka">
                        <p class="result-title">Контакты</p>
                        <p>Если у Вас возникли вопросы по работе сайта или есть интересное предложение по сотрудничеству – мы всегда рады Вас услышать!</p>
                        <div class="row">
                            <div class="col-lg-7 col-12">
                                <div class="contacts-plashka">
                                    <div class="contacts-block">
                                        <p class="cb-title">Связаться с нами</p>
                                        <a href="mailto:mail@nashvancouver.com" class="cb-value">mail@nashvancouver.com</a>
                                    </div>
                                    <div class="contacts-block">
                                        <p class="cb-title">Рекламный отдел</p>
                                        <a href="mailto:adv@nashvancouver.com" class="cb-value">adv@nashvancouver.com</a>
                                        <p class="cb-value"><span>+1 (234) 567-89-00</span></p>
                                    </div>
                                    <div class="contacts-block">
                                        <p class="cb-title">Если на сайте что-то не работает</p>
                                        <a href="mailto:tech@nashvancouver.com" class="cb-value">tech@nashvancouver.com</a>
                                    </div>
                                    <div class="contacts-block">
                                        <p class="cb-title">Идеи для материалов</p>
                                        <a href="mailto:editorial@nashvancouver.com" class="cb-value">editorial@nashvancouver.com</a>
                                    </div>
                                    <p class="contacts-warning">Мы получаем и читаем все письма, но, к сожалению, не можем ответить на все из них. Если у нас появятся дополнительные вопросы по теме, то мы обязательно свяжемся с вами. </p>
                                </div>
                            </div>
                            <div class="col-lg-5 col-12 preform-wrp">
                                <p class="preform">Также, вы можете воспользоваться нашей формой обратной связи</p>
                                <form id="form17" action="#">
                                    <div class="input-style">
                                        <input class="comment-input input-form input-valid" type="text" name="name" placeholder="Имя*">
                                        <p class="input-error">Ошибка ввода</p>
                                    </div>
                                    <div class="input-style">
                                        <input class="comment-input input-form input-valid" type="email" data-input="email" name="email" placeholder="E-mail*">
                                        <p class="input-error">Ошибка ввода</p>
                                    </div>
                                    <div class="input-style">
                                        <input class="comment-input input-form mask-phone" type="tel" data-input="phone" name="tel" placeholder="Номер телефона">
                                        <p class="input-error">Ошибка ввода</p>
                                    </div>
                                    <div class="input-style">
                                        <div class="custom-select-wrapper">
                                            <label for="categorySelect"></label>
                                            <select class="input-valid" id="categorySelect">
                                                <option value="none">none</option>
                                                <option value="Тема1">Тема1</option>
                                                <option value="Тема2">Тема2</option>
                                                <option value="Тема3">Тема3</option>
                                                <option value="Тема4">Тема4</option>
                                            </select>
                                            <div class="custom-select-head placeholder"><span>Тема письма*</span></div>
                                            <div class="custom-select-list-wrapper">
                                                <ul class="custom-select-list">
                                                    <li data-value="Тема1">Тема1</li>
                                                    <li data-value="Тема2">Тема2</li>
                                                    <li data-value="Тема3">Тема3</li>
                                                    <li data-value="Тема4">Тема4</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="input-style textarea-height">
                                        <textarea class="comment-input textarea-comment input-valid" name="message" placeholder="Сообщение*"></textarea>
                                        <p class="input-error">Ошибка ввода</p>
                                    </div>
                                    <input class="pop-form-btn open-thnx" type="submit" name="" value="Отправить">
                                </form>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="col-xl-3 col-lg-4 col-12">
                    <div class="banner-news-wrp">
                        <div class="banner-news">
                            <img src="../../build/img/afisha-banner1.png" alt="">
                        </div>
                    </div>
                    <div class="banner-news-wrp">
                        <div class="banner-news">
                            <img src="../../build/img/afisha-banner2.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</main>
