.vvodnay {
    line-height: 1.4;
    p {
        & + p {
            margin-top: 15px;
        }
    }
}
.revanklama-subtitle {
    font-weight: 800;
    font-size: 24px;
    margin-bottom: 12px;
    & + p {
        line-height: 1.4;
    }
}
.row-revanklama-links {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-right: -17px;
    margin-left: -17px;
    margin-bottom: 12px;
    margin-top: 25px;
}
.revanklama-links {
    margin-right: 17px;
    margin-left: 17px;
    margin-bottom: 20px;
    a {
        display: flex;
        align-items: center;
        img {
            width: 24px;
            margin-right: 9px;
        }
        span {
            font-weight: bold;
            font-size: 18px;
            line-height: 1.4;
            color: #148CFE;
        }
    }
    p {
        font-size: 14px;
        line-height: 1.4;
        color: #949494;
        padding-left: 33px;
    }
}
.revanklama-plashka {
    padding: 24px 24px 28px;
    background: rgba(208, 232, 255, 0.5);
    border: 1px solid #D0E8FF;
    border-radius: 10px;
    a {
        line-height: 1.4;
        border-bottom: 1px solid #148CFE;
        transition: .2s;
        &:hover {
            color: #148CFE;
        }
    }
}
.revanklama-plashka-title {
    font-weight: bold;
    font-size: 20px;
    line-height: 1.2;
    margin-bottom: 8px;
}
.revanklama-plashka-text {
    margin-bottom: 23px;
    line-height: 1.4;
}
.pop-form-btn.revanklama-btn {
    margin-top: 24px;
    width: 122px;
}
.row-revanklama-plashka {
    margin-top: 29px;
    padding-bottom: 28px;
}
.revanklama-blocks-wrp {
    margin-top: 32px;
    margin-bottom: 20px;
}
.revanklama-block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 210px;
    padding: 24px;
    background: rgba(208, 232, 255, 0.5);
    border: 1px solid #D0E8FF;
    border-radius: 10px;
    margin-bottom: 20px;
    img {
        width: 48px;
        margin-bottom: 52px;
    }
}
.revanklama-count {
    font-weight: bold;
    font-size: 32px;
    line-height: 1.2;
    margin-bottom: 4px;
}
.revanklama-text {
    line-height: 1.4;
    letter-spacing: -0.02em;
}
@media (max-width: 991px) {
    .revanklama-plashka {
        margin-top: 30px;
    }
    .row-revanklama-plashka {
        padding-bottom: 8px;
    }
}
