.author-flex {
    display: flex;
    flex-direction: column;
}
.plashka-author {
    position: relative;
    padding: 35px 40px 36px;
    background: #FFFFFF;
    border: 1px solid #DCDEED;
    box-shadow: 0px 16px 24px rgba(0, 72, 141, 0.06), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
    border-radius: 4px;
    margin-bottom: 20px;
}
.plashka-author-top {
    position: relative;
    z-index: 2;
    display: flex;
    margin-bottom: 24px;
}
.plashka-author-decor {
    position: absolute;
    top: 0;
    left: 0;
    background: #E1F0FF;
    border: 1px solid #148CFE;
    border-radius: 4px 4px 0px 0px;
    width: 100%;
    height: 110px;
    &::after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background: url('../img/vac-decor.svg') right no-repeat;
        background-size: cover;
    }
}
.plashka-author-img {
    width: 127px;
    height: 127px;
    padding: 6px;
    border: 1px solid #148CFE;
    margin-right: 26px;
    img {
        width: 100%;
        height: 100%;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
.plashka-author-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.plashka-author-name {
    font-weight: bold;
    font-size: 22px;
    line-height: 1.2;
    margin-bottom: 4px;
    & + p {
        line-height: 1.1;
        margin-bottom: 20px;
    }
}
.plashka-author-text {
    font-size: 18px;
    line-height: 1.4;
    margin-bottom: 16px;
}
.plashka-author-topic {
    display: flex;
    align-items: flex-start;
    * {
        font-weight: 600;
        font-size: 16px;
        line-height: 1.1;
    }
    span {
        color: #949494;
        margin-right: 12px;
    }
}
@media (max-width: 1199px) {
    .plashka-author-top, {
        display: block;
    }
    .plashka-author-img {
        margin-bottom: 20px;
    }
    .plashka-author-topic {
        display: block;
        p {
            margin-top: 4px;
        }
    }
}
@media (max-width: 767px) {
    .plashka-author {
        padding: 25px 20px 30px;
    }
}
