.poll-one {
    padding-top: 0;
    .result-title {
        margin-bottom: 16px;
    }
    .block-poll-img {
        img {
            width: 224px;
            height: 168px;
            margin-bottom: 16px;
        }
    }
    .list-article-line {
        flex-wrap: wrap;
        li {
            justify-content: flex-start;
            a {
                flex-shrink: 0;
            }
        }
    }
}
.poll-article-line {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    li {
        padding: 0 16px;
        border-left: 1px solid #D0E8FF;
        &:first-child {
            border: none;
            padding-left: 0;
        }
        img {
            height: 24px;
        }
    }
}
.poll-page-comment {
    margin-top: 32px;
    padding-bottom: 20px;
}
@media (max-width: 767px) {
    .poll-one {
        .flex-vertical {
            display: block;
            margin-bottom: 20px;
        }
    }
    .poll-article-line {
        margin-top: 15px;
        li {
            padding: 0 12px;
            margin-bottom: 8px;
            &:first-child {
                border-left: 1px solid #D0E8FF;
                padding-left: 12px;
            }
        }
    }
}
