.paid-title-3 {
    font-weight: bold;
    font-size: 18px;
    line-height: 1.2;
    margin-bottom: 8px;
    & + p {
        font-size: 14px;
        line-height: 1.1;
        margin-bottom: 16px;
    }
}
.shapka-paid {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px;
    margin-top: -16px;
    margin-bottom: 25px;
    margin-right: -24px;
    margin-left: -24px;
    background: #E1F0FF;
    border: 1px solid rgba(20, 140, 254, 0.5);
    border-radius: 4px 4px 0px 0px;
     p {
         font-weight: 800;
        &:first-child {
             font-size: 24px;
        }
     }
}
.shapka-blue {
    font-size: 22px;
    color: #148CFE;
}
.count-symbols {
    text-align: right;
    font-style: italic;
    font-size: 12px;
    line-height: 1.1;
    margin-top: 8px;
}
.section-paid-input {
    padding-bottom: 16px;
    &.hello {
        .flex-vertical-none, .paid-title-none {
            display: none;
        }
        .flex-vertical-hello {
            display: flex;
        }
        .paid-title-hello {
            display: block;
        }
    }
}
.flex-vertical-hello, .paid-title-hello {
    display: none;
}
.back-to-paket {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
    width: fit-content;
    img {
        margin-right: 8px;
    }
    span {
        font-size: 14px;
        line-height: 1.1;
        color: #148CFE;
    }
}
.vazhno-block {
    width: 100%;
    min-height: 52px;
    display: flex;
    align-items: center;
    border-radius: 10px;
    margin-bottom: 24px;
    padding: 16px 24px;
    background: rgba(208, 232, 255, 0.5);
    border: 1px solid #D0E8FF;
    p {
        font-size: 14px;
        line-height: 1.4;
        span {
            color: #148CFE;
            font-weight: bold;
        }
    }
}
.paid-title-2-wrp {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 8px;
    border-bottom: 2px solid #222222;
    margin-bottom: 16px;
    .flex-vertical {
        p {
            font-size: 14px;
            line-height: 1.1;
        }
        span {
            cursor: pointer;
            font-size: 14px;
            line-height: 1.1;
            color: #148CFE;
            margin-left: 9px;
        }
    }
}
.paid-title-2 {
    font-weight: bold;
    font-size: 20px;
    line-height: 1.2;
}
.vac-inputs {
    .col-12 {
        margin-bottom: 16px;
    }
}
.ad {
    display: flex;
    align-items: center;
    font-size: 12px;
    line-height: 1.1;
    color: #949494;
    height: 100%;
}
.label-flex {
    display: flex;
    align-items: center;
}
.section-vac-term {
    margin-top: 32px;
    margin-bottom: 16px;
}
.container.container-custom .row.row-vac-term {
    margin-left: -8px;
    margin-right: -10px;
}
.vac-cube {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 128px;
    height: 80px;
    background: rgba(208, 232, 255, 0.2);
    border: 1px solid #D0E8FF;
    border-radius: 2px;
    cursor: pointer;
    margin: 0 8px 16px;
    p {
        font-weight: bold;
        &:last-child {
            font-size: 20px;
            color: #148CFE;
            margin-top: 4px;
        }
    }
    &.active {
        border: 2px solid #148CFE;
    }
}
.promocode-flex {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    .comment-input {
        width: 270px;
        margin-right: 10px;
    }
}
.promocode-btn {
    @extend %BTN;
    width: 136px;
}
.razmest-btn {
    @extend %BTN;
    width: 242px;
    margin-right: 16px;
}
.razmest-wrp {
    margin-top: 35px;
    margin-bottom: 52px;
    display: flex;
    align-items: center;
    p {
        font-size: 12px;
        line-height: 1.1;
        color: #949494;
    }
}

.vac-warning {
    padding: 24px 24px 24px 30px;
    background: rgba(208, 232, 255, 0.5);
    border: 1px solid #D0E8FF;
    border-radius: 10px;
    margin-top: 32px;
    margin-bottom: 28px;
    font-size: 14px;
    line-height: 1.4;
    span {
        font-weight: bold;
        color: #148CFE;
    }
    ol {
        counter-reset: myCounter;
        margin-top: 16px;
        li {
            line-height: 1.3;
            &::before {
                content: counter(myCounter) ". ";
                counter-increment: myCounter;
                margin-right: 5px;
            }
            & + li {
                margin-top: 8px;
            }
        }
    }
    &.vac-warning-free {
        margin-top: 0;
    }
}
// drag-n-drop
.file-drop-area {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 8px;
    width: 100%;
    background: #E7F3FF;
    border: 1px dashed #148CFE;
    box-sizing: border-box;
    border-radius: 4px;
    transition: 0.2s;
    height: 40px;
    cursor: pointer;
    &.is-active {
        background: darken(#E7F3FF, 5%);
    }
    &.active {
        justify-content: flex-start;
        .drop-success {
            width: 100%;
            .file-msg-wrp {
                width: 100%;
                .file-msg {
                    width: 88%;
                }
            }
        }
    }
}
.file-msg-wrp {
    font-size: 0;
}
.comment-input.comment-input-name {
    &.comment-textarea {
        height: 120px;
    }
}
.comment-input.comment-input-name.comment-textarea.long {
    height: 240px;
}
.fake-btn {
    flex-shrink: 0;
    margin-right: 4px;
    font-size: 14px;
    line-height: 1.1;
    color: #148CFE;
    &.hidden {
        display: none;
    }
}

.file-msg {
  font-size: 14px;
  line-height: 1.1;
  white-space: nowrap;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  &.active {
      font-size: 12px;
      line-height: 1.2;
  }
}
.drop-success {
    display: flex;
    align-items: center;
    &.hidden {
        display: none;
    }
}
.drop-error {
    font-size: 14px;
    line-height: 1.1;
    color: red;
    &.hidden {
        display: none;
    }
}
.drop-warning {
    font-size: 12px;
    line-height: 110%;
    color: #949494;
}
.file-input {
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      width: 100%;
      cursor: pointer;
      opacity: 0;
      &:focus {
        outline: none;
    }
}
.file-size {
    font-size: 10px;
    line-height: 1.2;
    color: #A5AEB7;
    display: none;
    &.active {
        display: block;
    }
}
.remove {
    position: relative;
    z-index: 2;
    width: 24px;
    height: 24px;
    background: #148CFE;
    flex-shrink: 0;
    display: none;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-right: 8px;
    cursor: pointer;
    &:hover {
        background: darken(#148CFE, 5%);
    }
    &.active {
        display: flex;
    }
    img {
        width: 16px;
    }
}
.checkbox-warning {
    .checkbox__text {
        color: #222222;
    }
}
@media (max-width: 1199px) {
    .paid-title-2-wrp {
        display: block;
        .flex-vertical {
            margin-top: 4px;
        }
    }
    .shapka-paid {
        display: block;
    }
    .shapka-blue {
        margin-top: 10px;
    }
    .drop-warning {
        margin-top: 10px;
    }
    .razmest-wrp {
        display: block;
    }
    .razmest-btn {
        margin-right: 0;
        width: 100%;
        margin-bottom: 10px;
    }
    .vac-inputs .col-12.label-flex {
        margin-bottom: 26px;
    }
}
@media (max-width: 767px) {
    .vac-warning ol {
        margin-top: 10px;
    }
    .promocode-flex {
        display: block;
    }
    .promocode-btn {
        margin-top: 15px;
    }
    .shapka-paid {
        margin-right: -16px;
        margin-left: -16px;
        margin-top: -16px;
        padding: 16px;
        p:first-child {
            font-size: 22px;
        }
    }
    .shapka-blue {
        font-size: 20px;
    }
    .vac-warning {
        padding: 16px 16px 16px 20px;
    }
    .razmest-wrp {
        margin-bottom: 22px;
    }
}
